{% extends '@IrmagSite/layout.html.twig' %}

{% block title %}Акции - Архив{% endblock %}

{% block body %}

    <section class="action container">

        <h1>Архив акций</h1>

        {% set breadcrumbs = { 'Акции': url('irmag_action'), 'Архив': null } %}
        {% include '@IrmagSite/Default/breadcrumbs.html.twig' with breadcrumbs %}

        {% if actions is not empty %}
            {% for action in actions %}
                {% embed '@IrmagSite/Action/list-action.html.twig' with { 'left_class': 'col-xs-12' } %}
                    {% block right %}{% endblock %}
                {% endembed %}

                {% if loop.last is same as(false) %}
                    <hr>
                {% endif %}
            {% endfor %}

            <hr>
            {{ knp_pagination_render(actions) }}
        {% else %}
            <div class="alert alert-info">В архиве акций пока что ничего нет...</div>
        {% endif %}

    </section>

{% endblock %}
