{% if app.request.cookies.has('_catalog_view_type') %}
    {% set catalog_view_type = app.request.cookies.get('_catalog_view_type') == 'line' ? 'line' : 'grid' %}
{% elseif irmag.mobile %}
    {% set catalog_view_type = 'line' %}
{% else %}
    {% set catalog_view_type = 'grid' %}
{% endif %}

{# разделитель страниц #}
{% if app.request.isXMLHttpRequest is same as(true) and app.request.request.has('show-page-separator') is same as(true) %}
    {% set paginationData = pagination.getPaginationData() %}
    <div class="page-separator text-center text-muted">
        <small>Страница {{ paginationData.current }} из {{ paginationData.pageCount }}</small>
    </div>
{% endif %}

{% if pagination %}
    <section class="catalog">
        <div class="row" id="page-{{ pagination.currentPageNumber }}">
            {% for element in pagination %}
                {% include '@IrmagSite/Catalog/catalog-element-' ~ catalog_view_type ~ '.html.twig' %}
            {% endfor %}
        </div>
    </section>

    <div class="navigation">
        {{ knp_pagination_render(pagination, '@IrmagCore/Pagination/sliding-with-next-btn.html.twig') }}
    </div>
{% endif %}