.brand-zone-bg {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
}

.brand-zone-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 1000px;
    height: 500px;
    margin: auto;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;
}

.brand-zone-logo {
    background: url('sprites.png') no-repeat -28px -30px;
    width: 232px;
    height: 139px;
    position: relative;
    left: 385px;
    right: 0;
    bottom: -45px;
    margin: auto;
    z-index: 1;
}

.button-container {
    display: flex;
    flex-direction: row;
    width: 1010px;
    height: 80px;
    z-index: 1;
    position: relative;
    left: 0;
    right: 0;
    bottom: -260px;
    margin: auto;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.button-dish {
    background: url('sprites.png') no-repeat -33px -175px;
    width: 20%;
    cursor: pointer;
}
    .button-dish:hover {
        background: url('sprites.png') no-repeat -28px -246px;
    }
    .button-dish:hover .crosshair{
        display: block;
        left: 650px;
        bottom: 150px;
    }

.button-cutlery {
    background: url('sprites.png') no-repeat -237px -175px;
    width: 20%;
    cursor: pointer;
}
    .button-cutlery:hover {
        background: url('sprites.png') no-repeat -230px -246px;
    }
    .button-cutlery:hover .crosshair {
        display: block;
        left: -230px;
        bottom: 200px;
    }

.button-kitchen {
    background: url('sprites.png') no-repeat -438px -175px;
    width: 20%;
    cursor: pointer;
}
    .button-kitchen:hover {
        background: url('sprites.png') no-repeat -433px -246px;
    }
    .button-kitchen:hover .crosshair {
        display: block;
        left: -250px;
        bottom: 280px;
    }

.button-store {
    background: url('sprites.png') no-repeat -646px -175px;
    width: 20%;
    cursor: pointer;
}
    .button-store:hover {
        background: url('sprites.png') no-repeat -641px -246px;
    }
    .button-store:hover .crosshair {
        display: block;
        left: -185px;
        bottom: 250px;
    }

.button-table {
    background: url('sprites.png') no-repeat -850px -175px;
    width: 20%;
    cursor: pointer;
}
    .button-table:hover {
        background: url('sprites.png') no-repeat -845px -246px;
    }
    .button-table:hover .crosshair {
        display: block;
        left: -580px;
        bottom: 120px;
    }

.crosshair {
    background: url('sprites.png') no-repeat -316px -31px;
    position: relative;
    width: 120px;
    height: 120px;
    z-index: 2;
    display: none;
    animation: pulse 2s infinite;
    animation-timing-function: ease-out;
}

@keyframes pulse {
    from {
        transform : scale(1);
    }
    50% {
        transform : scale(1.25);
    }
    to {
        transform : scale(1);
    }
}
