section.my-discount {
    h1.my-discount {
        font-size: 48px;
    }

    .my-discount-percent {
        background-image: url('#{$irmag-cat-percent}');
        width: 128px;
        height: 128px;
    }

    .progress {
        height: 60px;

        .progress-bar {
            &.progress-bar-empty {
                background-color: #f5f5f5;
                box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset;

                .discount-info {
                    color: #888;
                }
            }

            &.progress-bar-12 {
                background-color: $irmag-color-4;
            }

            .discount-info {
                margin-top: .5em;
                font-size: $font-size-large;

                // xs
                @media (max-width: $screen-xs-max) {
                    .discount {
                        font-size: $font-size-base;
                    }

                    .price {
                        font-size: $font-size-small;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}
