{% import '@IrmagSite/Default/macro.breadcrumbs-item.html.twig' as breadcrumb %}

{% if breadcrumbs_last_muted is not defined %}
    {% set breadcrumbs_last_muted = true %}
{% endif %}

<!-- .breadcrumb -->
<nav>
    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        {{ breadcrumb.item(url('irmag_homepage'), 'Интернет-магазин IRMAG') }}
        {% if breadcrumbs is defined -%}
            {% for title, url in breadcrumbs -%}
                {% if loop.last and breadcrumbs_last_muted is same as(true) -%}
                    {{- breadcrumb.item(url, title, true) -}}
                {% else -%}
                    {{- breadcrumb.item(url, title) -}}
                {% endif %}
            {% endfor %}
        {% endif %}

    </ol>
</nav>
<!-- /.breadcrumb -->

