{% if carousels %}
{% spaceless %}
    <div class="index-elements-carousel container" id="index-elements-carousel">
        {% for carousel in carousels %}
            <div class="row carousel-slide">
                <div class="col-xs-12">
                    <h2 class="text-center mb-20">{{ carousel.name }}</h2>

                    <div class="catalog catalog-sm catalog-not-expandable">
                        <div class="row">
                            {% for element in carousel.elements %}
                                {% if loop.index0 < 6 %}
                                    {% include '@IrmagSite/Catalog/catalog-element-grid.html.twig' with { is_grouped: false } %}
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <script>
        $(function() {
            IRMAG.IndexElementsCarousel.init();
            new LazyLoad({ container: document.getElementById('index-elements-carousel') });
        });
    </script>
{% endspaceless %}
{% endif %}
