{% extends '@IrmagSite/layout.html.twig' %}

{% block body %}

    {{ render(controller('Irmag\\SiteBundle\\Controller\\DefaultController::indexBannersAction')) }}

    {% include '@IrmagSite/Default/index-goals.html.twig' %}

    {{ render_hinclude(controller('Irmag\\SiteBundle\\Controller\\DefaultController::indexElementsCarouselAction'), { default: '@IrmagSite/Default/heart-loading.html.twig', attributes: { 'evaljs': 'true' } }) }}

    {{ render_hinclude(controller('Irmag\\SiteBundle\\Controller\\DefaultController::indexLastBlogPostsAction'), { default: '@IrmagSite/Default/heart-loading.html.twig', attributes: { 'evaljs': 'true' } }) }}

{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            if ('undefined' !== typeof IrmagIndexBanners) {
                IRMAG.IndexBanner.init(IrmagIndexBanners);
            }
        });
    </script>
{% endblock %}
