{% macro item(url, title, is_last) %}
{% spaceless %}
    {% if is_last is defined and is_last is same as(true) %}
        <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <span itemprop="name">{{ title }}</span>
        </li>
    {% else %}
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="{{ url }}" itemprop="item">
                <span itemprop="name">{{ title }}</span>
            </a>
        </li>
    {% endif %}
{% endspaceless %}
{% endmacro %}
