@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";

.irmag-modal-error {
    &.lg {
        .modal-dialog {
            width: 90%;
        }
    }

    .modal-dialog {
        margin-top: 5% !important;

        .modal-content {
            overflow: hidden;

            .modal-header {
                background-color: $brand-danger;
                color: white;
            }

            .modal-body {
                overflow: auto;
                max-height: 700px;
            }
        }
    }
}
