<div class="scroller" id="scroller">
    <div class="scroller-wrapper">
        <a href="#" class="scroll scroll-up">
            <i class="fa fa-arrow-circle-up fa-fw fa-2x"></i>
        </a>

        <a href="#" class="scroll scroll-down hidden-xs hidden-sm">
            <i class="fa fa-arrow-circle-down fa-fw fa-2x"></i>
        </a>
    </div>
</div>
