{% extends '@IrmagProfile/layout-wide.html.twig' %}

{% trans_default_domain 'irmag_profile' %}

{% import '@IrmagProfile/Profile/macro.avatar.html.twig' as avatar %}

{% block title %}🐔 Профиль пользователя "{{ user.name }}"{% endblock %}

{% block open_graph_image -%}
    <meta property="og:image" content="{{ avatar.getUrl(user) }}">
{%- endblock %}

{% block content %}

    <section class="profile-form">

        <h1>
            Профиль пользователя "{{ user.name }}"
            {%- include '@IrmagSite/Admin/helper-sonata-edit.html.twig' with { path: path('admin_irmag_profile_user_edit', { id: user.id }) } -%}
        </h1>

        {% include '@IrmagSite/Default/breadcrumbs.html.twig' with { breadcrumbs: { ('Профиль пользователя "' ~ user.name ~ '"'): null } } %}

        <div class="row mb-20">
            <div class="col-xs-12 text-center avatar-wrapper-150">
                {{ avatar.get(user) }}
            </div>
        </div>

        <table class="table">
            <tbody>
                <tr>
                    <td>Логин</td>
                    <td>{{ user.username }} (id: {{ user.id }})</td>
                </tr>
                <tr>
                    <td>Дата регистрации</td>
                    <td>{{ user.createdAt|date(constant('Irmag\\SiteBundle\\Config::DATETIME_FORMAT')) }}</td>
                </tr>
                <tr>
                    <td>Дата последнего входа</td>
                    <td>{{ user.lastLoginAt|date(constant('Irmag\\SiteBundle\\Config::DATETIME_FORMAT')) }}</td>
                </tr>
                <tr>
                    <td>Кол-во заказов</td>
                    <td>{{ orders_count }}</td>
                </tr>
                <tr>
                    <td>Кол-во комментариев</td>
                    <td>
                        {% if comments_count > 0 %}
                            <a href="{{ path('irmag_reviews', { 'user': user.id }) }}" title="Нажмите, чтобы посмотреть все комментарии пользователя." data-toggle="tooltip">{{ comments_count }}</a>
                        {% else %}
                            {{ comments_count }}
                        {% endif %}
                    </td>
                </tr>
                {% if user.addressCity %}
                    <tr>
                        <td>{% trans %}profile.label.city{% endtrans %}</td>
                        <td>{{ user.addressCity.name }}</td>
                    </tr>
                {% endif %}
                {% if user.gender %}
                    <tr>
                        <td>{% trans %}profile.label.gender{% endtrans %}</td>
                        <td>
                            {% if user.gender == constant('Irmag\\ProfileBundle\\Form\\Type\\GenderType::FEMALE') %}
                                {% trans %}profile.gender.female{% endtrans %}
                            {% else %}
                                {% trans %}profile.gender.male{% endtrans %}
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                {% if user.birthday %}
                    <tr>
                        <td>День рождения</td>
                        <td>{{ user.birthday|date(constant('Irmag\\SiteBundle\\Config::DATE_FORMAT')) }}</td>
                    </tr>
                {% endif %}
                {% if user.profession %}
                    <tr>
                        <td>{% trans %}profile.label.profession{% endtrans %}</td>
                        <td>{{ user.profession }}</td>
                    </tr>
                {% endif %}
                {% if user.about %}
                    <tr>
                        <td>{% trans %}profile.label.about{% endtrans %}</td>
                        <td>{{ user.about|nl2br }}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>

        <div class="text-center">
            <div class="btn-group">
                {% set return_url = app.session.has('return_url') ? app.session.get('return_url') : url('irmag_homepage') %}
                <a href="{{ return_url }}" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i> Вернуться на сайт</a>
            </div>
        </div>

    </section><!-- /.profile-form -->

{% endblock %}
