{% extends '@IrmagSite/layout.html.twig' %}

{% block title %}Мои заказы{% endblock %}

{% block body %}
    <section class="container my-orders">

        <h1>
            Мои заказы
            {{ tab == 'canceled' ? '- Отменённые' }}
            {{ tab == 'merged' ? '- Объединённые' }}
            {{ tab == 'history' ? '- История' }}
        </h1>

        {% include '@IrmagSite/Default/breadcrumbs.html.twig' with { breadcrumbs: { 'Мой профиль': url('irmag_profile'), 'Мои заказы': null } } %}

        {% for flash_message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ flash_message }}
            </div>
        {% endfor %}

        <div class="row">
            <div class="col-md-4 col-md-push-8 col-lg-3 col-lg-push-9">
                <div class="panel panel-warning mb-20">
                    <div class="panel-heading">
                        <a href="#cancel-order" class="btn btn-link border-bottom-dotted p-0" data-toggle="collapse">Отмена заказа</a>
                    </div>
                    <div class="panel-body collapse{{ irmag.desktop ? ' in' }}" id="cancel-order">
                        Отмена заказа возможна по телефону <i class="fa fa-phone"></i> <b><a href="tel:991100">99-11-00</a></b> или через "онлайн-консультант" в рабочее время, в любое другое время можно отправить письмо на эл.почту <b><a href="mailto:sales@irmag.ru">sales@irmag.ru</a></b>, в котором нужно сообщить об отмене, обязательно указывайте № заказа, который Вы хотите отменить.
                    </div>
                </div>

                <div class="panel panel-info mb-20">
                    <div class="panel-heading">
                        <a href="#re-order" class="btn btn-link border-bottom-dotted p-0" data-toggle="collapse">Дозаказ</a>
                    </div>
                    <div class="panel-body collapse{{ irmag.desktop ? ' in' }}" id="re-order">
                        Если вы что-то хотите добавить уже к отправленному заказу, Вам следует сделать дозаказ на нужные позиции. Т.е., оформляется еще один заказ с необходимыми товарами, в комментарии пишется слово: дозаказ, и отправляется. Не переживайте, если сумма дозаказа меньше минимальной для бесплатной доставки, оплата за доставку уберется менеджером в программе вручную.<br>
                        <b>Внимание</b>: все дозаказы принимаются до того же времени, что и основные заказы.
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-md-pull-4 col-lg-9 col-lg-pull-3">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li{% if tab is null %} class="active"{% endif %}><a href="{{ path('irmag_profile_orders') }}">Текущие<span class="hidden-xs"> заказы</span></a></li>
                    <li{% if tab == 'history' %} class="active"{% endif %}><a href="{{ path('irmag_profile_orders', { tab: 'history' }) }}">История<span class="hidden-xs"> заказов</span></a></li>
                    <li{% if tab == 'merged' %} class="active"{% endif %}><a href="{{ path('irmag_profile_orders', { tab: 'merged' }) }}">Объединённые<span class="hidden-xs"> заказы</span></a></li>
                    <li{% if tab == 'canceled' %} class="active"{% endif %}><a href="{{ path('irmag_profile_orders', { tab: 'canceled' }) }}">Отменённые<span class="hidden-xs"> заказы</span></a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane tab-pane-bordered active">

                        {% for order in pagination %}
                            {% include '@IrmagSite/My/panel-order.html.twig' with { order: order, view: 'list' } only %}
                        {% else %}
                            {# если заказов нет #}
                            <div class="mt-20 mb-20">
                                {% embed '@IrmagSite/Default/empty-page-cat-say.html.twig' %}
                                    {% block text %}
                                        <h3>Увы, но тут пусто &#9785;</h3>

                                        <p>
                                            Вы ещё не сделали ни одного заказа.
                                            <br>
                                            Перейдите в <a href="{{ path('irmag_catalog') }}">каталог</a> для покупок.
                                        </p>
                                    {% endblock %}

                                    {% block image %}
                                        <div class="irmag-cat-pic empty-orders-history center-block"></div>
                                    {% endblock %}
                                {% endembed %}
                            </div>
                        {% endfor %}

                        <div class="navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>

                    </div>
                </div><!-- /.tab-content -->
            </div><!-- end block -->
        </div><!-- /.row -->

    </section>
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
           IRMAG.MyOrders.init();
        });
    </script>
{% endblock %}
