.login-form {
    //.login-with {
    //    opacity: .8;
    //
    //    &.fa-google { color: $irmag-social-color-google; }
    //    &.fa-instagram { color: $irmag-social-color-instagram; }
    //    &.fa-at { color: $irmag-social-color-at; }
    //    &.fa-twitter { color: $irmag-social-color-twitter; }
    //    &.fa-yahoo { color: $irmag-social-color-yahoo; }
    //    &.fa-vk { color: $irmag-social-color-vk; }
    //    &.fa-facebook { color: $irmag-social-color-facebook; }
    //    &.fa-odnoklassniki { color: $irmag-social-color-odnoklassniki; }
    //
    //    &:hover {
    //        opacity: 1;
    //        text-decoration: none;
    //    }
    //}
}
