.registration-form {
    .panel {
        label {
            display: block;
        }

        .checkbox {
            margin-top: 0;
            margin-bottom: 0;
            line-height: 22px;
        }

        .form-group:last-child {
            margin-bottom: 0;
        }
    }
}

.registration-success-pic {
    width: 256px;
    height: 256px;
    background-image: url('#{$irmag-cat-info}');
}
