<div class="navbar-user-menu collapse navbar-collapse navbar-right" id="navbar-user-menu">
    <ul class="nav navbar-nav navbar-right">

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') -%}
            {% import '@IrmagProfile/Profile/macro.avatar.html.twig' as avatar %}

            {% if notification_count > 0 %}
                <li class="dropdown">
                    <a href="{{ url('irmag_profile_notifications') }}" class="notification-bell" data-toggle="tooltip" data-placement="bottom" title="У Вас есть непрочитанные уведомления.">
                        <i class="fa fa-bell fa-fw"></i>
                        <span class="visible-xs-inline">Уведомления</span>
                        <span class="badge">{{ notification_count }}</span>
                    </a>
                </li>
            {% endif %}

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" role="button">
                    <i class="fa fa-user fa-fw"></i>
                    <span class="hidden-sm username">
                        {{ app.user.name }}
                        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                            <small class="label label-danger impersonate" title="Вы выдаёте себя за другого пользователя." data-toggle="tooltip" data-placement="left"><i class="fa fa-fw fa-lg fa-user-secret"></i></small>
                        {% endif %}
                    </span>
                    <i class="caret"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ url('irmag_profile') }}">
                            <i class="mr-10">{{ avatar.get(app.user, 'avatar_small_thumb', 24) }}</i>
                            Мой профиль
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('irmag_profile_orders') }}">
                            <i class="fa fa-lg fa-shopping-bag fa-fw mr-10"></i>
                            Мои заказы
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('irmag_profile_discount') }}">
                            Моя скидка
                            <span class="label label-info right">{{ app.user.discount|default(0) }} %</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('irmag_profile_bonus') }}">
                            Мои фантики
                            <span class="label label-warning right">{{ app.user.bonus|default(0) }} Ф.</span>
                        </a>
                    </li>
                    <li>
                        {% if irmag.basket.data.promocode %}
                            <a href="javascript:;" class="deactivate-promocode-btn" data-toggle="tooltip" data-placement="left" title="{{ 'tooltip.promocode_deactivate'|trans({}, 'irmag_site') }}">
                                <span class="border-bottom-dotted text-success">Промокод</span>
                                <span class="label label-success right">{{ irmag.basket.data.promocode.code }}</span>
                            </a>
                        {% else %}
                            <a href="javascript:;" class="activate-promocode-btn">
                                <i class="fa fa-lg fa-tag fa-fw text-info mr-10"></i>
                                <span class="border-bottom-dotted">Активировать промокод</span>
                            </a>
                        {% endif %}
                    </li>

                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <li class="divider"></li>
                        <li>
                            <a href="{{ url('irmag_homepage', { '_switch_user': '_exit' }) }}" class="logout">
                                <i class="fa fa-chevron-circle-left fa-fw"></i>
                                Выйти из пользователя
                            </a>
                        </li>
                    {% endif %}

                    <li class="divider"></li>

                    <li>
                        <a href="{{ url('security_logout') }}" class="logout">Выйти <span class="fa fa-sign-out fa-fw right"></span></a>
                    </li>
                </ul>
            </li>
        {%- else %}
            <li>
                <a href="{{ url('security_login') }}" rel="nofollow">
                    <span class="hidden-sm">ВОЙТИ</span>
                    <i class="fa fa-sign-in fa-fw"></i>
                </a>
            </li>
        {% endif %}

    </ul>
</div>
