<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">

    <meta name="keywords" content="{% if meta_keywords is defined and meta_keywords is not empty %}{{ meta_keywords }}{% else %}Irmag, Ирмаг, интернет-магазин, интернет магазин Иркутск, нижнее белье, косметика, сайт косметики, парфюмерия, туалетная вода, бытовая химия, парфюм, уход за лицом, детские товары, купить подгузники, Merries, Moony, Муни, подгузники, трусики, пелёнки, колготки купить, подарочные наборы, подарки, что подарить, купить духи, отзывы, цены отзывы, корм для кошек, корм для собак, отзывы о косметике, отзывы о парфюмерии, продукты купить, бесплатная доставка, интернет доставка бесплатно{% endif %}">
    <meta name="description" content="{% if meta_description is defined and meta_description is not empty %}{{ meta_description }}{% else %}Интернет-магазин Irmag.ru Иркутск — косметика, парфюмерия, бытовая химия, товары для дома и семьи, товары для детей, профессиональные средства для парикмахерских, товары для дачи, продукты питания. Бесплатная доставка по Иркутску, Ангарску, Шелехову и всей России. Низкие цены, скидки, акции, распродажи.{% endif %}">
    <meta name="robots" content="{{ meta_robots_noindex is not defined ? 'index' : 'noindex' }},{{ meta_robots_nofollow is not defined ? 'follow' : 'nofollow' }}">

    <title>
        {%- block _title -%}
            {%- if irmag_site_domain != 'irmag.ru' -%}[{{ irmag_site_domain }}] | {% endif -%}
            {{- app.request.host == irmag_forum_domain ? '📣 ' -}}
            {%- if block('title') is defined -%}
                {{ block('title') }} - IRMAG.RU
            {%- else -%}
                🎄 Интернет-магазин IRMAG.RU — доставка по Иркутску, области и всей России косметики, парфюмерии, бытовой химии, товаров для дома и семьи.
            {%- endif -%}
        {%- endblock -%}
    </title>

    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-touch-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-touch-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-touch-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-touch-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-touch-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-touch-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-touch-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon-180x180.png') }}">
    <link rel="icon" type="image/png" href="{{ asset('favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ asset('android-chrome-192x192.png') }}" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ asset('favicon-96x96.png') }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ asset('favicon-16x16.png') }}" sizes="16x16">
    <link rel="manifest" href="{{ asset('manifest.json') }}">
    <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5">
    <link rel="search" type="application/opensearchdescription+xml" href="{{ asset('opensearch.xml') }}" title="ИРМАГ">

    <meta name="include_mode" content="async">
    <meta name="apple-mobile-web-app-title" content="IRMAG">
    <meta name="application-name" content="IRMAG">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="{{ asset('mstile-144x144.png') }}">
    <meta name="theme-color" content="{{ random(['#FFC405', '#81D852', '#51BBF4', '#E07DAE', '#F68C13']) }}">

{% block additional_meta %}{% endblock %}

{% block open_graph %}
    <meta property="og:title" content="{{ block('_title')|e }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ app.request.attributes.has('_route') ? url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) : 'https://' ~ irmag_site_domain }}">
    {% block open_graph_image -%}<meta property="og:image" content="{{ absolute_url(asset('build/images/irmag-heart-colored.png')) }}">{% endblock %}
{% endblock %}

    <link rel="stylesheet" href="{{ preload(asset('build/vendor.css'), { as: 'style' }) }}">
    <link rel="stylesheet" href="{{ preload(asset('build/irmag-site.css'), { as: 'style' }) }}">
</head>
<body>
    <!--noindex-->
    <noscript>
        <div class="noscript-padding"></div>
        <div class="noscript-warning bg-danger text-danger text-center">Для полноценной работы сайта необходимо включить JavaScript.</div>
    </noscript>
    <!--/noindex-->

    <div class="main-wrapper">
        <div class="main">
            {% include '@IrmagSite/header.html.twig' %}

            {% block body %}{% endblock %}
        </div>
    </div>

    {% include '@IrmagSite/footer.html.twig' %}

    {#{% include '@IrmagSite/snowflakes.html.twig' %}#}

    {% if is_granted('ROLE_SONATA_ADMIN') -%}
        {% include '@IrmagSite/Admin/admin-dashboard-btn.html.twig' %}
    {%- endif %}

    <!-- stylesheets from cdn -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600&amp;subset=cyrillic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha256-UK1EiopXIL+KVhfbFa8xrmAWPeBjMVdvYMYkTAEv/HI=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.4.2/css/bootstrap-slider.min.css" integrity="sha256-5UVJ9kXJWv8hukJVF0RSjr8TNv9EODuATa9BninzA3w=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.10.0/css/bootstrap-markdown.min.css" integrity="sha256-umMZCcE/LUcJ3F3V/D6NmvQxdm3OWtRMiMApkNnDIOw=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.min.css" integrity="sha256-mlKJFBS1jbZwwDrZD1ApO7YFS6MA1XDN37jZ9GDFC64=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.6/jquery.fancybox.min.css" integrity="sha256-Vzbj7sDDS/woiFS3uNKo8eIuni59rjyNGtXfstRzStA=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/at.js/1.5.4/css/jquery.atwho.min.css" integrity="sha256-JeJdMHBcISoXMz1NIZrsoNPsHQrhctl6EJs1su5kJ98=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.css" integrity="sha256-ijlUKKj3hJCiiT2HWo1kqkI79NTEYpzOsw5Rs3k42dI=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2-bootstrap.min.css" integrity="sha256-NAWFcNIZdH+TS1xpWujF/EB/Y8gwBbEOCoaK/eqaer8=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emojify.js/1.1.0/css/basic/emojify.min.css" integrity="sha256-UOrvMOsSDSrW6szVLe8ZDZezBxh5IoIfgTwdNDgTjiU=" crossorigin="anonymous">

    {% if is_granted('ROLE_SONATA_ADMIN') -%}
        <link rel="stylesheet" href="{{ asset('build/irmag-admin.css') }}">
    {%- endif %}

    {% block additional_stylesheets %}{% endblock %}

    <!-- javascripts from cdn -->
    <script src="https://cdn.jsdelivr.net/npm/Hinclude@1.2.0/hinclude.js" integrity="sha256-HiyQGBqUawrxMsK23q4RAfD/t2nJEHBJY1pXZY1zDjg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.0/js/bootstrap.min.js" integrity="sha256-kJrlY+s09+QoWjpkOrXXwhxeaoDz9FW5SaxF8I0DibQ=" crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/responsive-bootstrap-toolkit-rogovdm@0.0.1/dist/bootstrap-toolkit.min.js" integrity="sha256-kiBkxkGUNdKiCYiznNdJmOq6q/nEmGaDDvMDHXAYDjA=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js" integrity="sha256-4F7e4JsAJyLUdpP7Q8Sah866jCOhv72zU5E8lIRER4w=" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.4.2/bootstrap-slider.min.js" integrity="sha256-Knv01D1dgVDz5QEqSiGDegv4q+bgOIp8uiFGI/i1XVE=" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.min.js" integrity="sha256-oZUp5ULh9oikWgL4PJ/ceUdVHxFP0v2F1wQBC7iLuOQ=" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.10.0/js/bootstrap-markdown.min.js" integrity="sha256-vT9X0tmmfKfNTg0U/Iv0rM9mhu8LA0MaDFrzIflHN9A=" crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-markdown@2.10.0/locale/bootstrap-markdown.ru.js" integrity="sha256-B7kjBjEZ/77y7Vsq3ZmU/Ge5EawQfV8z840iAeBjw+U=" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js" integrity="sha256-tW5LzEC7QjhG0CiAvxlseMTs2qJS7u3DRPauDjFJ3zo=" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.ru.min.js" integrity="sha256-iGDUwn2IPSzlnLlVeCe3M4ZIxQxjUoDYdEO6oBZw/Go=" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha256-NXRS8qVcmZ3dOv3LziwznUHPegFhPZ1F/4inU7uC8h0=" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.6/jquery.fancybox.min.js" integrity="sha256-x4elcEZhSRoId3IcqTS2aqJqxw+KjquMzEjIbIakFVY=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/social-likes/3.1.3/social-likes.min.js" integrity="sha256-WsZwNGoPcZgn0oK4VCgjrDLBCua6hrjBePBpDffbZi0=" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/bloodhound.min.js" integrity="sha256-TBfoM9Qxb6Hl3RNEhFnmvBMWFxuAMRefDagkcAWMwPc=" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.jquery.min.js" integrity="sha256-nORlj0J8ZjvGz+6rtHb2Jcc0QDASsDUNOwUkfcwoW8A=" crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-menu-aim@1.1.0/jquery.menu-aim.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js" integrity="sha256-JDVyLQRqvRSTL/6WaPud93JXpfEdW11zwjqhoNgkGXc=" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/emojify.js/1.1.0/js/emojify.min.js" integrity="sha256-VAB5tAlKBvgaxw8oJ1crWMVbdmBVl4mP/2M8MNRl+4E=" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Caret.js/0.3.1/jquery.caret.min.js" integrity="sha256-Z1HLJlDixyy8ZO1atV6amcSvxnkAY1jy84gTNg7mRQE=" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/at.js/1.5.4/js/jquery.atwho.min.js" integrity="sha256-IF8kNUQya5eX9d2YqkXSLotN8x33+hVc/k3q2N58maU=" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.js" integrity="sha256-7A2MDY2eGSSUvgfbuH1IdzYk8qkEd3uzwiXADqPDdtY=" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2_locale_ru.min.js" integrity="sha256-pOgt47E41sCGGuePJKzQneg2VxYCdLcvm/w81fCXo4o=" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js" integrity="sha256-FiZwavyI2V6+EXO1U+xzLG3IKldpiTFf3153ea9zikQ=" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js" integrity="sha256-9Nt2r+tJnSd2A2CRUvnjgsD+ES1ExvjbjBNqidm9doI=" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.28.0/js/vendor/jquery.ui.widget.min.js" integrity="sha256-OvyxDbK1WMr6yVxduIqtCvDgG+n0zuxq5QiQOok7x5I=" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.28.0/js/jquery.iframe-transport.min.js" integrity="sha256-64JcdNc4W47Ue2P1/xTqUx2OMXyQZXT4mM9jwstqy8Y=" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.28.0/js/jquery.fileupload.min.js" integrity="sha256-rFUfBX6nxajRE557glMx+ybBdfL9NXf8woMA1M1Tw0w=" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js" integrity="sha256-Ikk5myJowmDQaYVCUD0Wr+vIDkN8hGI58SGWdE671A8=" crossorigin="anonymous" defer></script>

    <script src="{{ preload(asset('build/vendor.js'), { as: 'script' }) }}" defer></script>
    <script src="{{ preload(asset('build/irmag-site.js'), { as: 'script' }) }}" defer></script>

    {% block additional_javascripts %}{% endblock %}

    <script>
        // lazyload
        (function(w, d) {
            var b = d.getElementsByTagName('body')[0];
            var s = d.createElement('script');
            var v = !('IntersectionObserver' in w) ? '8.17.0' : '10.19.0';
            s.async = true; // This includes the script as async. See the "recipes" section for more information about async loading of LazyLoad.
            s.src = 'https://cdn.jsdelivr.net/npm/vanilla-lazyload@' + v + '/dist/lazyload.min.js';
            w.lazyLoadOptions = {/* Your options here */};
            b.appendChild(s);
        }(window, document));

        $(function() {
            IRMAG.init();
            IRMAG.Site.init();
            //IRMAG.Basket.updateData();
            //IRMAG.Favorite.updateData();

            {% if irmag.mobile %}IRMAG.Search.initBarcodeScanner();{% endif %}

            // bind fancybox
            $('.fancybox').fancybox({ buttons: ['thumbs', 'close'] });

            // jquery case insensitive contains
            // @see: IRMAG.Catalog.Filter, IRMAG.Favorite
            // $('div:Contains("test")')
            $.expr[':'].Contains = jQuery.expr.createPseudo(function(arg) {
                return function(elem) {
                    return jQuery(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
                };
            });
            // NDM, PNH PLZ.
        });
    </script>

    {% block javascripts %}{% endblock %}

{% if app.environment == 'prod' %}
    {%- include '@IrmagSite/prod-only-scripts.html.twig' %}
{% endif %}

</body>
</html>
