{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% set file = attribute(object, field_description.fieldName) %}

    {% if file.webpath is defined %}
        <img src="{{ asset(file.webpath) }}"
            alt="{{ file.path }}"
            style="
            {% if field_description.options.width is defined %}max-width: {{ field_description.options.width }}px;{% endif %}
            {% if field_description.options.height is defined %}max-height: {{ field_description.options.height }}px;{% endif %}
            ">
    {% endif %}
{% endblock %}
