{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/irmag-admin.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {#<script src="{{ asset('build/irmag-admin.js') }}"></script>#}

    <script>
        CKEDITOR.dtd.$removeEmpty['span'] = 0;
        CKEDITOR.dtd.$removeEmpty['i'] = 0;
        CKEDITOR.on('instanceReady', function(ev) {
            ev.editor.dataProcessor.writer.selfClosingEnd = '>';
        });
        CKEDITOR.config.contentsCss = ["{{ asset('build/vendor.css') }}", "{{ asset('build/irmag-site.css') }}"];
    </script>
{% endblock %}

{% block side_bar_after_nav %}{% endblock %}

{# disable add_block #}
{% block sonata_top_nav_menu_add_block %}{% endblock %}

{% block sonata_top_nav_menu %}
    {{ parent() }}

    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <li>
                <a href="{{ url('irmag_homepage') }}"><i class="fa fa-link fa-fw"></i><span class="hidden-xs hidden-sm"> на сайт</span></a>
            </li>
        </ul>
    </div>
{% endblock %}
