{% import '@IrmagProfile/Profile/macro.avatar.html.twig' as avatar %}

{% block user_block %}
    <li class="user-header bg-light-blue">
        {{ avatar.get(app.user) }}
        <p>@{{ app.user.username }}</p>
        <p>{{ app.user.fullname }}</p>
    </li>

    <li class="user-footer">
        <div class="pull-left">
            <a class="btn btn-default btn-flat" href="{{ path('admin_irmag_profile_user_edit', { id: app.user.id }) }}"><i class="fa fa-user"></i> Профиль</a>
        </div>

        <div class="pull-right">
            <a class="btn btn-default btn-flat" href="{{ path('security_logout') }}"><i class="fa fa-sign-out fa-fw"></i> Выйти</a>
        </div>
    </li>
{% endblock %}
