{% extends '@IrmagSite/layout.html.twig' %}

{% set irmag_metrics_disabed = false %}
{% set meta_robots_noindex = true %}
{% set meta_robots_nofollow = true %}

{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ preload(asset('build/irmag-profile.css'), { as: 'style' }) }}">
{% endblock %}

{% block title %}Регистрация{% endblock %}

{% block body %}

    <section class="container">
        <h2 class="text-center">Регистрация</h2>

        {% set has_flash_email_confirmed = app.flashes(constant('Irmag\\ProfileBundle\\Entity\\UserConfirmation::FLASH_REGISTRATION_EMAIL_CONFIRMED')) %}

        {% embed '@IrmagSite/Default/empty-page-cat-say.html.twig' with { 'margin_top': has_flash_email_confirmed ? 0 : 20 } %}
            {% block text %}
                <p class="alert alert-success text-left">
                    Поздравляем, <b>{{ app.user.name }}</b>!
                    <br>
                    Вы успешно зарегистрировались и автоматически аутентифицировались на сайте.
                </p>

                {% if has_flash_email_confirmed %}
                    <div class="alert alert-info text-left">
                        <p>Поздравляем! Вам было начислено <b>{{ constant('Irmag\\SiteBundle\\Config::BONUS_FOR_REGISTRATION') }} фантиков</b> за регистрацию на сайте</p>
                        <p>Подробнее о том, что такое фантики и как их можно использовать вы можете узнать в <a href="{{ url('irmag_page', { slug: 'help', _fragment: 'bonuses' }) }}">разделе "Помощь - бонусы"</a></p>
                    </div>
                {% endif %}
            {% endblock %}

            {% block image %}
                <div class="irmag-cat-pic registration-success-pic center-block"></div>
            {% endblock %}
        {% endembed %}
    </section>

    <div class="container mt-20">
        <div class="text-center">
            <div class="btn-group">
                <a href="{{ path('irmag_catalog') }}" class="btn btn-default">Перейти в каталог</a>
                <a href="{{ path('irmag_profile') }}" class="btn btn-primary"><i class="fa fa-fw fa-user"></i> Настроить профиль</a>
            </div>
        </div>
    </div>

{% endblock %}
