{% extends '@IrmagProfile/layout.html.twig' %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}

    <section>
        <h2 class="text-center">Восстановление пароля</h2>

        <p class="alert alert-success">
            На Ваш адрес электронной почты "<b>{{ email|mask_email }}</b>" выслано письмо с дальнейшими указаниями.
        </p>
    </section>

{% endblock %}
