{% extends '@IrmagProfile/layout.html.twig' %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}

    <section>
        <h2 class="text-center">Восстановление пароля</h2>

        <p class="alert alert-success">
            Поздравляем, <b>{{ app.user.name }}</b>!
            <br>
            Вы успешно изменили пароль и автоматически аутентифицировались на сайте.
            <br>
            Не забывайте Ваш пароль.
            <br>
            Удачных покупок.
        </p>

        <div class="text-center">
            {% set return_url = app.session.has('return_url') ? app.session.get('return_url') : url('irmag_homepage') %}
            <a href="{{ return_url }}" class="btn btn-default">Перейти на сайт</a>
        </div>
    </section>

{% endblock %}
