{% extends '@IrmagProfile/layout.html.twig' %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}

    <section>
        <h2 class="text-center">Восстановление пароля</h2>

        {{ form_start(form) }}

        {{ form_errors(form) }}

        {{ form_row(form.username_or_email) }}

        <div class="text-center">
            <div class="btn-group">
                <a href="{{ path('security_login') }}" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i> Назад</a>
                {{ form_widget(form.save, { attr: { class: 'btn-primary' } }) }}
            </div>
        </div>

        {{ form_end(form) }}
    </section>

{% endblock %}
