{% extends '@IrmagCore/Mailer/layout.html.twig' %}

{% block subject %}Платёж выполнен успешно{% endblock %}

{% block additional_stylesheets %}
    <style type="text/css">
        table.table td {
            border-bottom: 1px solid #eee;
        }

        table.table td,
        table.table th {
            padding-top: 4px;
            padding-bottom: 4px;
        }
    </style>
{% endblock %}

{% block text %}
    <b>Спасибо за оплату, {{ payment.order.user.name }}</b>.

    <br><br>

    <table width="100%" cellpadding="0" border="0" cellspacing="0" class="table">
        <tr>
            <td></td>
            <td><b><i>ООО "ИРМАГ"</i></b></td>
        </tr>
        <tr>
            <td>ИНН:</td>
            <td>3810063438</td>
        </tr>
        <tr>
            <td>КПП:</td>
            <td>381001001</td>
        </tr>
        <tr>
            <td>Номер заказа:</td>
            <td>#{{ payment.order.id }}</td>
        </tr>
        <tr>
            <td>Номер платежа:</td>
            <td>{{ payment.acquiringId }}</td>
        </tr>
        <tr>
            <td>Дата и время:</td>
            <td>{{ payment.depositedAt|date(constant('Irmag\\SiteBundle\\Config::DATETIME_FORMAT')) }}</td>
        </tr>
        <tr>
            <td>Сумма:</td>
            <td><b>{{ (payment.sumDeposited / 100)|number_format }} руб.</b></td>
        </tr>
    </table>

    <p>Ждём вас снова! Ваш <a href="{{ url('irmag_homepage') }}">Ирмаг</a>.</p>
{% endblock %}