{% extends '@IrmagCore/Mailer/layout.html.twig' %}

{% block subject %}Отмена заказа #{{ order.id }}{% endblock %}

{% block text %}
    <b>Здравствуйте, {{ order.user.name }}</b>.

    <p>
        Заказ #<b>{{ order.id }}</b> был отменён,
        все выбранные Вами для заказа товары вновь вернулись в вашу <a href="{{ url('irmag_basket') }}">корзину</a>.
    </p>
    <p>
        Вы можете переоформить ваш заказ, выбрав другой способ оплаты, либо вернуться в <a href="{{ url('irmag_catalog') }}">каталог</a>.
    </p>
{% endblock %}
