/*
 * Сайдбар-меню.
 */

div.left-container {
    height: 100%;
    background-color: $irmag-blog-color-dark-background;
    display: block;
    max-height: 100%;
    min-width: $irmag-blog-sidebar-width;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    overflow-y: auto;
    z-index: 10;

    /* Внутренний контейнер меню */
    div.left-menu-inner {
        height: 100%;
        min-height: 100%;
        padding-bottom: 115px;
        padding-top: 50px;
        position: relative;

        a.blog-logo {
            background-image: url("#{$irmag-blog-image-dir}/blog-logo.png");
            display: block;
            height: 56px;
            width: 115px;
            margin: 0 auto 38px;
            position: relative;
            z-index: 5;
        }

        ol,
        ul {
            list-style: none;
            padding: 0;
        }

        /* Верхние элементы меню (с эфектами) */
        ul.left-menu-top-items {
            margin-bottom: 30px;
            padding-bottom: 10px;
            position: relative;

            &::before {
                background-color: $irmag-blog-color-sidebar-item;
                bottom: 0;
                height: 3px;
                left: 50%;
                margin-left: -14px;
                position: absolute;
                width: 27px;
            }

            li {
                position: relative;

                &.left-menu-top-item-1 {
                    margin-bottom: 45px;

                    i.left-menu-gfx-1 {
                        height: 212px;
                        left: 6px;
                        position: absolute;
                        top: -142px;
                        width: 182px;
                        z-index: -10;
                    }
                }

                &.left-menu-top-item-2 {
                    margin-bottom: 25px;

                    i.left-menu-gfx-2 {
                        height: 162px;
                        left: 3px;
                        position: absolute;
                        top: -55px;
                        width: 221px;
                        z-index: -10;
                    }
                }

                &.left-menu-top-item-3 {
                    margin-bottom: 36px;

                    i.left-menu-gfx-3 {
                        height: 152px;
                        left: 3px;
                        position: absolute;
                        top: -59px;
                        width: 221px;
                        z-index: -10;
                    }
                }

                &.left-menu-top-item-4 {
                    margin-bottom: 25px;

                    i.left-menu-gfx-4 {
                        height: 152px;
                        left: 1px;
                        position: absolute;
                        top: -61px;
                        width: 221px;
                        z-index: -10;
                    }
                }

                a {
                    color: $irmag-blog-color-sidebar-link;
                    display: block;
                    font: $irmag-blog-font-italic;
                    font-size: 15px;
                    line-height: 16px;
                    text-align: center;
                    text-decoration: none;

                    span {
                        display: block;
                        margin: 0 auto 10px;

                        &.left-menu-top-item-1-pic {
                            background-image: url("#{$irmag-blog-image-dir}/left-menu-top-item-1-pic.png");
                            height: 57px;
                            width: 118px;
                        }

                        &.left-menu-top-item-2-pic {
                            background-image: url("#{$irmag-blog-image-dir}/left-menu-top-item-2-pic.png");
                            height: 49px;
                            width: 96px;
                        }

                        &.left-menu-top-item-3-pic {
                            background-image: url("#{$irmag-blog-image-dir}/left-menu-top-item-3-pic.png");
                            height: 71px;
                            width: 111px;
                        }

                        &.left-menu-top-item-4-pic {
                            background-image: url("#{$irmag-blog-image-dir}/left-menu-top-item-4-pic.png");
                            height: 57px;
                            width: 109px;
                        }

                        p {
                            display: block;
                            z-index: 16;
                        }
                    }
                }
            }
        }

        /* Нижние элементы меню (ссылки) */
        ul.left-menu-bottom-items {
            li {
                position: relative;
                z-index: 2;

                &.left-menu-bottom-item-1 {
                    margin-bottom: 25px;
                }

                &.left-menu-bottom-item-2 {
                    margin-bottom: 0;
                }

                a {
                    display: block;
                    text-align: center;
                    text-decoration: none;

                    span.left-menu-bottom-item-title {
                        border-bottom: 1px solid $irmag-blog-color-sidebar-bottom-link-border;
                        color: $irmag-blog-color-sidebar-bottom-link;
                        display: inline-block;
                        font-family: $irmag-blog-font-regular;
                        font-size: 23px;
                        line-height: 30px;
                        margin-bottom: 10px;
                        text-transform: uppercase;
                    }

                    span.left-menu-bottom-item-subtitle {
                        color: $irmag-blog-color-sidebar-bottom-subtitle;
                        display: block;
                        font: $irmag-blog-font-italic;
                        font-size: 15px;
                        line-height: 16px;
                    }
                }
            }
        }
    }
}
