/*
 * Меню для xs- и sm-отображений.
 */

div.mobile-header-wrapper {
    background-color: $irmag-blog-color-dark-background;
    display: block;
    position: relative;
    height: 130px;
    padding: 0;

    .irmag-blog-logo {
        background-size: cover;
        background-image: url($irmag-blog-image-dir + '/blog-logo.png');

        &.irmag-blog-logo-sm {
            height: 56px;
            width: 115px;
        }

        &.irmag-blog-logo-xs {
            margin: 0 auto;
            width: 50px;
            height: 24px;
        }
    }

    a.blog-main-page-sm {
        position: absolute;
        left: 20px;
        top: 35px;
    }

    div.top-items-container {
        padding-top: 40px;
        text-align: center;

        @media (max-width: $screen-xs-max) {
            padding: 20px 12px 0 12px;
        }

        ul.top-menu {
            list-style: none;
            padding: 0;

            li {
                display: inline-block;
                position: relative;
                margin: 0 auto;

                a {
                    text-decoration: none;

                    i {
                        position: relative;
                        display: block;
                        color: $irmag-blog-color-sidebar-link;
                        bottom: 4px;
                        vertical-align: top;

                        @media (max-width: $screen-xs-max) {
                            padding-top: 20px;
                            font-size: 28px;
                        }
                    }

                    span {
                        display: block;

                        &.top-menu-item-1 {
                            height: 40px;
                            width: 83px;
                            background-image: url("#{$irmag-blog-image-dir}/left-menu-top-item-1-pic.png");
                            background-size: 83px 80px;
                        }

                        &.top-menu-item-2 {
                            height: 35px;
                            width: 68px;
                            background-image: url("#{$irmag-blog-image-dir}/left-menu-top-item-2-pic.png");
                            background-size: 68px 69px;
                        }

                        &.top-menu-item-3 {
                            height: 50px;
                            width: 78px;
                            margin-bottom: -7px;
                            background-image: url("#{$irmag-blog-image-dir}/left-menu-top-item-3-pic.png");
                            background-size: 78px 100px;
                        }

                        &.top-menu-item-4 {
                            height: 40px;
                            width: 77px;
                            background-image: url("#{$irmag-blog-image-dir}/left-menu-top-item-4-pic.png");
                            background-size: 77px 81px;
                        }
                    }
                }
            }
        }

        table {
            width: 100%;

            td {
                padding-top: 10px;

                span {
                    display: block;
                    padding-top: 25px;

                    &.top-menu-xs-item-pic-1 {
                        background-image: url("#{$irmag-blog-image-dir}/left-menu-top-item-1-pic.png");
                        height: 24px;
                        width: 50px;
                        background-size: 50px 50px;
                    }

                    &.top-menu-xs-item-pic-2 {
                        background-image: url("#{$irmag-blog-image-dir}/left-menu-top-item-2-pic.png");
                        height: 25px;
                        width: 51px;
                        background-size: 51px 51px;
                    }

                    &.top-menu-xs-item-pic-3 {
                        background-image: url("#{$irmag-blog-image-dir}/left-menu-top-item-3-pic.png");
                        height: 32px;
                        width: 50px;
                        background-size: 50px 64px;
                    }

                    &.top-menu-xs-item-pic-4 {
                        background-image: url("#{$irmag-blog-image-dir}/left-menu-top-item-4-pic.png");
                        height: 26px;
                        width: 50px;
                        background-size: 50px 52px;
                    }
                }

                a {
                    text-decoration: none;

                    i {
                        display: block;
                        color: $irmag-blog-color-sidebar-link;
                        font-size: 26px;
                        vertical-align: top;
                        padding: 0 5px;
                    }
                }
            }
        }
    }
}
