{% extends '@IrmagForum/layout.html.twig' %}

{% block title %}Поиск по темам с тегом: {{ query }}{% endblock %}

{% set breadcrumbs = { ('Поиск по темам с тегом: ' ~ query) : '' } %}
{% block forumbreadcrumbs %}
    {% include '@IrmagForum/Default/breadcrumb.html.twig' with breadcrumbs %}
{% endblock %}

{% set forumtab = {'active': 'search'} %}
{% block forumnav %}
    {% include '@IrmagForum/Default/nav.html.twig' with forumtab %}
{% endblock %}

{% block forumcontent %}
    <div class="row">
        <div class="col-xs-12">
            <h3>Темы с тегом "{{ query }}" (всего: {{ total }})</h3>
        </div>
    </div>
    <div class="row">
        {{ knp_pagination_render(pagination, '@IrmagForum/Default/pagination.html.twig') }}
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-group">
                {% for item in pagination %}
                    <li class="list-group-item">
                        <a href="{{ path('irmag_forum_goto_topic', { id: item.id }) }}">
                            <b>{{ item.title }}</b>
                        </a>
                        <br>
                        <span>{{ item.description }}</span>
                        <br>
                        <span>
                            <i>Теги: {{ item.postTagsAsString }}</i>
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}