{% block code %}
    <div class="embed-responsive embed-responsive-4by3">
        <iframe width="640" class="irmag-video embed-responsive-item" height="480" src="{{ youtube_link }}" frameborder="0" allowfullscreen></iframe>
    </div>
{% endblock %}