{% block _blog_post_blog_section_name_widget %}
    {% spaceless %}
        <button class="btn btn-default dropdown-toggle section-item"
                data-toggle="dropdown"
                name="{{ full_name }}"
                {{ block('widget_container_attributes') }}>
            {% if form.vars.data is not null %}
                {{ form.vars.data }}
            {% else %}
                Раздел обзора <span class="caret"></span>
            {% endif %}
        </button>
        <ul class="dropdown-menu">
        {% for key, child in form.vars.choices %}
            <li id="section-{{ child.value }}">
                <a href="#">{{ child.label }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endspaceless %}
{% endblock %}

{% block _blog_post_post_elements_widget %}
    <div class="related-element-wrapper">
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block _blog_post_post_elements_entry_element_widget %}
    <div class="review-good col-xs-8">
        {{ form_widget(form) }}
        <i class="fa fa-spinner fa-spin autoload-spinner"></i>
    </div>
{% endblock %}

{% block _blog_post_post_elements_entry_rate_widget %}
    <div class="review-good-rate col-xs-3 btn-group">
        {% set data = form.vars.data %}
        <button class="btn btn-default dropdown-toggle elm-rate"
                data-toggle="dropdown"
                data-id={% if data is not null %} "{{ data }}" {% else %} "" {% endif %}
                name="{{ full_name }}"
                {{ block('widget_container_attributes') }}
        >
            {% if data is not null %}
                {% if data == 5 %}
                    <span class="hidden-xs hidden-sm">5 — отлично</span>
                    <span class="visible-xs visible-sm">5</span>
                {% elseif data == 4 %}
                    <span class="hidden-xs hidden-sm">4 — хорошо</span>
                    <span class="visible-xs visible-sm">4</span>
                {% elseif data == 3 %}
                    <span class="hidden-xs hidden-sm">3 — удовлетворительно</span>
                    <span class="visible-xs visible-sm">3</span>
                {% elseif data == 2 %}
                    <span class="hidden-xs hidden-sm">2 — плохо</span>
                    <span class="visible-xs visible-sm">2</span>
                {% elseif data == 1 %}
                    <span class="hidden-xs hidden-sm">1 — ужасно</span>
                    <span class="visible-xs visible-sm">1</span>
                {% endif %}
            {% else %}
                <span class="hidden-xs hidden-sm">
                    Моя оценка <span class="caret"></span>
                </span>
                <span class="visible-xs visible-sm">
                    Оценка <span class="caret"></span>
                </span>
            {% endif %}

        </button>
        <ul class="dropdown-menu">
            {% for key, child in form.vars.choices %}
                <li id="rate-{{ key + 1 }}">
                    <a href="#">
                        <span class="hidden-xs hidden-sm">{{ child.label }}</span>
                        <span class="visible-xs visible-sm">{{ child.label|slice(0, 1) }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="review-good-close col-xs-1">
        <span class="delete-related-element">
            <i class="fa fa-close"></i>
        </span>
    </div>
{% endblock %}
