{% import '@IrmagProfile/Profile/macro.avatar.html.twig' as avatar %}

{# xs #}
<div class="visible-xs profile-login-top-xs col-xs-12">
    <div class="row">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="col-xs-12">
                <a href="{{ path('irmag_blog_user', { 'id': app.user.id }) }}" class="blog-xs-top-links">Профиль</a>
                <span> | </span>
                <a href="{{ path('irmag_blog_new_post') }}" class="blog-xs-top-links">Написать</a>
                <span> | </span>
                <a href="{{ path('security_logout') }}" class="blog-xs-top-links">Выйти</a>
            </div>
        {% else %}
            <div>
                <a href="{{ url('security_login') }}" rel="nofollow">Войти</a>
            </div>
        {% endif %}
    </div>
</div>

{# sm #}
<div class="visible-sm profile-login-top-sm">
    <div>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div>
                <a href="{{ path('irmag_blog_new_post') }}" class="blog-new-post-sm">
                    <i class="fa fa-pencil-square-o"></i>
                </a>
                <a href="{{ path('irmag_blog_user', { 'id': app.user.id }) }}">
                    {{ avatar.get(app.user, 'avatar_small_thumb', 40) }}
                </a>
                <br>
                <a href="{{ path('security_logout') }}">
                    <span class="profile-user-logout">Выйти</span>
                </a>
            </div>
        {% else %}
                <div>
                    <a href="{{ url('security_login') }}" class="profile-sm-login-button" rel="nofollow">Войти</a>
                </div>
        {% endif %}
    </div>
</div>

{# md & lg #}
<div class="row hidden-xs hidden-sm profile-login">
    <div class="profile-login-right-fix">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="user-bubble">
                <a href="{{ path('security_logout') }}" class="blog-logout-button">
                    <i class="fa fa-times-circle-o"></i>
                </a>
                <a href="{{ path('irmag_blog_user', { 'id': app.user.id }) }}">
                    {{ avatar.get(app.user, 'avatar_small_thumb', 60) }}
                </a>
                <br>
                <a class="blog-login-button" href="{{ path('irmag_blog_new_post') }}">Написать</a>
            </div>
        {% else %}
            <div class="user-bubble">
                <a href="{{ url('security_login') }}" class="blog-login-button" rel="nofollow">Войти</a>
            </div>
        {% endif %}
    </div>
</div>
