{% extends '@IrmagBlog/layout.html.twig' %}

{% block title %}Блог IRMAG.RU{% endblock %}

{% block body %}
    {% include '@IrmagBlog/Search/searchblock.html.twig' %}
    {% if pagination.pageCount > 0 %}
        {% include '@IrmagBlog/Default/sort.html.twig' %}
    {% endif %}
    <div class="container-fluid">
        <div class="row">
            <div class="blog-container">
                {% if pagination.pageCount > 0 %}
                    {% for post in pagination %}
                        {% include '@IrmagBlog/Post/post.html.twig' %}
                        {% if loop.last == false %}
                            <div class="posts-delimiter" ></div>
                        {% endif %}
                    {% endfor %}
                    {{ knp_pagination_render(pagination, '@IrmagBlog/Default/pagination-panel.html.twig') }}
                {% else %}
                    <p class="blog-message">В этом разделе пока нет постов</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            IRMAG.Blog.Page.init();
        });
    </script>
{% endblock %}
