{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset(web_path ~ '/style.css') }}">
{% endblock %}

{% embed 'IrmagSiteBundle:Catalog:brand-zone-container.html.twig' with { bg: web_path ~ '/bg.jpg' } %}
    {% block content %}
        <div class="brand-zone-content">
            <div class="brand-zone-wrapper">
                <img src="{{ web_path }}/logo.png" alt="" class="brand-img-logo">
                <img src="{{ web_path }}/title.png" alt="" class="brand-img-title">
                <img src="{{ web_path }}/text.png" alt="" class="brand-img-text">
            </div>
        </div>
    {% endblock %}
{% endembed %}
