{% extends '@IrmagCore/Mailer/layout.html.twig' %}

{% block subject %}Подтверждение почты{% endblock %}

{% block text %}
    <b>Здравствуйте, {{ user.name }}</b>.

    <p>
        Для подтверждения адреса электронной почты <b>{{ userConfirmation.email }}</b> перейдите по следующей ссылке:
        <a href="{{ url('security_confirmation_email_confirm', { token: userConfirmation.token }) }}">Подтвердить</a>.
    </p>

    <p>
        <small>
            Если вы не пытались зарегистрироваться на сайте IRMAG.RU или не понимаете что происходит, то перейдите по следующей ссылке:
            <a href="{{ url('security_confirmation_remove_token', { token: userConfirmation.token }) }}">Я не регистрировался на сайте IRMAG.RU</a>.
        </small>
    </p>
{% endblock %}
