{% extends '@IrmagCore/Mailer/layout.html.twig' %}

{% block subject %}Регистрация{% endblock %}

{% block text %}
    <b>Спасибо за регистрацию, {{ user.name }}</b>.

    <p>
        Перейдите в <a href="{{ url('irmag_catalog') }}">каталог</a> за покупками.
    </p>
{% endblock %}
