.brand-zone-container {
    z-index: 1;
}

    .divage-bag {
        position: absolute;
        bottom: 0;
        left: 250px;
        width: 420px;
        height: 100%;
        background-image: url('bz_Divage_bag.png');
    }

        .divage-logo {
            display: block;
            position: relative;
            margin-top: 30px;
            margin-left: 35px;
            width: 320px;
            height: 80px;
            background: url('sprites.png') -110px -260px;
        }

        .divage-menu {
            display: block;
            position: relative;
            vertical-align: bottom;
            margin-top: 50px;
            margin-left: -15px;
            width: 100%;
        }

            .divage-menu:hover > .divage-default-pic {
                opacity: 0;
                transition: opacity 0.2s ease-in-out;
                -webkit-transition: opacity 0.2s ease-in-out;
                -moz-transition: opacity 0.2s ease-in-out;
                -ms-transition: opacity 0.2s ease-in-out;
                -o-transition: opacity 0.2s ease-in-out;
            }

            .divage-default-pic {
                pointer-events: none;
                position: absolute;
                top: -155px;
                left: 450px;
                width: 700px;
                height: 425px;
                transition: opacity 0.5s ease-in-out 0.5s;
                -webkit-transition: opacity 0.5s ease-in-out 0.5s;
                -moz-transition: opacity 0.5s ease-in-out 0.5s;
                -ms-transition: opacity 0.5s ease-in-out 0.5s;
                -o-transition: opacity 0.5s ease-in-out 0.5s;
            }

            .divage-menu-item {
                display: block;
                margin: 10px auto;
                width: 250px;
                height: 40px;
                background: url('sprites.png') -274px 0;
            }

                .item-1 {
                    background-position-y: -15px;
                }

                .item-2 {
                    background-position-y: -65px;
                }

                .item-3 {
                    background-position-y: -115px;
                }

                .item-4 {
                    background-position-y: -165px;
                }

                .item-5 {
                    background-position-y: -215px;
                }

            .divage-menu-item:hover {
                background-position-x: -16px;
            }

            .divage-menu-item:hover + .divage-hideable {
                visibility: visible;
                left: 340px;
                transition: left 1s ease-in-out;
                -webkit-transition: left 1s ease-in-out;
                -moz-transition: left 1s ease-in-out;
                -ms-transition: left 1s ease-in-out;
                -o-transition: left 1s ease-in-out;
            }

            .divage-hideable {
                position: absolute;
                bottom: 250px;
                left: 10px;
                visibility: hidden;
                transition: left 0.5s ease-in-out, visibility 0.4s ease-in-out;
                -webkit-transition: left 0.5s ease-in-out, visibility 0.4s ease-in-out;
                -moz-transition: left 0.5s ease-in-out, visibility 0.4s ease-in-out;
                -ms-transition: left 0.5s ease-in-out, visibility 0.4s ease-in-out;
                -o-transition: left 0.5s ease-in-out, visibility 0.4s ease-in-out;
            }

            .divage-pic {
                display: inline-block;
                position: absolute;
            }

            .divage-pic-1 {
                top: -140px;
                left: 240px;
                z-index: -2;
            }

            .divage-pic-2 {
                top: -110px;
                left: -5px;
                z-index: -1;
            }

        .divage-menu:hover + .divage-ziplock {
            top: 345px;
            transition: top 0.3s ease-in-out;
            -webkit-transition: top 0.3s ease-in-out;
            -moz-transition: top 0.3s ease-in-out;
            -ms-transition: top 0.3s ease-in-out;
            -o-transition: top 0.3s ease-in-out;
        }

        .divage-ziplock {
            position: absolute;
            left: 380px;
            top: 10px;
            width: 40px;
            height: 80px;
            background: url('sprites.png') -545px -93px;
            transition: top 0.3s ease-in-out 0.5s;
            -webkit-transition: top 0.3s ease-in-out 0.5s;
            -moz-transition: top 0.3s ease-in-out 0.5s;
            -ms-transition: top 0.3s ease-in-out 0.5s;
            -o-transition: top 0.3s ease-in-out 0.5s;
        }



