.delivery-modal {
    .bootbox-close-button {
        margin-top: 8px !important;
        margin-right: 15px !important;
    }

    label {
        font-family: $font-family-base;
    }

    .modal-body {
        padding: 0;
    }

    .bootbox-body {
        > .panel {
            margin-bottom: 0;

            > .panel-body {
                max-height: 400px;
                overflow-y: auto;
            }
        }
    }

    .select2-dropdown {
        z-index: 35000 !important;
    }

    .delivery-spinner {
        display: none;
        position: absolute;
        opacity: .8;
        z-index: 3;
        top: 40%;
        left: 0;
        right: 0;
        max-width: 300px;
        cursor: wait;
        margin-left: auto;
        margin-right: auto;

        .delivery-spinner-text {
            line-height: 20px;
        }
    }

    .remote-delivery-option {
        display: table;

        @media (max-width: $screen-xs-max) {
            &:not(:first-child) {
                margin-top: 15px;
            }
        }

        .delivery-hub {
            border: 1px solid #eee;
            border-radius: $border-radius-base;
            padding: 15px;
            height: 130px;
            margin: 10px;
            text-align: center;
            cursor: pointer;
            background-color: #f5f5f5;
            display: table-cell;
            vertical-align: middle;

            &:hover {
                background-color: lighten($brand-primary, 48%);
                border-color: lighten($brand-primary, 40%);
            }

            i {
                display: block;
                font-size: 56px;

                &.icon-transport-company::before { content: $fa-var-archive; }

                &.icon-russian-post {
                    @include irmag-icon();
                    &::before { content: $irmag-font-icon-russian-post; }
                }
            }
        }
    }
}





