.block-error-404 {
    margin: 4em auto;

    p {
        line-height: 30px;
    }

    .irmag-cat-404 {
        position: relative;
        background: url('#{$irmag-site-image-dir}/irmag-cat-404.png') no-repeat;
        width: 600px;
        height: 500px;
        overflow: hidden;

        .eye-left,
        .eye-right {
            position: absolute;
            width: 140px;
            height: 140px;
            display: none;
        }

        .eye-left {
            top: 54px;
            left: 95px;
        }

        .eye-right {
            top: 60px;
            left: 312px;
        }

        .cat-eye {
            background: url('#{$irmag-site-image-dir}/irmag-cat-404-eye.png') no-repeat;
            width: 45px;
            height: 45px;
            position: absolute;
            top: 45px;
            left: 48px;
        }
    }

    .error-text-top-offset {
        margin-top: 200px;
    }

    .xs-smile {
        font-size: 6em;
    }
}
