{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset(web_path ~ '/style.css') }}">
{% endblock %}

{% embed 'IrmagSiteBundle:Catalog:brand-zone-container.html.twig' with { bg: web_path ~ '/bg.jpg' } %}
    {% block content %}
        {% set anc = 'jmp-to-catalog-content' %}
        <div class="brand-zone-content">
            <div class="brand-zone-wrapper">
                <img src="{{ web_path ~ '/irmg_GlissKur_2.png' }}" alt="Schwarzkopf" class="brand-img-1">
                <img src="{{ web_path ~ '/irmg_GlissKur_3.png' }}" alt="Gliss Kur" class="brand-img-2">

                <div class="brand-zone-menu">
                    <a href="{{ path('irmag_catalog_section', { sectionId: 137007, filter: { brand: { 0: 104 } }, _fragment: anc }) }}">ШАМПУНИ И БАЛЬЗАМЫ</a>
                    <a href="{{ path('irmag_catalog_section', { sectionId: 140904, filter: { brand: { 0: 104 } }, _fragment: anc }) }}">УХОД GLISS KUR</a>
                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}
