{% extends '@IrmagForum/layout.html.twig' %}

{% block title %}Доступ запрещён{% endblock %}

{% block forumcontent %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="common-block">
                <h1>Доступ запрещён</h1>
                <p class="text-center">
                    У вас нет прав для просмотра этой страницы!
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}