{% extends '@IrmagForum/layout.html.twig' %}

{% block title %}Правила форума{% endblock %}

{% set breadcrumbs = {'Правила форума': ''} %}
{% block forumbreadcrumbs %}
    {% include '@IrmagForum/Default/breadcrumb.html.twig' with breadcrumbs %}
{% endblock %}

{% set forumtab = {'active': 'rules'} %}
{% block forumnav %}
    {% include '@IrmagForum/Default/nav.html.twig' with forumtab %}
{% endblock %}

{% block forumcontent %}
    <h1>Правила форума</h1>
    <div class="mt-40 mb-20">
        {{ page.body|raw }}
    </div>
{% endblock %}
