<div class="post-related-goods row">
    <div class="col-sm-12">
        <table class="post-related-goods-table">
            {% for item in items %}
                <tr itemprop="itemReviewed" itemscope itemtype="https://schema.org/Product">
                    <td class="post-related-goods-item">
                        <a href="{{ url('irmag_catalog_element', { 'id': item.element.id }) }}">
                            <span itemprop="name">
                                {{ item.element.name }}
                                {% if item.element.toneName %}
                                    [ {{ item.element.toneName }} ]
                                {% endif %}
                            </span>
                        </a>
                        <meta itemprop="brand" content="{{ item.element.brand }}">
                        <meta itemprop="manufacturer" content="{{ item.element.manufacturer }}">
                        <meta itemprop="description" content="{{ item.element.description }}">
                    </td>
                    <td>
                        <span class="post-related-goods-mark hidden-xs">
                            {% if item.rate == 1 %}
                                Ужасно
                            {% elseif item.rate == 2 %}
                                Плохо
                            {% elseif item.rate == 3 %}
                                Удовлетворительно
                            {% elseif item.rate == 4 %}
                                Хорошо
                            {% elseif item.rate == 5 %}
                                Отлично
                            {% endif %}
                        </span>
                    </td>
                    <td>
                        <span class="post-related-goods-mark hidden-sm hidden-md hidden-lg">
                            {{ item.rate }}
                        </span>
                    </td>
                    <td class="hidden-xs" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <meta itemprop="priceCurrency" content="RUB">
                        <a href="{{ url('irmag_catalog_element', { 'id': item.element.id }) }}"
                            class="buy-item-btn blog-to-cart {% if item.element in irmag.basket.elements %}blog-button-green{% else %}blog-button-red{% endif %}"
                            data-active="{{ item.element.isActive }}"
                            data-element-id="{{ item.element.id }}"
                            target="_blank"
                            title="{% if item.element in irmag.basket.elements %}В корзине{% else %}Положить в корзину{% endif %}"
                        >
                            {% if item.element in irmag.basket.elements %}
                                В корзине
                            {% else %}
                                Купить за <span itemprop="price">{{ get_price_with_discount(item.element) }}</span> р.
                            {% endif %}
                        </a>
                        <link itemprop="availability" href="http://schema.org/InStock">
                        <meta itemprop="itemCondition" itemscope itemtype="http://schema.org/OfferItemCondition" content="https://schema.org/NewCondition">
                    </td>
                    <td class="hidden-sm hidden-md hidden-lg">
                        <a href="{{ url('irmag_catalog_element', { 'id': item.element.id }) }}"
                            data-active="{{ item.element.isActive }}"
                            data-element-id="{{ item.element.id }}"
                            target="_blank"
                            class="buy-item-btn-xs blog-to-cart {% if item.element in irmag.basket.elements %}blog-button-green{% else %}blog-button-red{% endif %}"
                            title="{% if item.element in irmag.basket.elements %}В корзине{% else %}Положить в корзину{% endif %}"
                        >
                            {% if item.element in irmag.basket.elements %}
                                В корзине
                            {% else %}
                                <i class="fa fa-cart-arrow-down"></i>{{ get_price_with_discount(item.element) }}р.
                            {% endif %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
