{% extends '@IrmagBlog/layout.html.twig' %}

{% block title %}Ваш обзор отправлен на проверку{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="blog-container">
                <div class="common-block col-md-offset-1 col-md-10 mt-40">
                    <h1 class="blog-header">Обзор принят</h1>
                    <p class="blog-message text-center">
                        Ваш обзор был отправлен на модерацию. Он будет опубликован после проверки.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
