@import "./../../core/stylesheets/core";
@import "./components/admin-panel";

.inline-block { display: inline-block; }

img.admin-preview {
    max-height: 200px;
    max-width: 200px;
}

textarea {
    resize: vertical;
}

div.mosaic-inner-box-default {
    position: relative;
    max-height: 200px;

    .label {
        position: absolute;
        top: 0;
        left: 0;
    }
}

div.mosaic-inner-box {
    height: 200px;
}

// element
.irmag-picture-wrapper {
    position: relative;

    .irmag-pictures-counter {
        position: absolute;
        top: 0;
        right: 4px;
        cursor: help;
        color: $gray;
    }

    .irmag-tone-picture {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50px;
        height: 50px;
        z-index: 2;
        cursor: crosshair;

        &:hover {
            bottom: -50px;
            right: -50px;
            width: 150px;
            height: 150px;
        }
    }
}

// tooltip hr
.tooltip {
    hr {
        margin-top: 2px;
        margin-bottom: 2px;
    }
}

.admin-table-cell-padded {
    padding: 0 5px;
}
