{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset(web_path ~ '/style.css') }}">
{% endblock %}

{% embed 'IrmagSiteBundle:Catalog:brand-zone-container.html.twig' with { bg: web_path ~ '/bg.jpg' } %}
    {% block content %}
        <div class="brand-zone-content">
            <div class="brand-zone-wrapper">
                <img src="{{ web_path ~ '/irmg_Fa_2.png' }}" alt="Schwarzkopf" class="brand-img-1">
                <img src="{{ web_path ~ '/irmg_Fa_1.png' }}" alt="Fa" class="brand-img-2">
                <img src="{{ web_path ~ '/text.png' }}" alt="Fa text" class="brand-img-3">
            </div>
        </div>
    {% endblock %}
{% endembed %}
