{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% import '@IrmagProfile/Profile/macro.avatar.html.twig' as avatar %}

{% block field %}
    {% set avatar = avatar.get(object, 'avatar_small_thumb', 64) %}

    {% if admin.isGranted('EDIT') %}
        <a href="{{ admin.generateUrl('edit', { 'id': object.id }) }}">
            {{ avatar }}
        </a>
    {% else %}
        {{ avatar }}
    {% endif %}
{% endblock %}
