{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset(web_path ~ '/style.css') }}">
{% endblock %}

{% embed 'IrmagSiteBundle:Catalog:brand-zone-container.html.twig' with { bg: web_path ~ '/bg.jpg' } %}
    {% block content %}
        {% set anc = 'jmp-to-catalog-content' %}
        <div class="brand-zone-content">
            <table class="brand-unilever">
                <tbody>
                    <tr>
                        <td>
                            <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 453 } }, _fragment: anc }) }}" class="logo-brand">
                                <img src="{{ web_path ~ '/ir_bz_Unilever_logo_dove.png' }}" alt="Dove">
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 454 } }, _fragment: anc }) }}" class="logo-brand">
                                <img src="{{ web_path ~ '/ir_bz_Unilever_logo_rexona.png' }}" alt="Rexona">
                            </a>
                        </td>
                        <td rowspan="4" class="wrapper-logo-unilever">
                            <img src="{{ web_path ~ '/img_Unilever25.png' }}" alt="Unilever">
                        </td>
                        <td>
                            <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 1456 } }, _fragment: anc }) }}" class="logo-brand">
                                <img src="{{ web_path ~ '/ir_bz_Unilever_logo_line.png' }}" alt="Чистая линия">
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 1463 } }, _fragment: anc }) }}" class="logo-brand">
                                <img src="{{ web_path ~ '/ir_bz_Unilever_logo_100.png' }}" alt="Сто Рецептов Красоты">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 1431 } }, _fragment: anc }) }}" class="logo-brand">
                                <img src="{{ web_path ~ '/ir_bz_Unilever_logo_camay.png' }}" alt="Camay">
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 149 } }, _fragment: anc }) }}" class="logo-brand">
                                <img src="{{ web_path ~ '/ir_bz_Unilever_logo_clear.png' }}" alt="Clear vita ABE">
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 1464 } }, _fragment: anc }) }}" class="logo-brand">
                                <img src="{{ web_path ~ '/ir_bz_Unilever_logo_black.png' }}" alt="Черный Жемчуг">
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 1468 } }, _fragment: anc }) }}" class="logo-brand">
                                <img src="{{ web_path ~ '/ir_bz_Unilever_logo_balm.png' }}" alt="Лесной бальзам">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 145 } }, _fragment: anc }) }}" class="logo-brand">
                                <img src="{{ web_path ~ '/ir_bz_Unilever_logo_timotei.png' }}" alt="Timotei">
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 2144 } }, _fragment: anc }) }}" class="logo-brand">
                                <img src="{{ web_path ~ '/logo_inmarko.png' }}" alt="Инмарко">
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 1580 } }, _fragment: anc }) }}" class="logo-brand">
                                <img src="{{ web_path ~ '/ir_bz_Unilever_logo_happy.png' }}" alt="Happy moments">
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 2302 } }, _fragment: anc }) }}" class="logo-brand">
                                <img src="{{ web_path ~ '/ir_bz_Tresemme_logo.png' }}" alt="Tresemme">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 152 } }, _fragment: anc }) }}" class="logo-brand">
                                <img src="{{ web_path ~ '/ir_bz_Unilever_logo_axe.png' }}" alt="AXE">
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 1582 } }, _fragment: anc }) }}" class="logo-brand">
                                <img src="{{ web_path ~ '/ir_bz_Unilever_logo_home.png' }}" alt="Unilever Home care">
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 1581 } }, _fragment: anc }) }}" class="logo-brand">
                                <img src="{{ web_path ~ '/ir_bz_Unilever_logo_food.png' }}" alt="Unilever Food">
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 1459 } }, _fragment: anc }) }}" class="logo-brand">
                                <img src="{{ web_path ~ '/ir_bz_Unilever_logo_hand.png' }}" alt="Бархатные Ручки">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endblock %}
{% endembed %}
