{% if data is defined %}
    {% if data is not empty and data.serviceName is defined and data.serviceName is not empty %}
        {% set type %}
            {% spaceless %}
                {% if data.type == constant('Irmag\\OrderDeliveryServiceBundle\\Entity\\OrderDeliveryServiceData::DELIVERY_SERVICE_TYPE_TO_DOOR') %}
                    До двери
                {% elseif data.type == constant('Irmag\\OrderDeliveryServiceBundle\\Entity\\OrderDeliveryServiceData::DELIVERY_SERVICE_TYPE_TO_TERMINAL') %}
                    До терминала
                {% endif %}
            {% endspaceless %}
        {% endset %}

        <div class="text-center">
            <h3 class="mt-0">Выбранный вариант доставки</h3>
            <div class="hidden-xs">
                <table class="table table-condensed table-responsive mb-0">
                    <thead>
                        <tr>
                            <th class="text-center">Служба</th>
                            <th class="text-center">Город</th>
                            <th class="text-center">Тип</th>
                            <th class="text-center">Тариф</th>
                            <th class="text-center">Сумма</th>
                            <th class="text-center">Дней</th>
                            {% if data.type == constant('Irmag\\OrderDeliveryServiceBundle\\Entity\\OrderDeliveryServiceData::DELIVERY_SERVICE_TYPE_TO_TERMINAL') %}
                                <th class="text-center">Терминал</th>
                            {% endif %}
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="vcenter">{{ data.deliveryServiceName }}</td>
                            <td class="vcenter"><b>{{ data.deliveryCityName }}</b></td>
                            <td class="vcenter">{{ type }}</td>
                            <td class="vcenter">{{ data.serviceName }}</td>
                            <td class="vcenter">
                                <span class="label label-primary">{{ data.cost }} <i class="fa fa-rub"></i></span>
                            </td>
                            <td class="vcenter">{{ data.days }}</td>
                            {% if data.type == constant('Irmag\\OrderDeliveryServiceBundle\\Entity\\OrderDeliveryServiceData::DELIVERY_SERVICE_TYPE_TO_TERMINAL') %}
                                <td class="vcenter">
                                    {% if data.deliveryPoint is defined and data.deliveryPoint is not empty %}
                                        <span class="label label-info cursor-help" data-toggle="tooltip" data-placement="bottom" title="{{ data.deliveryPointAddress }}">
                                            {{ data.deliveryPoint }}
                                        </span>
                                    {% else %}
                                        Не выбран
                                    {% endif %}
                                </td>
                            {% endif %}

                            <td class="vcenter pb-0">
                                <button class="btn btn-warning select-transport-company" type="button" data-weight="{{ weight }}" data-volume="{{ volume }}">Изменить</button>
                                <button type="button" class="btn btn-danger delivery-service-reset" data-toggle="tooltip" data-placement="bottom" title="Сбросить расчёт">
                                    <i class="fa fa-undo"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="visible-xs">
                <table class="table table-condensed mb-0">
                    <tr>
                        <td>Служба:</td>
                        <td>{{ data.deliveryServiceName }}</td>
                    </tr>
                    <tr>
                        <td>Город:</td>
                        <td><b>{{ data.deliveryCityName }}</b></td>
                    </tr>
                    <tr>
                        <td>Тип:</td>
                        <td>{{ type }}</td>
                    </tr>
                    <tr>
                        <td>Тариф:</td>
                        <td>{{ data.serviceName }}</td>
                    </tr>
                    <tr>
                        <td>Сумма:</td>
                        <td><span class="label label-primary">{{ data.cost }} <i class="fa fa-rub"></i></span></td>
                    </tr>
                    <tr>
                        <td>Дней:</td>
                        <td>{{ data.days }}</td>
                    </tr>
                    {% if data.type == constant('Irmag\\OrderDeliveryServiceBundle\\Entity\\OrderDeliveryServiceData::DELIVERY_SERVICE_TYPE_TO_TERMINAL') %}
                        <tr>
                            <td>Терминал:</td>
                            <td>
                                {% if data.deliveryPoint is defined and data.deliveryPoint is not empty %}
                                    <span class="label label-info cursor-help" data-toggle="tooltip" data-placement="bottom" title="{{ data.deliveryPointAddressFormatted }}">
                                        {{ data.deliveryPoint }}
                                    </span>
                                {% else %}
                                    Не выбран
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                       <td colspan="2" class="pb-0">
                           <button class="btn btn-warning select-transport-company" type="button" data-weight="{{ weight }}" data-volume="{{ volume }}">Изменить</button>
                           <button type="button" class="btn btn-danger delivery-service-reset" data-toggle="tooltip" data-placement="bottom" title="Сбросить расчёт">
                               <i class="fa fa-undo"></i>
                           </button>
                       </td>
                    </tr>
                </table>
            </div>
        </div>
    {% endif %}
{% endif %}