<div class="panel panel-default">
    <div class="panel-heading">Выберите пункт самовывоза</div>
    <div class="panel-body p-0">

        {{ form_start(form) }}

            {% include '@IrmagOrderDeliveryService/' ~ serviceName ~ '/self-delivery-points.html.twig' %}

            <div class="text-center">
                {{ form_row(form.select) }}
            </div>

        {{ form_end(form, { 'render_rest': false }) }}
    </div>
</div>