<div class="panel panel-info">
    <div class="panel-heading" id="delivery-results-heading">Варианты доставки</div>

    {% if form.variantsToDoor.children is not empty %}
        <div class="delivery-type">До двери</div>

        <table class="table table-hover table-responsive table-condensed">
            <tbody>

                {% block calculator_variantsToDoor_widget %}
                    {% spaceless %}

                        {% for key, choice in form.variantsToDoor %}
                            {% include '@IrmagOrderDeliveryService/delivery-result-row.html.twig' with {
                                'typeLiteral': 'variantsToDoor',
                                'type': constant('Irmag\\OrderDeliveryServiceBundle\\Entity\\OrderDeliveryServiceData::DELIVERY_SERVICE_TYPE_TO_DOOR'),
                            } %}
                        {% endfor %}
                    {% endspaceless %}
                {% endblock %}

            </tbody>
        </table>
    {% endif %}

    {% if form.variantsToTerminal.children is not empty %}
        <div class="delivery-type">До пунктов самовывоза</div>

        <table class="table table-hover table-responsive table-condensed">
            <tbody>

                {% block calculator_variantsToTerminal_widget %}
                    {% spaceless %}
                        {% for key, choice in form.variantsToTerminal %}
                            {% include '@IrmagOrderDeliveryService/delivery-result-row.html.twig' with {
                                'typeLiteral': 'variantsToTerminal',
                                'type': constant('Irmag\\OrderDeliveryServiceBundle\\Entity\\OrderDeliveryServiceData::DELIVERY_SERVICE_TYPE_TO_TERMINAL')
                            } %}
                        {% endfor %}
                    {% endspaceless %}
                {% endblock %}

            </tbody>
        </table>
    {% endif %}

</div>