<div class="brand row vertical-align cursor-pointer">
    {{#if image}}
        <div class="col-image col-xs-2">
            <img src="{{image}}" class="img-responsive">
        </div>
        <div class="col-name col-xs-8">
            {{name}}
        </div>
        <div class="col-right col-xs-2">
            <span class="label label-default">бренд-зона</span>
        </div>
    {{else}}
        <div class="col-name col-xs-10">
            {{name}}
        </div>
        <div class="col-right col-xs-2">
            <span class="label label-default">бренд</span>
        </div>
    {{/if}}
</div>
