{% extends '@IrmagBlog/layout.html.twig' %}

{% block title %}О ресурсе{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="blog-container">
                <div class="common-block col-md-offset-1 col-md-10">
                    <h1 class="blog-header">О ресурсе</h1>
                    <h2 class="blog-subheader">Приветствуем Вас на страницах ресурса «IRMAG Обзоры»!</h2>
                    <p>
                        Огромный выбор товаров, брендов и новинок часто ставит нас в тупик и заставляет обратиться к чужому опыту, чтобы сориентироваться во всем разнообразии.</p>
                    <p>
                        Этот проект преследует цель дать возможность людям поделиться своими находками в сфере косметики, парфюмерии, бытовой химии и товаров для дома и семьи. Здесь можно подробнее рассказать о товаре, вставить его фотографии, а также перечислить состав продукта, наглядно показать этапы использования, поделиться впечатлениями и полученным результатом.
                    </p>
                    <p>
                        Функционал блога позволяет в полной мере описать недостатки и достоинства того или иного продукта и даже вести свой видеоблог.
                    </p>
                    <p>
                        В разработке и реализации проекта участвовали:
                    </p>
                    <p class="credits">
                        Дизайн:
                    </p>
                    <div class="blog-about-image blog-partners-studio"></div>
                    <p class="credits">
                        Идея и концепция:
                    </p>
                    <div class="blog-about-image blog-partners-self"></div>
                    <br>
                    <div class="blog-about-image blog-partners-dd"></div>
                </div>
            </div>
        </div>

        <div class="row common-block text-center">
            <div class="col-xs-12 blog-about">
                Адрес: <a href="https://yandex.ru/maps/?um=constructor:rJP0-qrxcSacRMQU7xyM0FqoT5rI50gZ">Россия, 664013, г. Иркутск, <span class="text-nowrap">пер. Восточный</span>, 8/2.</a>
            </div>
            <div class="col-xs-12 blog-about">Телефоны: <span class="text-nowrap">+7 (914) 899-11-00</span>, <span class="text-nowrap">+7 (3952) 560-565</span></div>
            <div class="col-xs-12 blog-about">Факс: +7 (3952) 478-656</div>
            <div class="col-xs-12 blog-about">Электронная почта: <a href="mailto:sales@irmag.ru">sales@irmag.ru</a></div>
        </div>
    </div>
{% endblock %}

