{% extends 'bootstrap_3_layout.html.twig' %}

{% block form_row %}
    {{- form_widget(form) -}}
{% endblock %}

{% block form_widget_compound %}
    {%- if form is rootform -%}
        {{ form_errors(form) }}
    {%- endif -%}
    {{- block('form_rows') -}}
    {{- form_rest(form) -}}
{% endblock %}

{% block checkbox_radio_label %}
{% endblock %}

{% block checkbox_widget %}
{% spaceless %}
    <td class="p-0 for-checkbox">
        <div class="checkbox">
            <label>
                <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{{ checked ? ' checked="checked"' }}{{ attr.disabled is defined ? ' class="is-disabled"' }} autocomplete="off">
                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
            </label>
        </div>
    </td>
{% endspaceless %}
{% endblock %}

{%- block choice_widget_expanded -%}
    <tr>
        <td>{{ form.vars.attr.description }}</td>
        {%- for child in form %}
            {{- form_widget(child) -}}
        {% endfor -%}
    </tr>
{%- endblock -%}
