{% extends '@IrmagProfile/layout-wide.html.twig' %}

{% block title %}🐔 Мой Профиль{% endblock %}

{% block content %}

    <section class="profile-form">

        <h1>Мой профиль</h1>

        {% include '@IrmagSite/Default/breadcrumbs.html.twig' with { breadcrumbs: { 'Мой профиль': null } } %}

        {% for flash_message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ flash_message }}
            </div>
        {% endfor %}

        {% import '@IrmagProfile/Profile/macro.avatar.html.twig' as avatar %}

        <div class="row mb-20">
            <div class="col-xs-7 text-center">
                <a class="avatar-wrapper avatar-wrapper-150" href="{{ path('irmag_profile_change_avatar') }}">
                    {{ avatar.get(app.user) }}
                    <span class="change-avatar">Изменить</span>
                </a>
            </div>

            <div class="col-xs-5 text-right profile-actions pl-0">
                <a href="{{ path('irmag_profile_order_profiles') }}" class="btn btn-default btn-sm btn-block"><i class="fa fa-lg fa-address-card fa-fw pull-left"></i> Профили заказа</a>
                <a href="{{ path('irmag_profile_orders') }}" class="btn btn-default btn-sm btn-block"><i class="fa fa-lg fa-shopping-bag fa-fw pull-left"></i> Мои заказы</a>

                <a href="{{ path('irmag_profile_notifications') }}" class="btn btn-default btn-sm btn-block color-i4"><i class="fa fa-lg fa-bell fa-fw pull-left"></i> Уведомления</a>
                <a href="{{ path('security_logout') }}" class="btn btn-danger btn-sm btn-block">Выход <span class="fa fa-sign-out fa-fw"></span></a>
                <a href="{{ path('irmag_profile_change_password') }}" class="btn btn-link btn-sm btn-block">Изменить пароль</a>
                <small class="profile-remove"><a href="{{ path('irmag_profile_remove') }}" class="btn btn-link btn-sm btn-block"><span class="text-danger">Удалить профиль</span></a></small>
            </div>
        </div>

        <div class="text-center mb-10">
            <button type="button" class="btn btn-primary show-modal-push-ids checkbox-label">
                <i class="fa fa-podcast fa-lg fa-fw"></i>
                Показать мои PUSH устройства
            </button>
        </div>

        <div class="text-center">
            <div class="onesignal-customlink-container mb-10"></div>
        </div>

        {{ form_start(form) }}

            {{ form_errors(form) }}

            <div class="text-center checkbox-subscription">
                <div>
                    {% if form.email.vars.value is empty %}
                        {% set params = {
                            attr: { 'disabled': true },
                            label_attr: { 'data-toggle': 'tooltip', 'title': 'Укажите Email.', 'class': 'label label-email checkbox-label' }
                        } %}
                    {% else %}
                        {% set params = {
                            label_attr: { 'class': 'label label-email checkbox-label' }
                        } %}
                    {% endif %}
                    {{ form_row(form.isEmailSubscribed, params) }}
                </div>

                {{ form_row(form.isSiteSubscribed, {
                    label_attr: { 'class': 'label label-site checkbox-label' }
                }) }}

                <div id="sms-subscribe-row">
                    {{ form_row(form.isSmsSubscribed, {
                        attr: {
                            'disabled': form.telephone.vars.value|length != 18 and form.isMobileTelephone.vars.data
                        },
                        label_attr: { 'class': 'label label-sms checkbox-label' }
                    }) }}
                </div>
            </div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" id="profile-tabs">
                <li><a href="#personal" data-target="#tab-personal" role="tab" data-toggle="tab">Личные</a></li>
                <li><a href="#contacts" data-target="#tab-contacts" role="tab" data-toggle="tab">Контактные</a></li>
                <li><a href="#notifications" data-target="#tab-notifications" role="tab" data-toggle="tab">Уведомления</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                {# Личные #}
                <div role="tabpanel" class="tab-pane tab-pane-bordered" id="tab-personal">
                    <div class="form-group">
                        {{ form_label(form.username) }}
                        <small class="pull-right"><a href="{{ path('irmag_profile_change_login') }}">изменить</a></small>
                        {{ form_widget(form.username) }}
                        {{ form_errors(form.username) }}
                    </div>

                    {{ form_row(form.fullname) }}
                    {{ form_row(form.use_fullname) }}

                    {{ form_row(form.addressCity) }}

                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            {{ form_row(form.gender) }}
                        </div>
                        <div class="col-sm-6 col-md-8">
                            {{ form_row(form.birthday) }}
                        </div>
                    </div>
                    {{ form_row(form.profession) }}
                    {{ form_row(form.about) }}
                </div>

                {# Контактные #}
                <div role="tabpanel" class="tab-pane tab-pane-bordered" id="tab-contacts">
                    {# Email #}
                    <div class="form-group{% if (form.email.vars.valid is same as(false)) %} has-error{% endif %}">
                        {{ form_label(form.email) }}

                        <small class="pull-right"><a href="{{ path('irmag_profile_change_email') }}">изменить</a></small>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-at"></i></span>
                            {{ form_widget(form.email) }}
                        </div>

                        {{ form_errors(form.email) }}
                    </div>

                    {# Telephone #}
                    <div class="form-group{% if (form.telephone.vars.valid is same as(false)) %} has-error{% endif %}">
                        {{ form_label(form.telephone) }}

                        {% embed '@IrmagSite/Default/input-group-multi-telephone-field.html.twig' %}
                            {% block widget_checkbox %}
                                {{ form_widget(form.isMobileTelephone) }}
                            {% endblock %}
                            {% block widget_telephone %}
                                {{ form_widget(form.telephone, { 'attr': { 'autocomplete': 'off' } }) }}
                            {% endblock %}
                        {% endembed %}

                        {{ form_errors(form.telephone) }}
                    </div>
                </div>

                {# Уведомления #}
                <div role="tabpanel" class="tab-pane tab-pane-bordered" id="tab-notifications">
                    <table class="table table-valign-middle notification-events mb-10">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="color-i2">Push</th>
                                <th class="color-i3">Email</th>
                                <th class="color-i4">Сайт</th>
                                <th class="color-i5">SMS</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% form_theme form.notificationEvents '@IrmagProfile/Profile/fields_notificationEvents.html.twig' %}
                            {{ form_row(form.notificationEvents) }}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="text-center">
                <div class="btn-group">
                    {% set return_url = app.session.has('return_url') ? app.session.get('return_url') : url('irmag_homepage') %}
                    <a href="{{ return_url }}" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i> Вернуться на сайт</a>

                    {{ form_widget(form.save, { attr: { class: 'btn-success' } }) }}
                </div>
            </div>

        {{ form_end(form) }}

    </section><!-- /.profile-form -->

{% endblock %}

{% block additional_javascripts %}
    {{ parent() }}

    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
        var OneSignal = window.OneSignal || [];
        OneSignal.push(function() {
            var appId = 'e3c63da7-f7ab-4ae2-9a49-3be2bc7b06f1';
            var registerMePlz = function(userId) {
                IRMAG.Profile.currentPushId = userId;

                $.get('https://onesignal.com/api/v1/players/' + userId + '?app_id=' + appId, function (data) {
                    IRMAG.Profile.pushRegister(userId, data.device_model, data.ip);
                });

                IRMAG.Profile.enableNotificationCol(IRMAG.Profile.PUSH_COL);
            };

            OneSignal.init({
                appId: appId,
                safari_web_id: 'web.onesignal.auto.56640081-e0ac-44c5-9d26-db4b2624f604'
            });
            OneSignal.isPushNotificationsEnabled(function(isEnabled) {
                if (isEnabled) {
                    OneSignal.getUserId(function(userId) {
                        registerMePlz(userId);
                    });
                } else {
                    IRMAG.Profile.disableNotificationCol(IRMAG.Profile.PUSH_COL);
                }
            });
            OneSignal.on('subscriptionChange', function(isSubscribed) {
                OneSignal.getUserId(function(userId) {
                    if (isSubscribed) {
                        registerMePlz(userId);
                    } else {
                        IRMAG.Profile.pushUnregister(userId);
                        IRMAG.Profile.disableNotificationCol(IRMAG.Profile.PUSH_COL);
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function() {
            IRMAG.Profile.isPushSubscribed = {{ (push_ids is not empty)|json_encode }};
            IRMAG.Profile.init();
        });
    </script>
{% endblock %}
