{% macro get(user, imagine_filter = 'avatar_thumb', gravatar_size = 200) %}
    {% if user.avatar %}
        <img src="{{ user.avatar.webpath|imagine_filter(imagine_filter) }}" alt="{{ user.name }} avatar" class="avatar img-circle">
    {% elseif user.gravatar %}
        <img src="{{ user.gravatar }}&s={{ gravatar_size }}" alt="{{ user.name }} avatar" class="avatar img-circle">
    {% else %}
        <img src="https://secure.gravatar.com/avatar/irmag_{{ user.username }}?d=identicon&r=pg&s={{ gravatar_size }}" alt="{{ user.name }} avatar" class="avatar img-circle">
    {% endif %}
{% endmacro %}

{% macro getUrl(user, imagine_filter = 'avatar_thumb', gravatar_size = 200) %}
{% spaceless %}
    {% if user.avatar %}
        {{ user.avatar.webpath|imagine_filter(imagine_filter) }}
    {% elseif user.gravatar %}
        {{ user.gravatar }}&s={{ gravatar_size }}
    {% else %}
        https://secure.gravatar.com/avatar/irmag_{{ user.username }}?d=identicon&r=pg&s={{ gravatar_size }}
    {% endif %}
{% endspaceless %}
{% endmacro %}