{% if push_ids is not empty %}
    <div class="table-responsive">
        <table class="table table-condensed table-hover table-valign-middle mb-0" id="table-push-ids">
            <thead>
                <tr>
                    <th>Устройство</th>
                    <th>IP адрес</th>
                    <th>User agent</th>
                    <th>Дата создания</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for push_id in push_ids %}
                    <tr>
                        <td>{{ push_id.device }}</td>
                        <td>{{ push_id.ip }}</td>
                        <td>{{ push_id.ua }}</td>
                        <td>
                            <time datetime="{{ push_id.createdAt|date(constant('\\DateTime::RFC3339')) }}"
                                  title="{{ push_id.createdAt|localizeddate('full', 'none', null, null, 'd MMMM YYYY в HH:mm') }}"
                                  data-toggle="tooltip"
                                  class="cursor-help">
                                {{ push_id.createdAt|time_diff }}
                            </time>
                        </td>
                        <td>
                            {% if push_id.uuid != current_push_id %}
                                <button class="btn btn-danger btn-sm delete-push-id" data-uuid="{{ push_id.uuid }}" data-toggle="tooltip" title="Удалить устройство.">
                                    <i class="fa fa-remove fa-lg"></i>
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="alert alert-info">Тут пока пусто...</div>
{% endif %}
