{% extends '@IrmagProfile/layout-wide.html.twig' %}

{% block title %}🐔 Удаление профиля{% endblock %}

{% block content %}

    <section class="profile-form">

        <h2>Удаление профиля</h2>

        {% include '@IrmagSite/Default/breadcrumbs.html.twig' with { breadcrumbs: { 'Мой профиль': path('irmag_profile'), 'Удаление профиля': null } } %}

        {% if is_granted('ROLE_SONATA_ADMIN') %}
            <div class="alert alert-info">
                Профиль <b>{{ app.user.username }}</b> нельзя удалить!<br>
                Обратитесь к системному администратору.
            </div>

            <div class="text-center">
                <a href="{{ path('irmag_profile') }}" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i> Назад</a>
            </div>
        {% else %}
            <div class="alert alert-warning">
                <b>Внимание!</b> Профиль удалиться навсегда со всеми заказами и бонусами и его нельзя будет восстановить!
            </div>

            <div class="alert alert-info">
                <b>{{ app.user.name }}</b>,
                для удаления профиля введите Ваш пароль.
            </div>

            {{ form_start(form) }}

                {{ form_errors(form) }}

                {{ form_row(form.currentPassword, { attr: { autofocus: '' } }) }}

                <div class="text-center">
                    <div class="btn-group">
                        <a href="{{ path('irmag_profile') }}" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i> Назад</a>
                        {{ form_widget(form.save, { attr: { class: 'btn-danger' } }) }}
                    </div>
                </div>

            {{ form_end(form) }}
        {% endif %}

    </section><!-- /.profile-form -->

{% endblock %}
