{% extends '@IrmagBlog/layout.html.twig' %}

{% block title %}Доступ запрещён{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="blog-container">
                <div class="common-block col-md-offset-1 col-md-10 mt-40">
                    <h1 class="blog-header">Доступ запрещён</h1>
                    <p class="blog-message">
                        У вас нет прав для просмотра этой страницы!
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
