<footer class="footer-center col-md-offset-1">
    <div class="row">
        {% if app.user and app.request.pathInfo != '/feedback' %}
        <div class="footer-center-div">
            <a class="btn btn-info blog-feedback" href="{{ path('irmag_blog_feedback') }}">Обратная связь</a>
        </div>
        {% endif %}
        <div class="hidden-xs">
            <div class="footer-center-div" >
                <a href="{{ path('irmag_blog_about') }}">О ресурсе</a>
                <a href="{{ path('irmag_blog_conditions') }}">Начисление бонусов</a>
                <a href="{{ path('irmag_blog_rules') }}">Правила публикации</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="footer-center-icons hidden-lg hidden-md hidden-sm visible-xs-12-block">
            <a href="{{ path('irmag_blog_about') }}"><i class="fa fa-2x fa-question-circle"></i></a>
            <a href="{{ path('irmag_blog_conditions') }}"><i class="fa fa-2x fa-money"></i></a>
            <a href="{{ path('irmag_blog_rules') }}"><i class="fa fa-2x fa-file-text"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="footer-copyrights">
            &copy; 2014 - {{ 'now'|date('Y') }}, Россия, Иркутск
            <a href="{{ url('irmag_homepage') }}">ООО «ИРМАГ»</a><br>
        </div>
    </div>
</footer>
