<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="блог, блогер, отзывы, фото отзывы, сайт отзывов, отзывы покупателей, официальный отзыв, новые отзывы, шампунь отзывы, реальные отзывы, описание отзывы, маска отзывы, фотографии, статьи, косметика сайт">
        <meta name="description" content="Свободный блог о косметике, парфюмерии, бытовой химии, товарах для дома, семьи и детей. Честные отзывы покупателей с фотографиями и описанием достоинств и недостатков">
        <meta name="robots" content="index, follow">
        {% block additionalMeta %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('blog-apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('blog-favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('blog-favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('blog-manifest.json') }}">
        <link rel="mask-icon" href="{{ asset('blog-safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="{{ asset('blog-mstile-144x144.png') }}">

        <!-- fonts googleapis -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300&amp;subset=cyrillic" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400i,700,700i&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Serif&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
        <!-- stylesheets from cdn -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha256-UK1EiopXIL+KVhfbFa8xrmAWPeBjMVdvYMYkTAEv/HI=" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.10.0/css/bootstrap-markdown.min.css" integrity="sha256-umMZCcE/LUcJ3F3V/D6NmvQxdm3OWtRMiMApkNnDIOw=" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/at.js/1.5.4/css/jquery.atwho.min.css" integrity="sha256-JeJdMHBcISoXMz1NIZrsoNPsHQrhctl6EJs1su5kJ98=" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.css" integrity="sha256-ijlUKKj3hJCiiT2HWo1kqkI79NTEYpzOsw5Rs3k42dI=" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2-bootstrap.min.css" integrity="sha256-NAWFcNIZdH+TS1xpWujF/EB/Y8gwBbEOCoaK/eqaer8=" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emojify.js/1.1.0/css/basic/emojify.min.css" integrity="sha256-UOrvMOsSDSrW6szVLe8ZDZezBxh5IoIfgTwdNDgTjiU=" crossorigin="anonymous">

        <link rel="stylesheet" href="{{ preload(asset('build/vendor.css'), { as: 'style' }) }}">
        <link rel="stylesheet" href="{{ preload(asset('build/irmag-blog.css'), { as: 'style' }) }}">

    </head>
    <body>
        <div class="container-fluid layout-pad col-xs-12"
            {% if category is defined %}
                data-category="{{ category }}"
            {% endif %}
            {% if slug is defined %}
                data-slug="{{ slug }}"
            {% endif %} >
            <div class="row">
                <div class="mobile-header hidden-md hidden-lg">
                    {% include '@IrmagBlog/mobile-header.html.twig' %}
                </div>
            </div>
            <div class="row">
                {% include '@IrmagBlog/Default/floating-profile.html.twig' %}
                <div class="left-container hidden-sm hidden-xs">
                    {% include '@IrmagBlog/sidebar.html.twig' %}
                </div>
            </div>
            <div class="row">
                <div class="content col-md-offset-2 col-md-10">
                    {% block body %}{% endblock %}
                </div>
            </div>
            {% include '@IrmagBlog/footer.html.twig' %}
        </div>

        <!-- javascripts from cdn -->
        <script src="https://cdn.jsdelivr.net/npm/Hinclude@1.2.0/hinclude.js" integrity="sha256-HiyQGBqUawrxMsK23q4RAfD/t2nJEHBJY1pXZY1zDjg=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" crossorigin="anonymous" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js" integrity="sha256-4F7e4JsAJyLUdpP7Q8Sah866jCOhv72zU5E8lIRER4w=" crossorigin="anonymous" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha256-NXRS8qVcmZ3dOv3LziwznUHPegFhPZ1F/4inU7uC8h0=" crossorigin="anonymous" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.10.0/js/bootstrap-markdown.min.js" integrity="sha256-vT9X0tmmfKfNTg0U/Iv0rM9mhu8LA0MaDFrzIflHN9A=" crossorigin="anonymous" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-markdown@2.10.0/locale/bootstrap-markdown.ru.js" integrity="sha256-B7kjBjEZ/77y7Vsq3ZmU/Ge5EawQfV8z840iAeBjw+U=" crossorigin="anonymous" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/social-likes/3.1.3/social-likes.min.js" integrity="sha256-WsZwNGoPcZgn0oK4VCgjrDLBCua6hrjBePBpDffbZi0=" crossorigin="anonymous" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/emojify.js/1.1.0/js/emojify.min.js" integrity="sha256-VAB5tAlKBvgaxw8oJ1crWMVbdmBVl4mP/2M8MNRl+4E=" crossorigin="anonymous" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Caret.js/0.3.1/jquery.caret.min.js" integrity="sha256-Z1HLJlDixyy8ZO1atV6amcSvxnkAY1jy84gTNg7mRQE=" crossorigin="anonymous" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/at.js/1.5.4/js/jquery.atwho.js" integrity="sha256-iKHPx9jPgZP/rUwJa1uzMfrAsvctieoS5IyhtxoWjls=" crossorigin="anonymous" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.js" integrity="sha256-7A2MDY2eGSSUvgfbuH1IdzYk8qkEd3uzwiXADqPDdtY=" crossorigin="anonymous" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2_locale_ru.min.js" integrity="sha256-pOgt47E41sCGGuePJKzQneg2VxYCdLcvm/w81fCXo4o=" crossorigin="anonymous" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.22.0/js/vendor/jquery.ui.widget.min.js" integrity="sha256-OvyxDbK1WMr6yVxduIqtCvDgG+n0zuxq5QiQOok7x5I=" crossorigin="anonymous" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.22.0/js/jquery.iframe-transport.min.js" integrity="sha256-64JcdNc4W47Ue2P1/xTqUx2OMXyQZXT4mM9jwstqy8Y=" crossorigin="anonymous" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.22.0/js/jquery.fileupload.min.js" integrity="sha256-YonB9QyI10SqVq8Gs2VRCYi0iI/h5+KoVHx/G1A3q48=" crossorigin="anonymous" defer></script>

        <script src="{{ preload(asset('build/vendor.js'), { as: 'script' }) }}" defer></script>
        <script src="{{ preload(asset('build/irmag-blog.js'), { as: 'script' }) }}" defer></script>

        <script>
            $(function() {
                IRMAG.init();
                IRMAG.Blog.init();
            });
        </script>

        {% block javascripts %}{% endblock %}

        {% if app.environment == 'prod' %}
            <!-- Yandex.Metrika counter -->
            <script>
                (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter25845284 = new Ya.Metrika({id:25845284, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true, trackHash:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
            </script>
            <noscript>
                <div><img src="//mc.yandex.ru/watch/25845284" style="position:absolute; left:-9999px;" alt=""></div>
            </noscript>
            <!-- /Yandex.Metrika counter -->
        {% endif %}
    </body>
</html>
