{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}

    {% set localBlockings = [
        constant('Irmag\\ProfileBundle\\Entity\\UserBlockHistory::USER_ACTION_FORUM_BLOCK'),
        constant('Irmag\\ProfileBundle\\Entity\\UserBlockHistory::USER_ACTION_ACTION_COMMENT_BLOCK'),
        constant('Irmag\\ProfileBundle\\Entity\\UserBlockHistory::USER_ACTION_BLOG_COMMENT_BLOCK'),
        constant('Irmag\\ProfileBundle\\Entity\\UserBlockHistory::USER_ACTION_ELEMENT_COMMENT_BLOCK'),
        constant('Irmag\\ProfileBundle\\Entity\\UserBlockHistory::USER_ACTION_NEWS_COMMENT_BLOCK'),
    ] %}

    {% set localUnblockings = [
        constant('Irmag\\ProfileBundle\\Entity\\UserBlockHistory::USER_ACTION_FORUM_UNBLOCK'),
        constant('Irmag\\ProfileBundle\\Entity\\UserBlockHistory::USER_ACTION_ACTION_COMMENT_UNBLOCK'),
        constant('Irmag\\ProfileBundle\\Entity\\UserBlockHistory::USER_ACTION_BLOG_COMMENT_UNBLOCK'),
        constant('Irmag\\ProfileBundle\\Entity\\UserBlockHistory::USER_ACTION_ELEMENT_COMMENT_UNBLOCK'),
        constant('Irmag\\ProfileBundle\\Entity\\UserBlockHistory::USER_ACTION_NEWS_COMMENT_UNBLOCK'),
    ] %}

    {% set labelClass %}
        {% spaceless %}
            {% if object.status == constant('Irmag\\ProfileBundle\\Entity\\UserBlockHistory::USER_ACTION_BLOCK') %}
                label-danger
            {% elseif object.status == constant('Irmag\\ProfileBundle\\Entity\\UserBlockHistory::USER_ACTION_UNBLOCK') %}
                label-success
            {% elseif object.status in localBlockings %}
                label-warning
            {% elseif object.status in localUnblockings %}
                label-info
            {% endif %}
        {% endspaceless %}
    {% endset %}

    <span class="label {{ labelClass }}">{{ object.availableStatuses[object.status] }}</span>
{% endblock %}