{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">
                <i class="fa fa-dollar"></i> Последние заказы
            </h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>

        <div class="box-body">
            {% if orders|length > 0 %}
                <table class="table table-condensed">
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td><a href="{{ admin_pool.getAdminByAdminCode('irmag.admin.order').generateUrl('edit', { 'id': order.id }) }}">#{{ order.id }}</a></td>
                                <td class="text-nowrap">{{ order.totalPrice }} <i class="fa fa-rub"></i></td>
                                <td>{{ order.deliveryMethod.name }}</td>
                                <td>{{ order.paymentMethod.name }}</td>
                                <td>{{ order.createdAt|date(constant('Irmag\\SiteBundle\\Config::DATETIME_FORMAT')) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="alert alert-info">Заказов нет</p>
            {% endif %}
        </div>

        <div class="box-footer">
            <a href="{{ admin_pool.getAdminByAdminCode('irmag.admin.order').generateUrl('list') }}" class="btn btn-primary btn-block"><i class="fa fa-list"></i> Посмотреть все заказы</a>
        </div>
    </div>
{% endblock %}
