<li class="dropdown" id="irmag-bell">
    {% if count > 0 %}
        <a href="{{ url('irmag_profile_notifications') }}" class="notification-bell" data-toggle="tooltip" data-placement="bottom" title="У Вас есть непрочитанные уведомления.">
            <i class="fa fa-bell fa-fw"></i>
            <span class="visible-xs-inline">Уведомления</span>
            <span class="badge">{{ count }}</span>
        </a>
    {% endif %}
</li>
