{% extends '@IrmagSite/layout.html.twig' %}

{% block title %}Уведомления{% endblock %}

{% set irmag_metrics_disabed = true %}
{% set meta_robots_noindex = true %}
{% set meta_robots_nofollow = true %}

{% block body %}

    <section class="container">
        <h2>Уведомления</h2>

        {% include '@IrmagSite/Default/breadcrumbs.html.twig' with {
            breadcrumbs: {
                'Мой профиль': path('irmag_profile'),
                'Уведомления': null
            }
        } %}

        <div class="alert alert-info">
            Настроить уведомления можно в разделе <a href="{{ path('irmag_profile', { '_fragment': 'notifications' }) }}">Мой профиль</a>.
        </div>

        <div class="panel panel-default">
            {% if notifications is not empty %}
                <div class="panel-heading clearfix p-0">
                    <button type="button" class="btn btn-link pull-right mark-all-as-read-btn" data-toggle="tooltip" data-placement="left" title="Пометить все уведомления как прочитанные."><i class="fa fa-check"></i> всё прочитано</button>
                </div>
            {% endif %}
            <div class="panel-body p-0">
                {% if notifications is empty %}
                    <div class="p-10">пока тут пусто ...</div>
                {% else %}
                    <table class="notification-table table-valign-middle table table-borderless table-striped mb-0">
                        <tbody>
                            {% for notify in notifications %}
                                <tr data-id="{{ notify.id }}"{{ notify.isAsRead ? ' class="text-muted"' }}>
                                    <td>
                                        {% if not notify.isAsRead %}
                                            <i class="fa fa-info-circle fa-lg fa-fw text-info"></i>
                                        {% endif %}

                                        {% if notify.url %}
                                            <a href="{{ notify.url }}">
                                                {{ notify.title }}
                                            </a>
                                        {% else %}
                                            {{ notify.title }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ notify.body|raw }}
                                    </td>
                                    <td>
                                        <time datetime="{{ notify.createdAt|date(constant('\\DateTime::RFC3339')) }}"
                                              title="{{ notify.createdAt|localizeddate('full', 'none', null, null, 'd MMMM YYYY в HH:mm') }}"
                                              data-toggle="tooltip"
                                              class="cursor-help text-sm text-muted">
                                            {{ notify.createdAt|time_diff }}
                                        </time>
                                    </td>
                                    <td>
                                        {% if not notify.isAsRead %}
                                            <button type="button" class="btn btn-primary btn-sm pull-right mark-as-read-btn" data-toggle="tooltip" data-placement="left" title="Пометить как прочитанное."><i class="fa fa-check"></i></button>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
            {% if notifications is not empty %}
                <div class="panel-footer pt-0 pb-0">
                    {{ knp_pagination_render(notifications) }}
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function() {
            IRMAG.Notification.init();
        });
    </script>
{% endblock %}
