{% extends '@IrmagForum/layout.html.twig' %}

{% block title %}Редактирование поста{% endblock %}

{% set breadcrumbs = {
    (post.topic.forum.name): path('irmag_forum_homepage'),
    (post.topic.title): path('irmag_forum_goto_topic', { id: (post.topic.id) }),
    'Редактирование поста': ''
} %}

{% block forumbreadcrumbs %}
    {% include '@IrmagForum/Default/breadcrumb.html.twig' with breadcrumbs %}
{% endblock %}

{% set forumtab = {'active': 'forum'} %}
{% block forumnav %}
    {% include '@IrmagForum/Default/nav.html.twig' with forumtab %}
{% endblock %}

{% block forumcontent %}
    {{ render(controller('Irmag\\ForumBundle\\Controller\\PostController::createOrUpdatePostAction', { id: post.topic.id }, { postId: post.id })) }}
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            IRMAG.Forum.Post.init();
            IRMAG.Attachments.init('forum_post');
        });
    </script>
{% endblock %}