<hr class="mb-0">

<div class="block-recommend-elements">
    <h3 class="mb-20">С этим товаром смотрят</h3>

    <section class="catalog catalog-sm catalog-not-expandable">
        <div class="row">
            {% for recommend_element in recommend_elements %}
                {% include '@IrmagSite/Catalog/catalog-element-grid.html.twig' with { element: recommend_element } %}
            {% endfor %}
        </div>

        <div class="clearfix"></div>
    </section>
</div>
