section.brand-zone {
    background-attachment: fixed;
    background-position: center 0;
}

    .brand-zone-content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 960px;
        height: 400px;
        background-color: rgba(14, 13, 13, .6);
        margin: auto;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
    }

    .brand-zone-logo {
        display: block;
        margin-bottom: 10px;
        margin-top: 10px
    }

    .col {
        color: white;
        float: left;
        padding: 0 10px 10px;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, .5);
    }

    .col-1 {
        width: 49%;
        margin-right: 1.5%;
    }

    .col-2 {
        width: 24%
    }

        img.img-margined {
            margin-top: 10px;
        }

    .col-3 {
        width: 24%;
        margin-left: 1.5%
    }

    .border-top,
    .border-bottom,
    .border-left {
        border-style: solid;
        border-color: #3d3d3d;
        border-width: 0;
    }

    .border-top { border-top-width: 1px; }
    .border-left { border-left-width: 1px; }
    .border-bottom { border-bottom-width: 1px; }

    .brand-zone-content h3 {
        margin-bottom: 10px;
        font-family: Georgia, serif;
        font-size: 16px;
    }

    .brand-line {
        border-top: 1px solid #3d3d3d;
        margin-top: 5px;
        margin-bottom: 8px;
    }

    .col a {
        box-sizing: border-box;
        display: inline-block;
        float: left;
        width: 100%;
        padding: 10px;
        height: 95px;
        opacity: .7;
    }

    .col a:hover {
        opacity: 1;
    }

    .col-1 a {
        width: 50%;
    }
