{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset(web_path ~ '/style.css') }}">
{% endblock %}

{% embed 'IrmagSiteBundle:Catalog:brand-zone-container.html.twig' with { bg: web_path ~ '/bg.jpg' } %}
    {% block content %}
        {% set anc = 'jmp-to-catalog-content' %}
        <div class="brand-zone-content">
            <a href="{{ path('irmag_catalog', { filter: { manufacturer: { 0: 35 } }, _fragment: anc }) }}" class="brand-zone-logo">
                <img src="{{ web_path ~ '/logo.png' }}" alt="">
            </a>
            <div class="clearfix"></div>
            <div>
                <div class="col col-1">
                    <h3>УХОД ЗА ВОЛОСАМИ</h3>

                    <a class="border-top" href="{{ path('irmag_catalog', { filter: { brand: { 0: 104 } }, _fragment: anc }) }}">
                        <img src="{{ web_path ~ '/2_gliss.png' }}" alt="Glisskur">
                    </a>
                    <a class="border-top border-left" href="{{ path('irmag_catalog', { filter: { brand: { 0: 108 } }, _fragment: anc }) }}">
                        <img src="{{ web_path ~ '/2_schauma.png' }}" alt="Shauma">
                    </a>
                    <a class="border-top border-bottom" href="{{ path('irmag_catalog', { filter: { brand: { 0: 1219 } }, _fragment: anc }) }}">
                        <img src="{{ web_path ~ '/2_ultime.png' }}" alt="Ultime">
                    </a>
                    <a class="border-top border-bottom border-left" href="{{ path('irmag_catalog', { filter: { brand: { 0: 1445 } }, _fragment: anc }) }}">
                        <img src="{{ web_path ~ '/2_men.png' }}" alt="Men">
                    </a>
                </div>

                <div class="col col-2">
                    <h3>УКЛАДКА ВОЛОС</h3>

                    <a class="border-top" href="{{ path('irmag_catalog', { filter: { brand: { 0: 107 } }, _fragment: anc }) }}">
                        <img src="{{ web_path ~ '/2_taft.png' }}" alt="Taft">
                    </a>
                    <a class="border-top border-bottom" href="{{ path('irmag_catalog', { filter: { brand: { 0: 100 } }, _fragment: anc }) }}">
                        <img src="{{ web_path ~ '/2_got.png' }}" class="img-margined" alt="Got2b">
                    </a>
                </div>

                <div class="col col-3">
                    <h3>КРАСКА ДЛЯ ВОЛОС</h3>

                    <a class="border-top" href="{{ path('irmag_catalog', { filter: { brand: { 0: 1508 } }, _fragment: anc }) }}">
                        <img src="{{ web_path ~ '/2_hair.png' }}" alt="Schwarzkopf-Hair">
                    </a>
                    <a class="border-top border-bottom" href="{{ path('irmag_catalog', { filter: { brand: { 0: 93 } }, _fragment: anc }) }}">
                        <img src="{{ web_path ~ '/2_palette.png' }}" alt="Palette">
                    </a>
                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}
