@mixin order-panel($orig-color, $with-hub: false) {
    $color: lighten($orig-color, 20%);
    $border-color: darken($orig-color, 10%);
    $icon-selected-color: darken($border-color, 30%);

    @include panel-variant($color, $panel-default-text, $color, $color);

    @if $with-hub == true {
        .hub {
            &.checked {
                background-color: $color;
                border-color: $border-color;
                color: $icon-selected-color;

                .hub-description {
                    color: $icon-selected-color;
                }
            }

            &:hover {
                background-color: $color;
                border-color: $border-color;
            }
        }
    }
}

.panel {
    .panel-heading {
        > h3 { display: inline-block; }
    }

    .panel-body {
        padding-bottom: 0;
    }
}

// Профиль заказа
// Комментарий к заказу
// Расчёт удалённой доставки
.order-panel-profile,
.order-panel-comment,
.order-panel-delivery-calculator {
    @include order-panel($irmag-color-1);

    .btn-sm-right {
        margin-top: -5px;
    }
}
// Плательщик
// Смешанная оплата
.order-panel-payer {
    @include order-panel($irmag-color-2, true);
}
// Способ доставки
.order-panel-delivery-method {
    @include order-panel($irmag-color-3, true);
}
// Адрес доставки
.order-panel-delivery-address {
    @include order-panel($irmag-color-4);
}
// Способ оплаты
.order-panel-payment-method,
.order-panel-mixed-payment {
    @include order-panel($irmag-color-5, true);
}
