<div class="btn-group" id="catalog-view-toggler">
    <button data-catalog-view="grid" class="btn btn-default{% if catalog_view_type == 'grid' %} active{% endif %}" data-toggle="tooltip" title="Таблицей"><i class="fa fa-th-large"></i></button>
    <button data-catalog-view="line" class="btn btn-default{% if catalog_view_type == 'line' %} active{% endif %}" data-toggle="tooltip" title="Списком"><i class="fa fa-list"></i></button>
</div>
