{% macro add_btn(element, text, btn_extra_class = null, amount = null, yandex_target_name = '') %}
{% spaceless %}
    {% if element.isActive %}
        {% set btn_extra_class = btn_extra_class is null ? '' : ' ' ~ btn_extra_class %}

        <a class="add-element-to-basket btn{{ btn_extra_class }}{{ element in irmag.basket.elements ? ' btn-success' : ' btn-primary' }}"
           {% if yandex_target_name is not empty %}
               onclick="if ('undefined' !== typeof yaCounter{{ metrics.ya_id }}) yaCounter{{ metrics.ya_id }}.reachGoal('{{ yandex_target_name }}');"
           {% endif %}
           data-element-id="{{ element.id }}"
           {% if amount %}data-amount="{{ amount }}"{% endif %}
        >
            <i class="btn-icon fa fa-lg fa-fw"></i>
            {% if text is not null %}
                {{ text }}
            {% else %}
                {# акция с ценой на товар #}
                {% if irmag.action.elements[element.id].price is defined %}
                    <span class="price-old">
                        {{ element.price|number_format }}
                    </span>

                    <span class="price">
                        {{ get_price_with_discount(element)|number_format }}
                        <i class="fa fa-rub"></i>
                    </span>
                {% else %}
                    {{ get_price_with_discount(element)|number_format }}
                    <i class="fa fa-rub"></i>
                {% endif %}
            {% endif %}
        </a>
    {% endif %}
{% endspaceless %}
{% endmacro %}
