{% macro add_btn(element, favorite, class, icon_class, tooltip) %}
{% spaceless %}
    {% if not element.isActive and element.abcGroup == 'V' %}
        {% set class = class ~ ' disabled' %}
    {% endif %}

    {% if icon_class is null %}
        {% if irmag.favorite.elements[element.id] is defined %}
            {% set icon_class = 'fa fa-star fa-lg fa-fw' %}
            {% if irmag.favorite.favorites|length == 1 %}
                {% set class = class ~ ' disabled' %}
            {% endif %}
        {% else %}
            {% set icon_class = 'fa fa-star-o fa-lg fa-fw' %}
        {% endif %}
    {% endif %}

    {% if irmag.favorite.favorites|length > 1 %}
        <div class="btn-group dropup">
            <a class="dropdown-toggle {{ class }}" data-toggle="dropdown">
                <i class="{{ icon_class }}"{% if tooltip is not empty %} data-toggle="tooltip" data-placement="bottom" title="{{ tooltip }}"{% endif %}></i>
                {#<span class="caret"></span>#}
            </a>
            <ul class="favorite-dropdown dropdown-menu dropdown-menu-right scrollable-menu">
                {% for my_favorite in irmag.favorite.favorites %}
                    <li{{ irmag.favorite.elements[element.id] is defined and my_favorite in irmag.favorite.elements[element.id].favorites ? ' class="disabled"' }}>
                        <a
                            {% if favorite is not null %}
                                data-favorite-from-id="{{ favorite.id }}"
                                data-favorite-to-id="{{ my_favorite.id }}"
                            {% else %}
                                data-favorite-name="{{ my_favorite.name }}"
                            {% endif %}
                            data-element-id="{{ element.id }}"
                        >
                            {{ my_favorite.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% elseif favorite is null %}
        <a class="{{ class }}" data-element-id="{{ element.id }}">
            <i class="{{ icon_class }}"{% if tooltip is not empty %} data-toggle="tooltip" data-placement="bottom" title="{{ tooltip }}"{% endif %}></i>
        </a>
    {% endif %}
{% endspaceless %}
{% endmacro %}
