{% spaceless %}
<br>
<span class="label label-info">
    {% if 'V' == element.abcGroup %}
        Товар снят с продажи
    {% else %}
        Товара нет в наличии
    {% endif %}
</span>
{% endspaceless %}
