{% spaceless %}
{% for action in irmag.action.elements[element.id].actions %}
    <div class="alert alert-warning">
        <a href="{{ path('irmag_action_detail', { slug: action.slug }) }}" class="text-warning" data-toggle="tooltip" title="Этот товар участвует в акции. Нажмите, чтобы перейти к акции.">
            {% if action.sticker.webpath is defined %}
                <img src="{{ asset(action.sticker.webpath) }}" class="sticker" alt="">
            {% else %}
                <span class="props">
                    <i class="prop-action fa fa-fw"></i>
                </span>
            {% endif %}
            {{ action.title }}
        </a>
    </div>
{% endfor %}
{% endspaceless %}
