{% trans_default_domain 'irmag_site' %}
{% spaceless %}
<div class="alert alert-info">
    <i class="fa fa-fw fa-home" data-toggle="tooltip" title="{% trans %}element.is_only_for_home{% endtrans %}"></i>
    {% trans %}element.tooltip.is_only_for_home{% endtrans %}
</div>
{% endspaceless %}
