
.bz-main-link {
    position: absolute;
    top: 50px;
    left: 70px;
    display: block;
    font-family: Arial, serif;
    font-weight: bold;
    color: #000 !important;
    background-color: rgba(255, 255, 255, .8);
    padding: 5px 20px;
}

.bz-main-link:hover {
    background-color: rgb(255, 255, 255);
}

.bz-main-link:hover {
    color: rgb(255, 255, 255);
}

.brand-zone-wrapper {
    position: relative;
}

    .bz-title {
        position: absolute;
        font-family: Arial, serif;
        margin: 0 auto;
        text-align: center;
        top: -50px;
        left: 50%;
    }

        .bz-subtitle {
            position: relative;
            left: -50%;
            color: rgb(4, 190, 242);
            font-size: 32px;
            font-weight: bold;
        }

    .bz-dock {
        text-align: center;
        margin: -52px auto 0;
        width: 1120px;
        height: 100px;
        background-image: url("dock.png");
    }

    .bz-bottles-container {
        width: 1000px;
        height: 330px;
        bottom: 50px;
        text-align: center;
        margin: 90px auto 0;
    }

    .bz-bottles-table {
        width: 1000px;
        margin: 0 auto;
        position: relative;
        z-index: 0;
    }

        .bottle-cell {
            display: block;
            color: black;
            position: relative;
        }

            .bz-bottle {
                position: absolute;
                z-index: 3;
                width: 200px;
                height: 330px;
                background-image: url("bottle.png");
            }

                .hidden-item {
                    display: block;
                    position: absolute;
                    margin: 47px 0 0 12px;
                    opacity: 0;
                    transition: opacity 1s ease-in-out;
                }

                    .hidden-item img {
                        z-index: 2;
                    }

                .bottle-cell:hover .bz-bottle-content {
                    height: 0;
                }

                .bottle-cell:hover .bottle-monster {
                    opacity: 0;
                }

                .bottle-cell:hover .hidden-item {
                    opacity: .9;
                }

                .bottle-cell:hover .bottle-text {
                    color: rgb(104, 0, 14);
                }

                .bottle-text-aligner {
                    position: absolute;
                    z-index: 5;
                    top: 270px;
                    left: 0;
                    display: table;
                    width: 200px;
                    height: 45px;
                }

                    .bottle-text {
                        display: table-cell;
                        color: rgb(14, 14, 15);
                        line-height: 16px;
                        font-family: 'Verdana', sans-serif;
                        font-size: 11px;
                        font-weight: bold;
                        text-align: center;
                        vertical-align: middle;
                    }

                .bottle-monster {
                    opacity: 1;
                    transition: opacity 1s ease-in-out;
                    position: absolute;
                    z-index: -2;
                }

                .bz-bottle-content {
                    position: absolute;
                    bottom: -260px;
                    z-index: 2;
                    width: 180px;
                    height: 230px;
                    margin: 20px 0 0 12px;
                    transition: height 2s;
                }

                .bz-liquid-1 {
                    background-color: rgba(75, 29, 29, .6);
                }

                .bz-liquid-2 {
                    background-color: rgba(43, 39, 39, .6);
                }

                .bz-liquid-3 {
                    background-color: rgba(63, 100, 36, .6);
                }

                .bz-liquid-4 {
                    background-color: rgba(104, 83, 33, .6);
                }

                .bz-liquid-5 {
                    background-color: rgba(16, 68, 92, .6);
                }