.bz-logo {
    display: block;
    width: 500px;
    height: 130px;
    background: url('sprites.png') -80px 0;
    text-align: center;
    margin: 70px auto 30px;
}

.bz-menu {
    width: 1000px;
    height: 300px;
    text-align: center;
    margin: 0 auto;
    clear: both;
}

    .bz-col {
        width: 340px;
    }

    .bz-col-left {
        float: left;
    }

    .bz-col-right {
        float: right;
    }

        .bz-menu-item {
            display: block;
            width: 100%;
            height: 80px;
            margin-bottom: 10px;
            padding: 20px;
        }

        .bz-menu-item:hover + .bz-pic {
            top: 230px;
            transition: top 0.5s ease-in-out;
            -webkit-transition: top 0.5s ease-in-out;
            -moz-transition: top 0.5s ease-in-out;
            -ms-transition: top 0.5s ease-in-out;
            -o-transition: top 0.5s ease-in-out;
        }

        .item-1:hover {
            background-color: rgba(255, 173, 103, .6);
        }

        .item-2:hover {
            background-color: rgba(255, 136, 174, .6);
        }

        .item-3:hover {
            background-color: rgba(70, 198, 247, .6);
        }

        .item-4:hover {
            background-color: rgba(110, 222, 182, .6);
        }

            .shadow-1 {
                color: red;
            }

            .bz-item-title {
                display: block;
                background: url('sprites.png');
                height: 40px;
                width: 300px;
            }

            .title-1 {
                background-position: -30px 75px;
            }

            .title-2 {
                background-position: -375px 75px;
            }

            .title-3 {
                background-position: -30px 38px;
            }

            .title-4 {
                background-position: -375px 38px;
            }

        .bz-pic {
            height: 250px;
            width: 250px;
            background-size: cover;
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
            margin: 0 auto;
            top: 430px;

            transition: top 0.2s ease-in-out;
            -webkit-transition: top 0.2s ease-in-out;
            -moz-transition: top 0.2s ease-in-out;
            -ms-transition: top 0.2s ease-in-out;
            -o-transition: top 0.2s ease-in-out;
        }

        .pic-1 {
            background-image: url('1.png');
        }

        .pic-2 {
            background-image: url('2.png');
        }

        .pic-3 {
            background-image: url('3.png');
        }

        .pic-4 {
            background-image: url('4.png');
        }