{% extends '@IrmagForum/layout.html.twig' %}

{% block title %}Форум{% endblock %}

{% set breadcrumbs = { } %}
{% block forumbreadcrumbs %}
    {% include '@IrmagForum/Default/breadcrumb.html.twig' with breadcrumbs %}
{% endblock %}

{% set forumtab = {'active': 'forum'} %}
{% block forumnav %}
    {% include '@IrmagForum/Default/nav.html.twig' with forumtab %}
{% endblock %}

{% block forumcontent %}
    <div class="forums-table mt-20" data-forum="{{ forum.id }}">

        {% if app.user and not is_granted('ROLE_IRMAG_DISALLOW_FORUM_TOPIC_CREATE') %}
            <div class="mb-20">
                <button class="btn btn-default forum-add-topic hidden-xs" type="button">
                    <i class="fa fa-plus"></i>
                    Новая тема
                </button>
            </div>
        {% endif %}

        <div>
            {{ knp_pagination_render(pagination, '@IrmagForum/Default/pagination.html.twig') }}
            <a href="{{ path('irmag_forum_atom', { id: forum.id }) }}" class="forum-rss" data-toggle="tooltip" data-original-title="RSS">
                <i class="fa fa-2x fa-feed"></i>
            </a>
        </div>

        {% if pagination.pageCount > 0 %}
            <table class="table forums-table-content">
                <thead>
                    <tr class="active">
                        <th>
                            {% if app.user %}
                            <a href="#" class="forum-mark-all-topics-read">
                                <i class="fa fa-flag"
                                   data-toggle="tooltip"
                                   data-original-title="Отметить все как прочитанные"
                                   data-forum="{{ forum.id }}"
                                   ></i>
                            </a>
                            {% endif %}
                        </th>
                        <th><span class="hidden-xs">Тема</span><span class="visible-xs"><i class="fa fa-list"></i></span></th>
                        <th><span class="hidden-xs">Ответов</span><span class="visible-xs text-center"><i class="fa fa-comments"></i></span></th>
                        <th><span class="hidden-xs">Просмотров</span><span class="visible-xs text-center"><i class="fa fa-eye"></i></span></th>
                        <th class="hidden-xs">Автор</th>
                        <th><span class="hidden-xs">Обновление</span><span class="visible-xs text-center"><i class="fa fa-refresh"></i></span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for topic in pagination %}
                        {% set unseenFlag = false %}
                        {% if app.user %}
                           {% set unseenFlag = topic.id not in seen|keys or (topic.lastPost and topic.id in seen|keys and seen[topic.id] < topic.lastPost.updatedAt) %}
                        {% endif %}
                        <tr {% if unseenFlag %} class="success" {% endif %}>

                            {# Иконки топика #}
                            <td class="forum-table-iconset vcenter text-center">
                                {% if topic.isActive %}
                                    {% if topic.poll %}
                                        <i class="fa fa-question forum-color-available cursor-help" title="Опрос"></i>
                                    {% else %}
                                        {% if unseenFlag %}
                                            <i class="fa fa-envelope cursor-help forum-color-highlight" title="Есть непрочитанные сообщения" ></i>
                                        {% else %}
                                            <i class="fa fa-envelope-o" title="Нет непрочитанных сообщений"></i>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    <i class="fa fa-ban forum-color-attention"></i>
                                {% endif %}
                                {% if topic.isImportant and not topic.poll %}
                                    <i class="fa fa-exclamation {% if unseenFlag %}cursor-help forum-color-attention{% endif %}" title="Важная тема"></i>
                                {% endif %}
                            </td>

                            {# Название топика #}
                            {# XXX: слишком много наворочено, отрефакторить #}
                            <td class="vcenter">
                                {% if topic.isImportant and not topic.poll %}
                                    <strong>
                                        <span class="hidden-xs">Важно:</span>
                                        <a href="{{ path('irmag_forum_goto_topic', { id: topic.id }) }}" {% if topic.isSpecial %}class="label label-primary topic-special"{% endif %}>
                                            {{ topic.title }}
                                        </a>
                                    </strong>
                                {% elseif topic.isActive == false %}
                                    <strong>
                                        <span class="hidden-xs">Закрыто:</span>
                                    </strong>
                                    <a href="{{ path('irmag_forum_goto_topic', { id: topic.id }) }}" {% if topic.isSpecial %}class="label label-primary topic-special"{% endif %}>
                                        {% if topic.poll %}[Опрос]:{% endif %}
                                        {{ topic.title }}
                                    </a>
                                {% elseif topic.poll %}
                                    <strong>
                                        <span class="hidden-xs">Опрос:</span>
                                        <a href="{{ path('irmag_forum_goto_topic', { id: topic.id }) }}" {% if topic.isSpecial %}class="label label-primary topic-special"{% endif %}>{{ topic.title }}</a>
                                    </strong>
                                {% else %}
                                    <a href="{{ path('irmag_forum_goto_topic', { id: topic.id }) }}" {% if topic.isSpecial %}class="label label-primary topic-special"{% endif %}>{{ topic.title }}</a>
                                {% endif %}

                                {# Пагинация по топику #}
                                {% include '@IrmagForum/Forum/forum-topic-pagination.html.twig' %}

                                <br>
                                <span class="forum-topic-subtext hidden-xs">
                                    {{ topic.description }}
                                </span>
                                <br>
                                <span class="forum-topic-subtext hidden-xs">
                                    {% for tag in topic.forumTopicTags %}
                                        <a href="{{ path('irmag_forum_search_by_tag', { tag: tag.name }) }}">{{ tag.name }}</a>
                                        {% if not loop.last %}·{% endif %}
                                    {% endfor %}
                                </span>
                            </td>

                            {# Количество ответов #}
                            <td class="text-center vcenter">
                                {% if topic.totalPosts > 0 %}{{ (topic.totalPosts - 1)}}{% else %}0{% endif %}
                            </td>

                            {# Просмотры #}
                            <td class="text-center vcenter">{{ topic.views }}</td>

                            {# Автор топика #}
                            <td class="text-center hidden-xs vcenter">
                                <a href="{{ path('irmag_forum_profile', { id: topic.user.id }) }}">{{ topic.user.name }}</a>
                            </td>

                            {# Обновление #}
                            <td class="vcenter">
                                {% if topic.lastPost %}
                                <span>
                                    <a href="{{ path('irmag_forum_goto_topic', { id: topic.id, post: topic.lastPost.id }) }}" title="Перейти к последнему посту">
                                        {{ topic.lastPost.updatedAt|localizeddate('full', 'none', null, null, 'dd.MM.Y') }}
                                    </a>
                                </span>
                                <br>
                                <span class="long-cut">
                                    от <a href="{{ path('irmag_forum_profile', { id: topic.lastPost.user.id }) }}">{{ topic.lastPost.user.name }}</a>
                                </span>
                                {% endif %}
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>В выбранном форуме ещё не создано ни одной темы.</p>
        {% endif %}
        {{ knp_pagination_render(pagination, '@IrmagForum/Default/pagination.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {% if app.user %}
        <script>
            $(function() {
                IRMAG.Forum.Topic.init();
                IRMAG.Forum.Subscription.init();
            });
        </script>
    {% endif %}
{% endblock %}
