{% set ownerFQCN = thread.ownerFQCN %}

{% if 'Irmag\\SiteBundle\\Entity\\Element' == ownerFQCN %}
    {% set owner_type = 'Товар' %}
    {% set owner_label = 'label-warning' %}
    {% set config_name = 'element' %}
{% elseif 'Irmag\\SiteBundle\\Entity\\News' == ownerFQCN %}
    {% set owner_type = 'Новость' %}
    {% set owner_label = 'label-info' %}
    {% set config_name = 'news' %}
{% elseif 'Irmag\\SiteBundle\\Entity\\Action' == ownerFQCN %}
    {% set owner_type = 'Акция' %}
    {% set owner_label = 'label-primary' %}
    {% set config_name = 'action' %}
{% elseif 'Irmag\\BlogBundle\\Entity\\BlogPost' == ownerFQCN %}
    {% set owner_type = 'Пост в блоге' %}
    {% set owner_label = 'label-danger' %}
    {% set config_name = 'blog' %}
{% endif %}

{% set disallow_roles = comment_configs[config_name].disallow_roles %}

{% extends '@IrmagThreadComment/comment.html.twig' %}

{% block thread_comment_anchor %}
    <span class="label {{ owner_label }} mr-10">{{ owner_type }}</span>

    <a href="{{ url(comment.thread.ownerRoute.name, comment.thread.ownerRoute.parameters) }}#jmp-to-comment-{{ comment.id }}">

        {% if 'Irmag\\SiteBundle\\Entity\\Element' == ownerFQCN and item.elementName is not empty %}
            {% set name = item.elementName %}
        {% elseif 'Irmag\\SiteBundle\\Entity\\News' == ownerFQCN and item.newsTitle is not empty %}
            {% set name = item.newsTitle %}
        {% elseif 'Irmag\\SiteBundle\\Entity\\Action' == ownerFQCN and item.actionTitle is not empty %}
            {% set name = item.actionTitle %}
        {% elseif 'Irmag\\BlogBundle\\Entity\\BlogPost' == ownerFQCN and item.blogPostTitle is not empty %}
            {% set name = item.blogPostTitle %}
        {% endif %}

        {{ name|default('') }}

        {% if item.elementToneName is not empty %}
            <span class="text-muted"> - {{ item.elementToneName }}</span>
        {% endif %}
    </a>
{% endblock %}