section.my-orders {
    .panel {
        margin-bottom: 10px;

        .panel-heading {
            .label {
                line-height: unset;
            }
        }
    }

    table {
        td {
            vertical-align: middle;

            &.my-key {
                width: 1em;
                white-space: nowrap;
                background-color: #f5f5f5;
                border-right: 1px solid $panel-default-border;
            }

            &.legal-data {
                border-top: 0;

                .border-top-fix {
                    border-top: 1px solid #ddd;
                }
            }

            .my-track-code {
                cursor: pointer;
            }

            .tracker-link {
                display: inline-block;
                margin-left: 15px;
                font-size: 13px;

                a {
                    text-decoration: none;
                    border-bottom: 1px dashed $link-color;
                }
            }
        }

        table {
            th {
                background-color: $gray-lighter;
                border-top: 1px solid $panel-default-border !important;
            }

            .amount {
                width: 1em;
                text-align: center;
            }

            .price {
                width: 1em;
                white-space: nowrap;
                text-align: right;
            }

            .actions {
                text-align: right;
                width: 1em;
                padding-top: 2px;
                padding-bottom: 2px;
            }
        }
    }

    .status- {
        &F,  // Выполнен
        &A { // Доставлен
            background-color: $label-success-bg;
        }
        &C { background-color: $label-danger-bg; } // Отменён
        &M { background-color: $label-info-bg; }   // Объединён
        &D,  // В доставке
        &L { // В доставке с изменениями
            background-color: $label-primary-bg;
        }
    }

    .empty-orders-history {
        background-image: url('#{$irmag-cat-trash}');
        width: 256px;
        height: 256px;
    }

    .nav-tabs {
        white-space: nowrap;
    }

    @media (max-width: $screen-xs-max) {
        .tab-content {
            border-top: 1px solid $panel-default-border;
        }
    }
}
