/**
 * Basic forum layout
 */

.forum-color-available {
    color: $irmag-forum-color-green;
}

.forum-color-attention {
    color: $irmag-forum-color-red;
}

.forum-color-highlight {
    color: $irmag-forum-color-orange;
}

.forum-page-tab-sm {
    font-size: $irmag-forum-font-submedium;
}

.forum-unsubscribe {
    float: right;
    font-size: $irmag-forum-font-medium;
    color: $irmag-forum-color-red;
}

.forum-topic-subtext {
    color: $irmag-forum-color-lightgray;
    font-size: $irmag-forum-font-submedium;
}

.forum-msg-unread {
    color: $irmag-forum-color-unread-msg;
    font-size: $irmag-forum-font-small;
}

.subscribe-to-topic {
    float: right;
    font-size: $irmag-forum-font-big;
}

.forum-topic-rss {
    @extend .subscribe-to-topic;

    margin-right: 7px;
}

.forum-post-submit {
    padding: 20px 0;
    text-align: right;
}

.forum-post-reply-sign {
    padding: 20px 20px 0 20px;
    display: none;

    span {
        font-size: $irmag-forum-font-submedium;
    }
}

.forum-spinner {
    display: none;
    position: relative;

    .fa-spinner {
        display: block;
        position: fixed;
        left: 50%;
        top: 50%;
        margin-top: -15px;
        margin-left: -15px;
    }
}

ul.nav li.active * {
    cursor: pointer;
}
