/**
 * Сообщения на форуме.
 */

/* Список сообщений */
table.forum-messages-content {
    td {
        &.forum-messages-clear {
            font-size: $irmag-forum-font-submedium;
        }

        &.forum-messages-actions {
            a {
                margin-right: 10px;
                font-size: $irmag-forum-font-medium;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

/* Текст сообщения */
.forum-message-body {
    border-radius: 5px;
    background-color: $irmag-forum-color-light-blue;
}

/* Кнопка "Удалить" */
.forum-message-remove {
    top: 12px;
    right: 12px;
}

/* Кнопка "Добавить фото" */
.attach-to {
}
