/**
 * Topic styles SCSS
 */

div.new-topic-container {
    div.forum-topic-input-group {
        padding: 5px 0;
    }

    div.forum-topic-button-group {
        padding: 10px 0;

        button {
            width: 130px;
            display: block;
            margin: 10px 20px;
        }
    }

    div.forum-topic-top-post {
        div.forum-topic-attach-container {
            padding: 15px 10px 0;
        }
    }

    div.forum-topic-top-poll {
        display: none;

        div.panel-heading {
            i.forum-topic-poll-remove {
                float: right;
                font-size: $irmag-forum-font-big;
                vertical-align: bottom;

                &:hover {
                    color: $irmag-forum-color-red;
                }
            }
        }
    }
}
