{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset(web_path ~ '/style.css') }}">
{% endblock %}

{% embed 'IrmagSiteBundle:Catalog:brand-zone-container.html.twig' with { bg: web_path ~ '/bg.jpg' } %}
    {% block content %}
        {% set anc = 'jmp-to-catalog-content' %}

        <a href="{{ path('irmag_catalog', { filter: { manufacturer: {0: 43} }, _fragment: anc }) }}" class="bz-back">НА ГЛАВНУЮ</a>

        <div class="brand-zone-content">
            <div class="brand-zone-wrapper">
                <div class="bz-logo">
                    <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 149 } }, _fragment: anc }) }}">
                        <img src="{{ web_path ~ '/logo.svg' }}" width="370" height="115">
                    </a>
                    <div class="bz-logo-text"></div>
                </div>
                <div class="bz-menu">
                    <div>
                        <a href="{{ path('irmag_catalog_section', { sectionId: 3, filter: { brand: { 0: 149 } }, _fragment: anc }) }}" class="bz-menu-link bz-menu-link-woman"></a>
                        <div class="bz-menu-pic bz-pic-woman"></div>
                        <div class="bz-pic-cover bz-pic-cover-woman"></div>
                    </div>
                    <div>
                        <a href="{{ path('irmag_catalog_section', { sectionId: 231319, filter: { brand: { 0: 149 } }, _fragment: anc }) }}" class="bz-menu-link bz-menu-link-man"></a>
                        <div class="bz-menu-pic bz-pic-man"></div>
                        <div class="bz-pic-cover bz-pic-cover-man"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}
