{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset(web_path ~ '/style.css') }}">
{% endblock %}

{% embed 'IrmagSiteBundle:Catalog:brand-zone-container.html.twig' with { bg: web_path ~ '/bg.jpg' } %}
    {% block content %}
        {% set anc = 'jmp-to-catalog-content' %}

        <div class="brand-zone-content">
            <div class="bz-frame bz-top"></div>
            <div class="brand-zone-wrapper">
                <div class="bz-col bz-col-center">
                    <a href="{{ path('irmag_catalog', { filter: { brand: { 0: 2121 } }, _fragment: anc }) }}" class="bz-logo"></a>
                </div>
                <div class="bz-col bz-col-menu">
                    <a href="{{ path('irmag_catalog_section', { sectionId: 250987, filter: { brand: { 0: 2121 } }, _fragment: anc }) }}" class="bz-menu-item item-1">
                        <div class="bz-outer bz-outer-1"></div>
                        <div class="bz-menu-title title-1"></div>
                    </a>
                    <div class="bz-menu-pic pic-1"></div>

                    <a href="{{ path('irmag_catalog_section', { sectionId: 250988, filter: { brand: { 0: 2121 } }, _fragment: anc }) }}" class="bz-menu-item item-2">
                        <div class="bz-outer bz-outer-2"></div>
                        <div class="bz-menu-title title-2"></div>
                    </a>
                    <div class="bz-menu-pic pic-2"></div>

                    <a href="{{ path('irmag_catalog_section', { sectionId: 11, filter: { brand: { 0: 2121 } }, _fragment: anc }) }}" class="bz-menu-item item-3">
                        <div class="bz-outer bz-outer-3"></div>
                        <div class="bz-menu-title title-3"></div>
                    </a>
                    <div class="bz-menu-pic pic-3"></div>

                    <a href="{{ path('irmag_catalog_section', { sectionId: 657853, filter: { brand: { 0: 2121 } }, _fragment: anc }) }}" class="bz-menu-item item-4">
                        <div class="bz-outer bz-outer-4"></div>
                        <div class="bz-menu-title title-4"></div>
                    </a>
                    <div class="bz-menu-pic pic-4"></div>
                </div>
            </div>
            <div class="bz-frame bz-bottom"></div>
        </div>
    {% endblock %}
{% endembed %}
