.catalog {
    img {
        pointer-events: none;
    }

    // xs, sm
    @media (max-width: $screen-sm-max) {
        .filter-toggle-btn {
            width: 100%;
        }
    }

    .section-list {
        .irmag-icon {
            font-size: 22px;
            margin-top: -1px;
            margin-right: 15px;
            float: left;
            color: $gray-darker;
        }
    }

    .alert-grey {
        border-color: $gray-lighter;
    }

    .page-controls {
        label {
            font-weight: normal;
            font-family: inherit;
            color: $text-muted;
        }

        .sort-block {
            span {
                white-space: nowrap;

                .asc,
                .desc {
                    padding-right: 0;
                }
            }
        }

        .view-block {
        }

        .perpage-block {
            select {
                display: inline-block;
                width: auto;
            }
        }
    }

    .page-separator {
        height: 1px;
        background-color: #eee;
        margin-bottom: 20px;

        small {
            background-color: white;
            position: relative;
            top: -9px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    // товар в каталоге
    .catalog-element {
        // общее
        .tone-image {
            position: absolute;
            max-width: 50px;
            max-height: 50px;
            top: 0;
            right: 25px;
            border: 2px solid rgba(255, 255, 255, .5);
        }

        .props {
            // @see: _element-props.scss
        }

        .sticker {
            width: $irmag-sticker-size;
            height: $irmag-sticker-size;
        }

        .props,
        .sticker,
        .btns {
            opacity: $irmag-catalog-element-opacity-elms;
            transition: $irmag-catalog-element-opacity-transition;
        }

        &:hover {
            .props,
            .sticker,
            .btns {
                opacity: 1;
            }
        }

        // таблицей
        &.catalog-element-grid {
            text-align: center;
            height: 230px;
            padding-right: 5px;
            padding-left: 5px;
            position: relative;
            max-width: 200px;
            margin: 0 auto 30px auto;

            .image {
            }

            .tone-image {
            }

            .props {
                position: absolute;
                top: 0;
                right: 10px;
                width: 1em;

                i {
                    font-size: 22px;
                    //text-decoration: none;
                    margin-bottom: .2em;
                }
            }

            .sticker {
                position: absolute;
                top: 0;
                left: 0;

                &.sticker-2 {
                    top: 62px;
                }
            }

            .name {
                background-color: rgba(255, 255, 255, .85);
                box-shadow: 0 -5px 5px rgba(255, 255, 255, .85);
                overflow: hidden;
                position: absolute;
                bottom: 40px;
                left: 0;
                right: 0;

                a {
                    text-decoration: none;
                }
            }

            &:hover {
                .name {
                    a {
                        color: $link-hover-color;
                    }
                }
            }

            .btns {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 120%;
                margin-left: -10%;

                .btn.add-element-to-favorite {
                    padding-left: 8px;
                    padding-right: 8px;
                }

                .price {
                    position: relative;
                    font-weight: bold;
                    bottom: 6px;
                }

                .price-old {
                    position: absolute;
                    bottom: -1px;
                    text-decoration: line-through;
                    margin-left: 10px;
                    font-size: 90%;
                }

                // xs, sm
                @media (max-width: $screen-sm-max) {
                    padding-top: 20px;
                }
            }
        }

        // списком
        &.catalog-element-line {
            @media (max-width: $screen-xs-max) {
                .only-xs-separator {
                    margin-top: 15px;
                }
            }

            .image {
                position: relative;
                max-height: 100px;
                max-width: 100px;

                // xs
                @media (max-width: $screen-xs-max) {
                    max-height: 80px;
                    max-width: 80px;
                }

                // иконка лупы (+)
                &:hover {
                    &::before {
                        @include fa-icon();

                        content: $fa-var-search-plus;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        color: $gray;
                    }
                }
            }

            .tone-image {
                right: 0;
            }

            .props {
                margin-top: 10px;

                i {
                    float: left;
                    font-size: 28px;
                }
            }

            .sticker {
                float: left;
                display: inline-block;
                height: 28px;
                width: 36px;
                background-size: 28px 28px;
                background-repeat: no-repeat;
                background-position: center;
            }

            .name {
            }

            .price {
                @include irmag-font-light();

                font-size: 24px;

                @media (max-width: $screen-xs-max) {
                    font-size: 18px;
                }

                .action-price {
                    color: $irmag-color-action-price;
                    font-weight: bold;
                }

                del {
                    font-size: 18px;
                }
            }

            .col-btns {
                justify-content: flex-end;

                // xs
                @media (max-width: $screen-xs-max) {
                    align-items: flex-end;
                }

                .btns {
                    text-align: right;

                    // not xs
                    @media (min-width: $screen-xs-max) {
                        min-height: 100px;

                        .add-element-to-basket {
                            margin-bottom: 4px;
                        }
                    }
                }
            }
        }
    }

    // small catalog
    // for index carousel and recommend/series elements
    &.catalog-sm {
        height: 160px;
        max-height: 160px;
        overflow: hidden;

        .catalog-element-grid {
            height: 160px;
            margin-bottom: 0;

            .image {
                img {
                    max-height: 120px;
                }
            }

            .tone-image {
                max-width: 40px;
                max-height: 40px;
            }

            .name {
                bottom: 35px;
                font-size: $font-size-small;
            }

            .btn-group {
                .btn {
                    font-size: $font-size-small;
                }
            }
        }
    }

    &.catalog-not-expandable {
        .name {
            max-height: 36px;
        }
    }
}
