section.element {
    .block-image {
        a.image {
            display: block;
        }

        img {
            max-width: 100%;
            pointer-events: none;
        }

        .thumbnails {
            a {
                width: 50px;
                height: 50px;
                display: inline-block;
                opacity: .7;
                border: 1px solid #eee;
                padding: 2px;

                &:hover {
                    opacity: 1;
                }

                // youtube
                .fa {
                    float: left;
                    font-size: 40px;
                    margin-top: 2px;
                    margin-left: -4px;

                    &.fa-youtube {
                        color: #e62117;
                    }
                }
            }
        }
    }

    .block-description {
        h3.collapse-trigger {
            display: inline-block;
            cursor: pointer;

            &.collapsed {
                border-bottom: 1px dotted #ddd;
            }

            &[aria-expanded="true"] {
                .tooltip {
                    display: none !important;
                }
            }
        }

        .show-more {
            display: none;
        }

        p.truncate {
            max-height: 6.5em;
            overflow: hidden;
            position: relative;
            box-shadow: 0 -5px 10px rgba(255, 255, 255, .9);
            cursor: pointer;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 2em;
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
            }

            .show-more {
                display: block;
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 2;
            }
        }
    }

    .social-likes {
        line-height: 30px;
    }

    // sm, xs
    @media (max-width: $screen-sm-max) {
        .block-description {
            margin-bottom: 20px;
        }
    }

    .block-price {
        .price {
            font-size: 30px;

            &.action-price {
                color: $irmag-color-action-price;
            }
        }

        .price-without-discount {
            margin-top: -10px;
            margin-bottom: 10px;
        }

        .amount-wrapper {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }

        .props {
            font-size: 28px;
            margin-bottom: 5px;

            i {
                opacity: $irmag-catalog-element-opacity-elms;
                transition: $irmag-catalog-element-opacity-transition;

                &:hover {
                    opacity: 1;
                }
            }
        }

        .watch-element {
            .btn {
                &:hover,
                &:focus,
                &.hover {
                    text-decoration: none !important;
                    color: darken($irmag-color-4, 20%);
                }
            }
        }
    }

    .block-blog {
        $blog-icon-size: 45px;

        i.blog-block-icon {
            &::before {
                @include irmag-icon();

                top: 0;
                right: unset;
                bottom: 0;
                left: -$blog-icon-size;
                margin: auto;
                font-size: $blog-icon-size;
                display: inline-block;
                color: $gray-darker;
                content: $irmag-font-icon-blog;
                width: $blog-icon-size;
                height: $blog-icon-size;
            }
        }

        a {
            @include icon-drop();

            padding-left: $alert-padding;
            padding-right: 0;
            min-height: $blog-icon-size;
            display: table-cell;
        }
    }

    // children
    .block-childrens {
        .props {
            i {
                font-size: 22px;
                text-decoration: none;
            }
        }

        .element-row {
            padding: 15px 10px;

            // XXX: see evenodd xs bug, fix plz out of padding
            &:nth-of-type(odd) {
                background-color: $table-bg-active;
            }

            &.kit-item-container {
                @media (min-width: $screen-sm-min) {
                    border: 1px solid #5ab529;
                }
            }
        }

        .kit-toggler {
            position: absolute;
            left: -40px;
            margin-top: -4px;
            cursor: pointer;
            color: $gray;
            transform: rotate(0deg);
            transition: .5s;

            &.expanded {
                transform: rotate(90deg);
            }

            // xs
            @media (max-width: $screen-xs-max) {
                display: none;
            }

            // sm
            @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                position: unset;
                float: left;
                margin-right: 10px;
            }
        }

        .kit-row {
            display: none;
        }

        .old-child-price {
            font-size: 10px;
            color: grey;
        }

        .current-child-price {
            @include irmag-font-light();

            font-size: 13px;
        }

        .image {
            width: 70px;

            .hover-area {
                width: 60px;
                height: 60px;
                z-index: 3;
                background-color: transparent;
                position: absolute;
                cursor: crosshair;
            }

            .wrapper {
                width: 60px;
                height: 60px;

                img {
                    width: 60px;
                    z-index: 2;
                }
            }

            &.hovered {
                img {
                    position: absolute;
                    margin-top: -70px;
                    margin-left: -70px;
                    width: 200px;
                    border: 10px solid rgba(0, 0, 0, .4);
                }
            }
        }

        .amount {
            //width: 5em;
            min-width: 4em;
            max-width: 4em;
            padding: 0 10px;
        }

        .btns {
            min-width: 10em;
        }

        .line-xs {
            margin-bottom: 15px;
        }

        .text-nodiscount {
            margin-top: -10px;
        }

        .kit {
            .kit-wrapper {
                display: none;
                background-color: #fff;
            }

            .block-kit {
                padding: 10px;
                margin-top: 10px;
                margin-bottom: 10px;
                margin-left: 30px;
                display: inline-block;

                h3 {
                    margin-top: 0;
                    font-size: $font-size-large;
                }
            }
        }
    }

    .block-kit {
        .catalog {
            height: unset;
            max-height: unset;
            overflow: unset;
        }

        .catalog-element {
            height: 140px;

            .tone-image {
                max-width: 30px;
            }

            .name {
                bottom: 0;
            }

            &.disabled {
                .kit-checkbox {
                    i {
                        display: none;
                    }
                }
            }
        }

        .kit-checkbox {
            position: absolute;
            top: 40px;
            left: 5px;
            width: 28px;
            height: 28px;
            border: 3px solid $irmag-header-blue-line-bg;
            border-radius: $border-radius-base;
            cursor: pointer;
            overflow: hidden;
            background-color: white;
            font-size: 1.5em;

            i {
                margin-top: 1px;
                display: block;
            }

            &:hover {
                i {
                    transform: rotate(-10deg);
                }
            }
        }

        .kit-symbol {
            line-height: 140px;
            font-weight: bold;
            font-size: 30px;
            color: $gray;
        }

        .total {
            border: 5px solid $irmag-header-blue-line-bg;
            border-radius: $border-radius-base;
            padding: 10px;
            font-size: 24px;
            margin-top: 20px;
            margin-left: 20px;
        }
    }

    // element in actions
    .element-actions {
        a {
            display: table;

            img {
                height: $irmag-sticker-size;
                width: $irmag-sticker-size;
            }

            .action-title {
                display: table-cell;
                vertical-align: middle;
            }
        }

        .popover {
            .differences {
                @include irmag-font-light();

                text-align: center;

                div {
                    display: inline-block;
                    padding-right: 10px;
                    padding-left: 10px;
                }

                span {
                    display: block;
                }
            }
        }
    }

    .block-recommend-elements {
    }
}
