{% extends '@IrmagForum/layout.html.twig' %}

{% set nickname = user.name %}
{% block title %}Профиль пользователя {{ nickname }}{% endblock %}

{% set breadcrumbs = {'Профиль на форуме': ''} %}
{% block forumbreadcrumbs %}
    {% include '@IrmagForum/Default/breadcrumb.html.twig' with breadcrumbs %}
{% endblock %}

{% set forumtab = {'active': 'profile'} %}
{% block forumnav %}
    {% include '@IrmagForum/Default/nav.html.twig' with forumtab %}
{% endblock %}

{% block forumcontent %}
    {% import '@IrmagProfile/Profile/macro.avatar.html.twig' as avatar %}
    <div class="mt-20">
        <div class="row">
            <div class="col-xs-12 col-sm-2 mt-20">
                <div class="text-center">
                    {{ avatar.get(user, 'avatar_thumb', 200) }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-offset-2 col-sm-7 profile-stats">
                <div class="panel panel-info">
                    <div class="panel-heading">{{ nickname }}</div>
                    <div class="panel-body pt-0 pb-0">
                        <table class="forum-profile-info">
                            <tr>
                                <td>Статус:</td>
                                <td>Пользователь</td>
                            </tr>
                            <tr>
                                <td>Рейтинг:</td>
                                <td>
                                    {% set rating = user.forumRating %}
                                    {% include '@IrmagForum/User/user-rating.html.twig' %}
                                </td>
                            </tr>
                            <tr>
                                <td>Всего тем создано:</td>
                                <td>{{ userinfo.topics_cnt }}</td>
                            </tr>
                            <tr>
                                <td>Всего постов на форуме:</td>
                                <td>
                                <a href="{{ path('irmag_forum_user_posts', { userId: user.id }) }}"
                                   title="Посмотреть все посты автора"
                                   data-toggle="tooltip"
                                   data-placement="bottom">{{ userinfo.posts_cnt }}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Всего голосов за посты:</td>
                                <td>{{ userinfo.votes_cnt }}</td>
                            </tr>
                            <tr>
                                <td>Дата регистрации:</td>
                                <td>{{ user.createdAt|localizeddate('full', 'none', null, null, 'd.MM.YYYY') }}</td>
                            </tr>
                            <tr>
                                <td>Последнее посещение:</td>
                                <td>
                                    {% set lastVisit = visits|last %}
                                    {{ lastVisit|localizeddate('full', 'none', null, null, 'd.MM.YYYY в H:mm') }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        {% if app.user is same as(user) %}
            <div class="row">
                <div class="col-xs-12 col-md-offset-2 col-md-8">
                    <h3 class="mt-0">Управление подписками</h3>
                    <div id="forum-subscription-options">
                        <div class="panel panel-default">
                            <div class="panel-heading">Подписки на темы</div>
                            <div class="panel-body">
                                {% if topic_subscriptions is not empty %}
                                    <ul class="list-group mb-0">
                                    {% for item in topic_subscriptions %}
                                        <li class="list-group-item" data-mode="topic" data-id="{{ item.id }}">
                                            <a href="{{ path('irmag_forum_goto_topic', { id: item.topic.id }) }}" target="_blank">{{ item.topic.title }}</a>
                                            <i class="fa fa-close forum-unsubscribe cursor-pointer" data-toggle="tooltip" data-original-title="Отписаться от темы"></i>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                {% else %}
                                    Вы не подписаны ни на одну тему
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>
{% endblock %}

{% block javascripts %}
    {% if app.user %}
        <script>
            $(function() {
                IRMAG.Forum.Profile.init();
            });
        </script>
    {% endif %}
{% endblock %}
