{% extends '@IrmagForum/layout.html.twig' %}

{% block title %}Посты пользователя {{ username }}{% endblock %}

{% set breadcrumbs = {'Посты': ''} %}
{% block forumbreadcrumbs %}
    {% include '@IrmagForum/Default/breadcrumb.html.twig' with breadcrumbs %}
{% endblock %}

{% set forumtab = {'active': 'users'} %}
{% block forumnav %}
    {% include '@IrmagForum/Default/nav.html.twig' with forumtab %}
{% endblock %}

{% block forumcontent %}
    {% import '@IrmagProfile/Profile/macro.avatar.html.twig' as avatar %}
    <div class="mt-20">
        <h1>Посты пользователя: {{ username }}</h1>
    </div>
    <div class="mt-20">
        {{ knp_pagination_render(pagination, '@IrmagForum/Default/pagination.html.twig') }}

        {% if pagination.pageCount > 0 %}
            <div class="panel panel-default forum-topic-posts">
                {% for postItem in pagination %}
                <div class="panel-heading">
                    <strong>{{ postItem.topic.title }}</strong>
                </div>
                <div class="panel-body">
                    {% set item = {'post': postItem } %}
                    {% include '@IrmagForum/Post/post-in-list.html.twig' %}
                </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Пользователь ничего не написал на форуме</p>
        {% endif %}
    </div>
    {{ knp_pagination_render(pagination, '@IrmagForum/Default/pagination.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            IRMAG.Forum.Post.init();
        });
    </script>
{% endblock %}
