$nameSpace: 'a';
$includeClasses: false;
// Hover.css
@import "~hover.css/scss/_options.scss";
@import "~hover.css/scss/_mixins.scss";
@import "~hover.css/scss/_hacks.scss";
@import "~hover.css/scss/effects/2d-transitions/_buzz-out.scss";

.#{$nameSpace}-buzz-out {
    @include buzz-out();
}

@import "~hover.css/scss/effects/icons/_icon-drop.scss";

/* To top from bottom */
@-webkit-keyframes to-top-from-bottom {
    49% {
        -webkit-transform: translateY(-100%);
    }

    50% {
        opacity: 0;
        -webkit-transform: translateY(100%);
    }

    51% {
        opacity: 1;
    }
}

@keyframes to-top-from-bottom {
    49% {
        transform: translateY(-100%);
    }

    50% {
        opacity: 0;
        transform: translateY(100%);
    }

    51% {
        opacity: 1;
    }
}
