.irmag-map-navigate-btn {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    cursor: pointer;
    margin-bottom: 22px;
    text-align: center;

    .btn-text {
        color: rgb(25, 25, 25);
        font-size: 16px;
        line-height: 38px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
