.embed-delivery-calculator {
    .radio {
        text-align: center;

        input {
            position: unset;
        }
    }

    .delivery-type {
        font-family: $irmag-font-family;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;

        .delivery-terminals-info {
            font-size: 18px;
            cursor: help;
        }
    }

    .delivery-result-row {
        label {
            font-weight: normal;
            cursor: pointer;
        }
    }
}
