// base
$irmag-assets-dir: './assets';

// site
$irmag-site-assets-dir: $irmag-assets-dir + '/site';
$irmag-site-image-dir: $irmag-site-assets-dir + '/images';
$irmag-site-image-cats-dir: $irmag-site-image-dir + '/cats/svg';
$irmag-site-font-dir:  $irmag-site-assets-dir + '/fonts';

// font
$irmag-font-family: 'Source Sans Pro', $font-family-base;

// irmag cats svg
$irmag-cat-cart: $irmag-site-image-cats-dir + '/cart.svg';
$irmag-cat-percent: $irmag-site-image-cats-dir + '/percent.svg';
$irmag-cat-favorite: $irmag-site-image-cats-dir + '/favorite.svg';
$irmag-cat-trash: $irmag-site-image-cats-dir + '/trash.svg';
$irmag-cat-phone: $irmag-site-image-cats-dir + '/phone.svg';
$irmag-cat-search: $irmag-site-image-cats-dir + '/search.svg';
$irmag-cat-gift: $irmag-site-image-cats-dir + '/gift.svg';
$irmag-cat-delivery: $irmag-site-image-cats-dir + '/delivery.svg';
$irmag-cat-review: $irmag-site-image-cats-dir + '/review.svg';
$irmag-cat-info: $irmag-site-image-cats-dir + '/info.svg';
$irmag-cat-candy-1: $irmag-site-image-cats-dir + '/candycat-1.svg';
$irmag-cat-candy-2: $irmag-site-image-cats-dir + '/candycat-2.svg';

// irmag icons
$irmag-font-icons: 'Irmag';
// catalog menu icons
$irmag-font-icon-handmade: "\e911";
$irmag-font-icon-sale: "\e900";
$irmag-font-icon-chemicals : "\e901";
$irmag-font-icon-baby : "\e902";
$irmag-font-icon-health : "\e912";
$irmag-font-icon-cosmetics: "\e903";
$irmag-font-icon-hygiene: "\e904";
$irmag-font-icon-dress: "\e905";
$irmag-font-icon-parfume: "\e906";
$irmag-font-icon-gifts: "\e907";
$irmag-font-icon-foods: "\e908";
$irmag-font-icon-cleaning: "\e909";
$irmag-font-icon-proff: "\e90a";
$irmag-font-icon-animal: "\e90b";

// other icons
$irmag-font-icon-brandzone: "\e90c";
$irmag-font-icon-new: "\e90d";
$irmag-font-icon-special-price: "\e90e";
$irmag-font-icon-heart: "\e90f";
$irmag-font-icon-blog: "\e913";
$irmag-font-icon-sberbank: "\e914";
$irmag-font-icon-russian-post: "\e915";
$irmag-font-icon-drone: "\e916";

// irmag rainbow colors
$irmag-color-1: #ffc405;
$irmag-color-2: #81d852;
$irmag-color-3: #51bbf4;
$irmag-color-4: #e07dae;
$irmag-color-5: #f68c13;

$irmag-remove-color: $brand-danger;
$irmag-favorite-color: $brand-warning;

// header-blue-line
$irmag-header-blue-line-height: 76px;
$irmag-header-blue-line-bg: #099fec;
$irmag-header-blue-line-bg-hover: #3cb2ef;
$irmag-header-blue-line-loading-color: $irmag-color-5;
$irmag-header-blue-line-favcart-icon-color: white;
$irmag-header-blue-line-favcart-icon-empty-color: #7bd4fc;
$irmag-header-blue-line-text-shadow: 1px 1px 0 rgba(0, 0, 0, .1);

// footer
$irmag-footer-height: 148px; // only for padding/margin (not real height)
$irmag-footer-bg: #0076b3;
$irmag-footer-text-color: white;
$irmag-footer-href-color: $irmag-header-blue-line-bg-hover;
$irmag-footer-href-border-color: #008bd8;

// index-goals
$irmag-index-goals-border-color: #e7e7e7;
$irmag-index-goals-bg: #f7f7f7;
$irmag-index-goals-link-color: $irmag-header-blue-line-bg;
$irmag-index-goals-text-hover-color: white;
$irmag-index-goals-small-text-color: #777;
$irmag-index-goals-small-text-hover-color: #666;

// index-last-blog-posts
$irmag-index-last-blog-posts-height: 70px;
$irmag-index-last-blog-posts-padding: 5px;
$irmag-index-last-blog-posts-bg: #f7f7f7;
$irmag-index-last-blog-posts-border-color: #e7e7e7;
$irmag-index-last-blog-posts-avatar-height: $irmag-index-last-blog-posts-height - $irmag-index-last-blog-posts-padding * 2;
$irmag-index-last-blog-posts-avatar-width: $irmag-index-last-blog-posts-avatar-height;
$irmag-index-last-blog-posts-text-height: $irmag-index-last-blog-posts-avatar-height;

// акции
$irmag-color-action-price: $irmag-color-5;

// свойства
$irmag-color-prop-delivery: $brand-primary;
$irmag-color-prop-payment: #000;
$irmag-color-prop-new: #f68a13;
$irmag-color-prop-eco: #2b6c0a;
$irmag-color-prop-special-price: #c21f41;
$irmag-color-prop-safe-animal: #ce65a2;
$irmag-color-prop-transfer: #7c4c99;
$irmag-color-prop-comment: $brand-info;

// promocode
$irmag-color-promocode-activated: $irmag-color-2;

// notify
$irmag-notify-basket-add-bg: $brand-success;
$irmag-notify-basket-remove-bg: $gray-light;
$irmag-notify-favorite-add-bg: $irmag-favorite-color;
$irmag-notify-favorite-remove-bg: $gray-light;

// social-icons
$irmag-social-icon-color: white;
$irmag-social-color-google: #e32a25;
$irmag-social-color-instagram: #437297;
$irmag-social-color-at: #ffa930;
$irmag-social-color-twitter: #00aee3;
$irmag-social-color-youtube: #f00;
$irmag-social-color-vk: #4c75a3;
$irmag-social-color-facebook: #3a5795;
$irmag-social-color-odnoklassniki: #ff8120;
$irmag-social-color-envelope: #ffc405;
$irmag-social-color-telegram: #2b85b7;

// stickers
$irmag-sticker-size: 60px;

// in catalog
$irmag-catalog-menu-box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
$irmag-catalog-element-opacity-elms: .65;
$irmag-catalog-element-opacity-btns: .8;
$irmag-catalog-element-opacity-transition: opacity .2s ease-in-out;
