{% extends '@IrmagCore/Mailer/layout.html.twig' %}

{% block subject %}Новый обзор в блоге ожидает модерации{% endblock %}

{% block text %}
    <p>Новый обзор в блоге: <b>{{ post.title }}</b></p>
    <br>
    <p>Автор: <b>{{ post.user.name }}</b></p>
    <br>
    <p>Отправлен на модерацию: {{ 'now'|date('d.m.y в H:i') }}</p>

    <br><br>
    <p>
        Вы получили это письмо, поскольку являетесь модератором блога.
    </p>
    <p>
        Вы можете <a target="_blank" href="{{ url('irmag_blog_category_post', { id: post.id, categoryslug: post.blogSection.shortlink }) }}">просмотреть пост</a> или <a target="_blank" href="{{ url('admin_irmag_blog_blogpost_edit', { id: post.id }) }}">перейти в панель администратора</a> для его редактирования.
    </p>
{% endblock %}
