{% extends '@IrmagCore/Mailer/layout.html.twig' %}

{% block subject %}Новое обращение через обратную связь в блоге{% endblock %}

{% block text %}
    <h2>{{ message.title }}</h2>
    <br>
    <p>Автор: <b>{{ message.user.name }}</b></p>
    <br>
    <p>Отправлено: {{ message.createdAt|date('d.m.y в H:i') }}</p>
    <br>

   {{ message.textHtml|raw }}

    <br><br>
    <p>
        Вы получили это письмо, поскольку являетесь модератором блога.
    </p>
    <p>
        {% if message.user.email %}
            <a href="mailto:{{ message.user.email }}">Ответить пользователю на почту</a>
        {% endif %}
    </p>
{% endblock %}
