{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <a href="{{ url(object.ownerRoute.name, object.ownerRoute.parameters) }}" target="_blank"><i class="fa fa-external-link"></i></a>
{% endblock %}
