{% if object.status == constant('Irmag\\Exchange1CBundle\\Entity\\Exchange1CQueue::STATUS_RUNNING') and object.pid is not null %}
    <a href="{{ admin.generateObjectUrl('postpone_queue_processing', object) }}" class="btn btn-sm btn-danger">
        <i class="fa fa-stop-circle-o"></i>
        Остановить
    </a>
{% endif %}


