{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <div class="text-center">
        <table>
            <tr>
                <td class="admin-table-cell-padded">
                    {% if object.priority != constant('Irmag\\Exchange1CBundle\\Entity\\Exchange1CQueue::PRIORITY_LOW') and object.status == constant('Irmag\\Exchange1CBundle\\Entity\\Exchange1CQueue::STATUS_WAITING') %}
                        <a href="{{ admin.generateObjectUrl('down_queue_priority', object) }}" class="btn btn-xs btn-info" title="Понизить приоритет" data-toggle="tooltip">
                            <i class="fa fa-arrow-down"></i>
                        </a>
                    {% endif %}
                </td>
                <td class="admin-table-cell-padded">
                    {% if object.priority == constant('Irmag\\Exchange1CBundle\\Entity\\Exchange1CQueue::PRIORITY_LOW') %}
                        <span class="label label-default">Низкий</span>
                    {% elseif object.priority == constant('Irmag\\Exchange1CBundle\\Entity\\Exchange1CQueue::PRIORITY_NORMAL') %}
                        <span class="label label-info">Обычный</span>
                    {% elseif object.priority == constant('Irmag\\Exchange1CBundle\\Entity\\Exchange1CQueue::PRIORITY_HIGH') %}
                        <span class="label label-warning">Высокий</span>
                    {% endif %}
                </td>
                <td class="admin-table-cell-padded">
                    {% if object.priority != constant('Irmag\\Exchange1CBundle\\Entity\\Exchange1CQueue::PRIORITY_HIGH') and object.status == constant('Irmag\\Exchange1CBundle\\Entity\\Exchange1CQueue::STATUS_WAITING') %}
                        <a href="{{ admin.generateObjectUrl('up_queue_priority', object) }}" class="btn btn-xs btn-warning" title="Поднять приоритет" data-toggle="tooltip">
                            <i class="fa fa-arrow-up"></i>
                        </a>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
{% endblock %}