{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% set statuses = object.statuses %}

{% block field %}
    <div class="text-center">
        {% if object.status == constant('Irmag\\Exchange1CBundle\\Entity\\Exchange1CQueue::STATUS_WAITING') %}
            <span class="label label-warning">{{ statuses[object.status] }}</span>
        {% elseif object.status == constant('Irmag\\Exchange1CBundle\\Entity\\Exchange1CQueue::STATUS_RUNNING') %}
            <span class="label label-success">{{ statuses[object.status] }}</span>
        {% elseif object.status == constant('Irmag\\Exchange1CBundle\\Entity\\Exchange1CQueue::STATUS_FAILED') %}
            <span class="label label-danger">{{ statuses[object.status] }}</span>
        {% endif %}
    </div>
{% endblock %}