<div>
    {% if sched.weekDays is defined %}
        {{ sched.weekDays }} [{{ sched.workTime }}]
    {% else %}
        {% for item in sched %}
            {{ item.weekDays }}:
            [{{ item.workTime }}]

            {% if not loop.last %}<br>{% endif %}
        {% endfor %}
    {% endif %}
</div>