{% extends '@IrmagSite/layout.html.twig' %}

{% block title %}📰 Новости - {{ news.title }}{% endblock %}

{% block body %}

    <section class="news container">

        <h1>
            {{ news.title }}
            {%- include '@IrmagSite/Admin/helper-sonata-edit.html.twig' with { path: path('admin_irmag_site_news_edit', { id: news.id }) } -%}
        </h1>

        {% include '@IrmagSite/Default/breadcrumbs.html.twig' with { breadcrumbs: { 'Новости': url('irmag_news'), (news.title): null } } %}

        <article>
            {% include '@IrmagSite/News/helper-content.html.twig' %}

            {% if news.poll %}
                <div>
                    {{ render(controller('Irmag\\PollBundle\\Controller\\DefaultController::indexAction', { entity: news })) }}
                </div>
            {% endif %}
        </article>

        <hr>

        <div class="comments">
            {{ render_hinclude(controller('Irmag\\ThreadCommentBundle\\Controller\\ThreadCommentController::indexAction', { id: news.id, config: 'news' }), { default: '@IrmagSite/Default/heart-loading.html.twig', attributes: { 'evaljs': 'true' } }) }}
        </div>

    </section>

{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            IRMAG.Poll.init();
        })
    </script>
{% endblock %}
