<li id="rate-5">
    <a href="#">
        <span class="elm-rate-value">5</span>
        <span class="hidden-xs hidden-sm"> — отлично</span>
    </a>
</li>
<li id="rate-4">
    <a href="#">
        <span class="elm-rate-value">4</span>
        <span class="hidden-xs hidden-sm"> — хорошо</span>
    </a>
</li>
<li id="rate-3">
    <a href="#">
        <span class="elm-rate-value">3</span>
        <span class="hidden-xs hidden-sm"> — удовлетворительно</span>
    </a>
</li>
<li id="rate-2">
    <a href="#">
        <span class="elm-rate-value">2</span>
        <span class="hidden-xs hidden-sm"> — плохо</span>
    </a>
</li>
<li id="rate-1">
    <a href="#">
        <span class="elm-rate-value">1</span>
        <span class="hidden-xs hidden-sm"> — ужасно</span>
    </a>
</li>