/*
 * Переменные блога для настройки
 */

/* Базовые настройки */
$irmag-blog-assets-dir: $irmag-assets-dir + '/blog';
$irmag-blog-image-dir: $irmag-blog-assets-dir + '/images';

$irmag-blog-sidebar-width: 225px;
$irmag-blog-max-width: 1400px;

/* Цвета блога */
$irmag-blog-color-basic: #fff;
$irmag-blog-color-table-odd-row: #f9f9f9;
$irmag-blog-color-link-hover: #6ca5ce;
$irmag-blog-color-main-font: #323232;
$irmag-blog-color-underline: #cfcfcf;
$irmag-blog-color-user-bubble: #c5c5c5;
$irmag-blog-color-text: #525252;

$irmag-blog-color-dark-background: #272929;
$irmag-blog-color-selected-button: $irmag-blog-color-link-hover;
$irmag-blog-color-draft-button: #a6b6bf;

$irmag-blog-color-sidebar-item: #3f4040;
$irmag-blog-color-sidebar-link: #616464;
$irmag-blog-color-sidebar-bottom-link: #878b8b;
$irmag-blog-color-sidebar-bottom-link-border: #474949;
$irmag-blog-color-sidebar-bottom-subtitle: #5d6060;

$irmag-blog-color-black: #000;
$irmag-blog-color-red: #f97e76;
$irmag-blog-color-red-hover: #fcbeba;
$irmag-blog-color-green: #00bd85;
$irmag-blog-color-green-hover: #00f8ae;
$irmag-blog-color-medium-gray: #b7b7b7;
$irmag-blog-color-medium-blue: #23527c;

/* Шрифты блога */
$irmag-blog-font-regular: "PT Serif", serif;
$irmag-blog-font-thin: "Open Sans", sans-serif;
$irmag-blog-font: thin 12px "Noto Serif", serif;
$irmag-blog-font-bold: bold 12px "Noto Serif", serif;
$irmag-blog-font-italic: italic 14px "Noto Serif", serif;


/* Аватарки */
$irmag-blog-avatar-micro: 35px;
$irmag-blog-avatar-small: 80px;
