section.favorite {
    .favorite-anchors {
        @media (max-width: $screen-xs-max) {
            display: block;
            clear: both;
            margin-top: 10px;
        }

        a {
            margin-right: 10px;
            line-height: 2.3;
            color: $gray;
        }
    }

    .btn-clear {
        position: absolute;
        right: 10px;
        top: 5px;
        color: $irmag-remove-color;
        font-size: 18px;
        display: none;

        &:hover {
            color: darken($irmag-remove-color, 12%);
        }
    }

    .basket-and-favorite {
        hr {
            margin-left: -15px;
            margin-right: -15px;
        }
    }

    .empty-favorite-pic {
        background-image: url('#{$irmag-cat-favorite}');
        width: 256px;
        height: 256px;
    }
}
