{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset(web_path ~ '/style.css') }}">
{% endblock %}

{% embed 'IrmagSiteBundle:Catalog:brand-zone-container.html.twig' with { bg: web_path ~ '/background.jpg' } %}

    {% block content %}
        {% set anc = 'jmp-to-catalog-content' %}
        <div class="brand-zone-content">
            <div class="brand-zone-header">
                <a href="{{ path('irmag_catalog', { filter: { manufacturer: { 0: 277 }}, _fragment: anc }) }}">
                    <img class="brand-zone-logo" alt="" src="{{ web_path ~ '/img_NS_logo.png' }}">
                </a>
            </div>

            <div class="brand-zone-col-container">

                <div class="brand-zone-col">
                    <a class="bz-link" href="{{ path('irmag_catalog_section', {
                        sectionId: 250988,
                        filter: { manufacturer: { 0: 277 } },
                        _fragment: anc
                    }) }}">
                        <img alt="" src="{{ web_path ~ '/img_NS_Cosmetic.jpg'}}">
                        <div class="bz-title">
                            <span class="bz-title-text">Красота должна быть<br>натуральной</span>
                            <span class="bz-title-text-hidden">Косметика</span>
                        </div>
                        <div class="bz-fade"></div>
                    </a>
                </div>

                <div class="brand-zone-col bz-col-2">
                    <a class="bz-link" href="{{ path('irmag_catalog_section', {
                        sectionId: 250987,
                        filter: { manufacturer: { 0: 277 } },
                        _fragment: anc
                    }) }}">
                        <img alt="" src="{{ web_path ~ '/img_NS_Face.jpg'}}">
                        <div class="bz-title">
                            <span class="bz-title-text">Чистота залог<br>здоровья</span>
                            <span class="bz-title-text-hidden">Личная гигиена</span>
                        </div>
                        <div class="bz-fade"></div>
                    </a>
                </div>


                <div class="brand-zone-col bz-col-3">
                    <a class="bz-link" href="{{ path('irmag_catalog_section', {
                        sectionId: 10,
                        filter: { manufacturer: { 0: 277 } },
                        _fragment: anc
                    }) }}">
                        <img alt="" src="{{ web_path ~ '/img_NS_Baby.jpg'}}">
                        <div class="bz-title">
                            <span class="bz-title-text">Трепетный уход и<br>нежная забота</span>
                            <span class="bz-title-text-hidden">Уход для детей</span>
                        </div>
                        <div class="bz-fade"></div>
                    </a>
                </div>

                <div class="brand-zone-col bz-col-4">
                    <a class="bz-link" href="{{ path('irmag_catalog_section', {
                        sectionId: 231319,
                        filter: { manufacturer: { 0: 277 } },
                        _fragment: anc
                    }) }}">
                        <img alt="" src="{{ web_path ~ '/img_NS_Men.jpg'}}">
                        <div class="bz-title">
                            <span class="bz-title-text">Сильный духом,<br>здоровый телом</span>
                            <span class="bz-title-text-hidden">Уход для мужчин</span>
                        </div>
                        <div class="bz-fade"></div>
                    </a>
                </div>
            </div>

        </div>
    {% endblock %}

{% endembed %}
