{% extends '@IrmagForum/layout.html.twig' %}

{% block title %}Новая тема на форуме{% endblock %}

{% set breadcrumbs = { (forum.name): path('irmag_forum_homepage'), 'Новая тема': '' } %}
{% block forumbreadcrumbs %}
    {% include '@IrmagForum/Default/breadcrumb.html.twig' with breadcrumbs %}
{% endblock %}

{% set forumtab = {'active': 'forum'} %}
{% block forumnav %}
    {% include '@IrmagForum/Default/nav.html.twig' with forumtab %}
{% endblock %}

{% block forumcontent %}

    <div class="row">
        <div class="col-xs-12 col-md-offset-2 col-md-8 new-topic-container mt-20">

            {{ form_start(form) }}

            <div class="forum-topic-input-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
            </div>

            <div class="forum-topic-input-group">
                {{ form_label(form.description ) }}
                {{ form_widget(form.description) }}
            </div>

            <div class="forum-topic-input-group">
                {{ form_label(form.tags) }}
                {{ form_widget(form.tags, { id: 'forum-topic-tag-selector' }) }}
            </div>

            <div class="forum-topic-top-post mt-40 panel panel-info">
                <div class="panel-heading">Первый пост темы</div>
                <div class="panel-body">
                    {{ form_widget(form.post.text) }}
                    <div class="forum-topic-attach-container">
                        <span class="attach-to cursor-pointer label label-info">Добавить фото</span>
                    </div>

                    <div class="mt-40">
                        {% include '@IrmagAttachment/Thumbnails/container.html.twig' with { 'attachments': attaches } %}
                    </div>

                    {{ form_row(form.post.attachments, {'attr': {'name': 'forum_post[attachments][uploader][]'}}) }}
                </div>
            </div>

            <div class="text-center forum-topic-submit">
                {{ form_widget(form.submit) }}
            </div>

            <div class="hidden">
                {{ form_row(form.post.button) }}
            </div>

           {{ form_end(form) }}

            <div class="forum-spinner text-center">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            IRMAG.Forum.Topic.init();
            IRMAG.Attachments.init('forum_topic');
        });
    </script>
{% endblock %}
