{% extends '@IrmagForum/layout.html.twig' %}

{% block title %}Форум - Новая тема создана {% endblock %}

{% set breadcrumbs = { (topic.forum.name): path('irmag_forum_homepage'), 'Новая тема': '' } %}
{% block forumbreadcrumbs %}
    {% include '@IrmagForum/Default/breadcrumb.html.twig' with breadcrumbs %}
{% endblock %}

{% set forumtab = {'active': 'forum'} %}
{% block forumnav %}
    {% include '@IrmagForum/Default/nav.html.twig' %}
{% endblock %}

{% block forumcontent %}
    <div class="forum-topic-sent mt-20 text-center">
        <h1>Тема создана</h1>
        <a href="{{ path('irmag_forum_goto_topic', { id: topic.id }) }}">Перейти в новую тему</a>
    </div>
{% endblock %}
