{% block remoteDelivery %}
    {% set transportCompanyDeliveryData = app.session.get(constant('Irmag\\OrderDeliveryServiceBundle\\Service\\OrderDeliveryServiceManager::DELIVERY_DATA_SESSION_LITERAL')) %}
    {% set postDeliveryData = app.session.get(constant('Irmag\\OrderPostDeliveryBundle\\Service\\OrderPostDeliveryManager::POST_DELIVERY_RESULT_LITERAL')) %}
    {% set postDeliveryDataSelected = app.session.get(constant('Irmag\\OrderPostDeliveryBundle\\Service\\OrderPostDeliveryManager::POST_DELIVERY_IS_SELECTED_FLAG')) %}
    {% set flashKey = constant('Irmag\\SiteBundle\\Service\\OrderManager\\OrderManager::ORDER_FLASH_NOT_SELECTED_REMOTE_DELIVERY_DATA_LITERAL') %}

    <div>
        {% if transportCompanyDeliveryData.serviceName is defined and transportCompanyDeliveryData.serviceName is not empty %}
            {{ render(controller('Irmag\\OrderDeliveryServiceBundle\\Controller\\DefaultController::indexAction', { weight: weight, volume: volume })) }}
        {% elseif postDeliveryDataSelected is defined and postDeliveryDataSelected == true %}
            {{ render(controller('Irmag\\OrderPostDeliveryBundle\\Controller\\DefaultController::indexAction', { weight: weight, volume: volume })) }}
        {% else %}

            {# предложение рассчитать #}
            {% set buttonClass %}
                {% spaceless %}
                    {% if deliveryMethodShortname == 'transport_company' %}
                        select-transport-company
                    {% elseif deliveryMethodShortname == 'russian_post' %}
                        select-post
                    {% endif %}
                {% endspaceless %}
            {% endset %}

            <div class="text-center">
                {% for message in app.flashes(flashKey) %}
                    <div class="alert alert-danger">
                        <b>{{ message }}</b>
                    </div>
                {% else %}
                    <h4 class="mt-0">Для оформления заказа вам необходимо рассчитать стоимость доставки</h4>
                {% endfor %}

                <div class="mt-10">
                    <button class="btn btn-warning {{ buttonClass }}"
                            type="button"

                            {% if deliveryMethodShortname is defined %}
                                data-delivery-method="{{ deliveryMethodShortname }}"
                            {% endif %}

                            data-weight="{{ weight }}"
                            data-volume="{{ volume }}">Рассчитать
                    </button>
                </div>
            </div>

        {% endif %}
    </div>

{% endblock %}