{% block remoteDelivery %}
    {% set transportCompanyDeliveryData = app.session.get(constant('Irmag\\OrderDeliveryServiceBundle\\Service\\OrderDeliveryServiceManager::DELIVERY_DATA_SESSION_LITERAL')) %}
    {% set postDeliveryData = app.session.get(constant('Irmag\\OrderPostDeliveryBundle\\Service\\OrderPostDeliveryManager::POST_DELIVERY_RESULT_LITERAL')) %}
    {% set postDeliveryDataSelected = app.session.get(constant('Irmag\\OrderPostDeliveryBundle\\Service\\OrderPostDeliveryManager::POST_DELIVERY_IS_SELECTED_FLAG')) %}

    {% set flashKeys = [
        constant('Irmag\\OrderDeliveryServiceBundle\\Service\\OrderDeliveryServiceManager::DELIVERY_FLASH_MESSAGE'),
        constant('Irmag\\OrderPostDeliveryBundle\\Service\\OrderPostDeliveryManager::POST_DELIVERY_FLASH_LITERAL')
    ] %}

    <div id="remote-delivery-msg">
        {% for messages in app.flashes(flashKeys) %}
            {% for msg in messages %}
                <div class="text-center alert alert-danger">
                    <b>{{ msg }}</b>
                </div>
            {% endfor %}
        {% endfor %}

        {% if transportCompanyDeliveryData.serviceName is defined and transportCompanyDeliveryData.serviceName is not empty %}
            {{ render(controller('Irmag\\OrderDeliveryServiceBundle\\Controller\\DefaultController::indexAction', { weight: weight, volume: volume })) }}
        {% elseif postDeliveryDataSelected is defined and postDeliveryDataSelected == true %}
            {{ render(controller('Irmag\\OrderPostDeliveryBundle\\Controller\\DefaultController::indexAction', { weight: weight, volume: volume })) }}
        {% else %}
            {% include '@IrmagSite/Delivery/delivery-offer.html.twig' %}
        {% endif %}
    </div>

{% endblock %}