{% spaceless %}
    <div class="text-center">
        {% if cityPrediction is not empty and false == app.session.has(constant('Irmag\\SiteBundle\\Service\\GeoLocator\\GeoLocator::SESSION_CITY_PREDICTION_CONFIRMED_LITERAL')) %}
            <h3 class="mt-0">Мы определили ваше местоположение: <b>{{ cityPrediction }}</b>. Верно?</h3>
            <button class="btn btn-success" id="irmag-city-prediction-confirm">Да</button>
            <button class="ml-10 btn btn-warning" id="irmag-city-prediction-dismiss">Нет</button>
        {% else %}
            <h3 class="mt-0">
                {% if true == app.session.get(constant('Irmag\\SiteBundle\\Service\\GeoLocator\\GeoLocator::SESSION_CITY_PREDICTION_CONFIRMED_LITERAL')) %}
                    Рассчитать стоимость доставки в <b>{{ cityPrediction }}</b>
                {% else %}
                    Вы далеко от Иркутска?
                {% endif %}
            </h3>
            <button class="btn btn-warning delivery-service-calculate"
                    type="button"
                    data-weight="{{ weight }}"
                    data-volume="{{ volume }}">Рассчитать доставку</button>
        {% endif %}
    </div>
{% endspaceless %}