/**
 * Стилизация страницы "Правила публикаций"
 */

div.blog-rules {
    ol.blog-rules-sublist {
        li {
            padding-left: 25px;
        }
    }

    .blog-rules-header {
        text-transform: uppercase;
        text-align: center;
        font: $irmag-blog-font-bold;
        font-size: 24px;
        padding: 15px 0;
        color: $irmag-blog-color-black;
    }

    .blog-rules-subheader {
        color: $irmag-blog-color-main-font;
        font: $irmag-blog-font-italic;
        font-size: 22px;
        text-align: center;
    }

    .blog-rules-center-aligned {
        text-align: center;
    }
}

div.blog-about {
    @media (max-width: $screen-xs-max) {
        font-size: 13px;
        text-align: center;
    }
}
