.alert.irmag-error {
    padding: 5px 10px 5px 10px;
    //margin-bottom: 5px !important;

    .fa {
        animation: flash 4s ease infinite;
    }
}

@-webkit-keyframes flash {
    0%,
    100%,
    50% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: .4;
    }
}

@keyframes flash {
    0%,
    100%,
    50% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: .4;
    }
}
