// noscript message
.noscript-padding {
    padding-top: 40px;
}

.noscript-warning {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3000;
    padding: 10px;
    margin-bottom: 40px;
    font-weight: bold;
    letter-spacing: 1px;
}
