section.thread-comments {
    h3 {
        margin-bottom: 20px;
    }

    .jmp-to-compose {
        margin-left: 20px;
        text-decoration: none;
        border-bottom: 1px dotted $link-color;
    }

    .comments {
        margin-bottom: 15px;

        .bad:hover { opacity: 1; }
        .bad-1 { opacity: .8; }
        .bad-2 { opacity: .65; }
        .bad-3 { opacity: .5; }
        .bad-4 { opacity: .35; }
        .bad-5 { opacity: .2; }

        .media {
            overflow: unset;

            // удалённый комментарий
            &.deleted {
                > .media-left {
                    opacity: .4;
                }

                > .media-body {
                    > .comment-text {
                        min-height: unset;
                        margin-bottom: 10px;
                    }
                }
            }

            .media-body {
                overflow: unset;
            }

            .media-heading {
                .username {
                    margin-right: 10px;
                    line-height: 1.5;

                    &.self {
                        color: $brand-success;
                    }
                }

                .time {
                }

                .anchor {
                }

                .reply {
                    margin-left: 4px;
                }

                .scores {
                    color: $text-muted;

                    .score-counter {
                        margin-left: 15px;
                        margin-right: 4px;
                        font-weight: 700;
                        cursor: help;
                    }
                }

                .is-purchased-from-us {
                    line-height: 16px;
                }
            }

            .comment-text {
                min-height: 38px;
            }

            .comment-rating {
                float: right;
                margin-right: 5px;
                cursor: help;
            }

            // выделенный комментарий
            &.jumper-selected {
                > .media-body {
                    > .media-heading {
                        border-radius: $border-radius-base;
                        background-color: $brand-success;

                        .username,
                        small a,
                        .scores a,
                        span {
                            color: white;
                        }

                        .username {
                            margin-left: 5px;
                        }
                    }
                }
            }
        }

        // При ответе показываем кнопку отмена
        .comment-compose {
            margin-right: 20px;
            margin-bottom: 20px;

            .comment-reply-cancel {
                display: inline;
            }

            .rating-separator {
                padding-top: 10px;
                clear: both;
            }
        }
    }

    // Оставить отзыв
    .comment-compose {
        .comment-reply-cancel {
            display: none;
        }

        .comment-spinner {
            position: absolute;
            display: none;
            left: 47%;
            margin-top: -100px;
        }

        .comment-help-arrow {
            width: 350px;
            height: 80px;
            background-size: cover;
            background-image: url('#{$irmag-site-image-dir}/irmag-comment-rating-help-arrow.svg');
        }

        .block-rating {
            .rating-text {
                line-height: 1.3;
                width: 80px;
                text-align: center;

                small {
                    display: block;
                }
            }

            .rating {
                font-size: 26px;
                line-height: 1.35;

                i {
                    cursor: pointer;

                    &::before {
                        content: $fa-var-heart-o;
                        padding-right: 5px;
                    }
                }

                i.hover::before,
                i.selected::before {
                    content: $fa-var-heart;
                }
            }
        }

        // sm, md, lg
        @media (min-width: $screen-sm-min) {
            .comment-help-arrow {
                margin-left: 140px;
            }
        }
    }
}

// xs
@media (max-width: $screen-xs-max) {
    section.thread-comments {
        .comments {
            .media {
                .media-left {
                    img {
                        display: none;
                    }
                }

                .media-heading {
                    .is-purchased-from-us {
                        line-height: 14px;
                    }
                }
            }
        }
    }
}
