input.file-hidden {
    display: none;
}

iframe.irmag-video {
    display: block;
    text-align: center;
    margin: 0 auto;
}

div.post-uploaded-pics {
    margin-bottom: 15px;
    visibility: hidden;
    font-family: "Open Sans", sans-serif;

    div.uploaded-pic-container {
        position: relative;
        display: inline-block;
        font-size: $font-size-small;
        height: 100px;
        width: 100px;
        border: 1px dashed #bfbfbf;
        border-radius: $border-radius-base;
        padding: 10px;
        margin: 5px 10px;
        cursor: pointer;
        vertical-align: top;
        text-align: center;

        &.unattached {
            border: 1px solid #f00;
        }

        i {
            font-size: 20px;
            position: absolute;
            right: -4px;
            top: -2px;
            opacity: .6;

            &:hover {
                opacity: 1;
            }
        }

        p.attachments-note {
            position: absolute;
            display: inline-block;
            line-height: 10px;
            font-size: 10px;
            top: 5px;

            &.p-error {
                color: red;
            }
        }

        img {
            margin-top: 15px;
        }
    }
}
