{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <a href="{{ url('irmag_catalog_element', { id: object.id }) }}" target="_blank" title="Открыть на сайте" data-toggle="tooltip"><i class="fa fa-external-link"></i></a>
{% endblock %}
