{% extends '@SonataAdmin/CRUD/base_list.html.twig' %}

{% import _self as tree %}

{% macro navigate_child(sections, admin, root, depth) %}
    {% import _self as self %}

    <ul{% if root %} class="sonata-tree sonata-tree--toggleable js-treeview"{% endif %}>
        {% for section in sections %}
            <li class="sonata-ba-list-field">
                <div class="sonata-tree__item">
                    {% if section.__children is not empty %}<i class="fa fa-caret-right" data-treeview-toggler></i>{% endif %}
                    <a class="sonata-tree__item__edit" href="{{ admin.generateUrl('edit', { id: section.id }) }}">{{ section.name }}</a>
                    {#<i class="text-muted">{{ section.description }}</i>#}

                    <div class="pull-right">
                        <a href="{{ path('admin_irmag_site_element_list', { filter: { sections: { value: section.id } } }) }}" title="Посмотреть товары" data-toggle="tooltip" data-container="body"><i class="fa fa-fw fa-lg fa-folder-open"></i></a>


                        {% if admin.isGranted('EDIT') %}
                            <a href="{{ admin.generateUrl('edit', { id: section.id }) }}" title="Редактировать" data-toggle="tooltip" data-container="body"><i class="fa fa-fw fa-lg fa-edit"></i></a>
                        {% endif %}

                        <a href="{{ url('irmag_catalog_section', { sectionId: section.id }) }}" target="_blank" title="Открыть на сайте" data-toggle="tooltip"><i class="fa fa-fw fa-lg fa-external-link"></i></a>

                        {% if section.isActive %}
                            <span class="label label-sm label-success"><i class="fa fa-check"></i> активен</span>
                        {% else %}
                            <span class="label label-sm label-danger"><i class="fa fa-times"> не активен</i></span>
                        {% endif %}

                    </div>
                </div>

                {% if section.__children|length %}
                    {{ self.navigate_child(section.__children, admin, false, depth + 1) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% block tab_menu %}
    {% include '@IrmagAdmin/Catalog/section_tab_menu.html.twig' with {
        'mode': 'tree',
        'admin': admin,
    } %}
{% endblock %}

{% block list_table %}
    <div class="col-xs-12 col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h1 class="box-title">
                    Разделы
                </h1>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <a class="tree-expand-all btn btn-default">Развернуть всё</a>
                    <a class="tree-collapse-all btn btn-default">Свернуть всё</a>
                </div>
            </div>
            <div class="box-content">
                {{ tree.navigate_child(sections, admin, true, 0) }}
            </div>
        </div>
    </div>

    <script>
        $(function() {
            var sonataItem = $('.sonata-tree--toggleable .sonata-tree__item');
            var sonataUl = $('.sonata-tree--toggleable li > ul');

            $('.tree-expand-all').on('click', function() {
                sonataItem.addClass('is-toggled');
                sonataUl.show();
            });

            $('.tree-collapse-all').on('click', function() {
                sonataItem.removeClass('is-toggled');
                sonataUl.hide();
            });
        });
    </script>
{% endblock %}
