{% extends 'bootstrap_3_layout.html.twig' %}

{% block form_row %}
{% spaceless %}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        <div class="input-group has-success">
            <div class="input-group-addon">
                {{ label|trans({}, translation_domain)|raw }}
            </div>
            <select id="{{ id }}" name="{{ full_name }}" class="form-control">
                {%- if placeholder is not none -%}
                    <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
                {%- endif -%}

                {%- set options = choices -%}
                {{- block('choice_widget_options') -}}
            </select>
            {% if value is not empty %}
                <div class="input-group-btn">
                    <a href="javascript:;" id="order_delivery_selfservice_map_btn" class="btn btn-default" data-toggle="tooltip" title="{{ 'tooltip.show_map'|trans({}, 'irmag_site') }}" data-google-key="{{ 'dev' == app.environment ? google_maps_api_key_dev : google_maps_api_key }}"><i class="fa fa-map-marker fa-fw"></i></a>
                </div>
            {% endif %}
        </div>

        {{- form_errors(form) -}}
    </div>
{% endspaceless %}
{% endblock %}
