{% extends '@IrmagSite/layout.html.twig' %}

{% block title %}🎉 Оформление заказа{% endblock %}

{% block body %}

    <section class="order container">

        <h1>Оформление заказа</h1>

        {% include '@IrmagSite/Default/breadcrumbs.html.twig' with { breadcrumbs: { 'Корзина': url('irmag_basket'), 'Оформление заказа': null } } %}

        {% embed '@IrmagSite/Default/empty-page-cat-say.html.twig' with { 'margin_top': 10 } %}
            {% block text %}
                <div class="text-left mb-20">
                    <h2>Ваш заказ принят &#9786;</h2>

                    Спасибо за покупку на irmag.ru.<br>
                    Ваш заказ #<a href="{{ path('irmag_profile_order', { id: order.id }) }}">{{ order.id }}</a> от {{ order.createdAt|date(constant('Irmag\\SiteBundle\\Config::DATETIME_FORMAT')) }}.<br>
                    <br>

                    <b>Способ доставки:</b> {{ order.deliveryMethod.name }}<br>

                    {% if order.deliveryServiceData %}
                        <b>Дата доставки:</b> {{ order.deliveryDate|date(constant('Irmag\\SiteBundle\\Config::DATE_FORMAT')) }}<br>
                        <b>Транспортная компания:</b> {{ order.deliveryServiceData.orderDeliveryService.name }}<br>
                        <b>Тип доставки:</b>

                        {% if order.deliveryServiceData.type == constant('Irmag\\OrderDeliveryServiceBundle\\Entity\\OrderDeliveryServiceData::DELIVERY_SERVICE_TYPE_TO_TERMINAL') %}
                            До пункта самовывоза
                        {% elseif order.deliveryServiceData.type == constant('Irmag\\OrderDeliveryServiceBundle\\Entity\\OrderDeliveryServiceData::DELIVERY_SERVICE_TYPE_TO_DOOR') %}
                            До двери
                        {% endif %}
                        <br>

                        {% if order.deliveryServiceData.deliveryPointAddress is not empty %}
                            <b>Адрес пункта:</b> {{ order.deliveryServiceData.deliveryPointAddress }}<br>
                        {% endif %}

                        <b>Адрес доставки:</b> {{ order.deliveryServiceData.orderDeliveryServiceCity.fullName }}<br>
                        <b>Тариф:</b> {{ order.deliveryServiceData.tariff }}<br>
                        <b>Стоимость доставки:</b> {{ order.deliveryServiceData.cost|number_format }} <i class="fa fa-rub"></i><br>
                        <b>Длительность доставки:</b> {{ order.deliveryServiceData.days }} дней<br><br>
                    {% elseif order.postDeliveryData %}
                        <b>Дата доставки:</b> {{ order.deliveryDate|date(constant('Irmag\\SiteBundle\\Config::DATE_FORMAT')) }}<br>
                        <b>Почтовый адрес: </b>{{ order.postDeliveryData.deliveryIndex ~ ', ' ~ order.postDeliveryData.deliveryCity }}<br>
                        <b>Адрес:</b> {{ order.deliveryFullAddress }}<br>

                        {% if order.postDeliveryData.maxDays is not empty %}
                            <b>Длительность доставки:</b>

                            {% if order.postDeliveryData.minDays %}
                                {{ order.postDeliveryData.minDays }} - {{ order.postDeliveryData.maxDays }} дней
                            {% else %}
                                до {{ order.postDeliveryData.maxDays }} дней
                            {% endif %}
                        {% endif %}
                        <br>
                        <br>

                    {% else %}
                        {% if order.deliveryMethod.shortname == 'selfservice' %}
                            <b>Самовывоз из:</b>
                            {% if order.selfserviceMethod %}
                                {% include '@IrmagSite/Order/helper-google-maps-link.html.twig' with { address_name: order.selfserviceMethod, address: order.selfserviceMethod.address } %}
                            {% else %}
                                {% include '@IrmagSite/Order/helper-google-maps-link.html.twig' %}
                            {% endif %}
                            <br>
                        {% else %}
                            <b>Адрес доставки:</b> {{ order.deliveryFullAddress }}<br>
                        {% endif %}
                        <b>Дата {% if order.deliveryMethod.shortname == 'selfservice' %}самовывоза{% else %}доставки{% endif %}:</b> {{ order.deliveryDate|date(constant('Irmag\\SiteBundle\\Config::DATE_FORMAT')) }}<br>
                        <b>Время {% if order.deliveryMethod.shortname == 'selfservice' %}самовывоза{% else %}доставки{% endif %}:</b> {{ order.deliveryTime.name }}<br>
                    {% endif %}

                    <b>Способ оплаты:</b> {{ order.paymentMethod.name }}<br>

                    {% set bonus = get_bonus(order.totalPrice) %}
                    {% if bonus != 0 %}
                        <b>{{ 'order.receive_bonus'|trans({}, 'irmag_site') }}:</b>
                        <span class="label label-warning cursor-help" data-toggle="tooltip" title="Будут начислены после выполнения заказа">{{ bonus }} Ф.</span>
                        <br>
                    {% endif %}

                    {% if order.spendBonus %}
                        <b>{{ 'order.spend_bonus'|trans({}, 'irmag_site') }}:</b>
                        <span class="label label-warning">{{ order.spendBonus }} Ф.</span>
                        <br>
                    {% endif %}

                    {% if order.deliveryPrice %}
                        <b>Сумма заказа:</b> <b>{{ order.totalPrice }}</b> <i class="fa fa-rub"></i><br>
                        <b>Стоимость доставки:</b> <b>{{ order.deliveryPrice|number_format }}</b> <i class="fa fa-rub"></i><br>
                        <u><b>Сумма с учётом доставки:</b></u> <b>{{ (order.totalPrice + order.deliveryPrice)|number_format }}</b> <i class="fa fa-rub"></i><br>
                    {% else %}
                        <u><b>Сумма заказа:</b></u> <b>{{ order.totalPrice|number_format }}</b> <i class="fa fa-rub"></i><br>
                    {% endif %}

                    {% if order.mixedPayment %}
                        <ul class="mb-0">
                            {% if order.mixedPayment.sumCash > 0 %}
                                <li>наличными: {{ order.mixedPayment.sumCash|number_format }} <i class="fa fa-rub"></i></li>
                            {% endif %}

                            {% if order.mixedPayment.sumCard > 0 %}
                                <li>картой: {{ order.mixedPayment.sumCard|number_format }} <i class="fa fa-rub"></i></li>
                            {% endif %}

                            {% if order.mixedPayment.sumCertificate > 0 %}
                                <li>сертификатом: {{ order.mixedPayment.sumCertificate|number_format }} <i class="fa fa-rub"></i></li>
                            {% endif %}
                        </ul>
                    {% endif %}

                    {% if order.checkDeliveryMethod is not empty %}
                        <br><b>Чек будет доставлен вам по {{ order.checkDeliveryMethod }}.</b><br>
                    {% endif %}

                    <br>
                    Вы можете следить за выполнением своего заказа в разделе <a href="{{ path('irmag_profile_orders') }}">мои заказы</a>.
                </div>
            {% endblock %}

            {% block image %}
                <div class="irmag-cat-pic order-finish-img center-block hidden-xs hidden-sm"></div>
            {% endblock %}
        {% endembed %}

        <div class="save-world mt-40">
            <div class="alert alert-info clearfix">
                <div class="row">
                    <div class="col-xs-12 col-md-2 text-center text-success">
                        <i class="fa fa-recycle fa-8x"></i>
                    </div>
                    <div class="col-xs-12 col-md-10 text-justify">
                        <b>Внимание!</b> Интернет-магазин ИРМАГ организует сбор <b>использованных батареек</b> с целью сдачи их в пункт приема и утилизации. Вы можете отдать свои использованные батарейки нашим курьерам при получении заказа.
                        <br>
                        P.S.: Считается, что одна пальчиковая батарейка загрязняет тяжелыми металлами около 20 м<sup>2</sup> почвы. В лесной зоне это территория обитания двух деревьев, двух кротов, одного ёжика и нескольких тысяч дождевых червей.
                        <br>
                        Будь ответственным, не выбрасывай батарейку — <b>спаси ёжика</b>!
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}
