{% set order = form.vars.value %}
{% set isPayerLegal = order.isPayerLegal %}
{% set delivery_city = order.deliveryCity %}
{% set submit_disable = false %}

{% if user_order_profile_form %}
    {# Профиль заказа #}
    <div class="panel order-panel-profile">
        <div class="panel-heading">
            <h3 class="panel-title">Профиль заказа</h3>
            <i class="fa fa-question-circle fa-fw fa-lg cursor-help"
                data-toggle="popover"
                title="Профиль заказа"
                data-content="
В <span class='text-info'>профиле заказа</span> Вы можете хранить Ваш адрес доставки и юридические данные для оформления заказа.<br>
Профилей может быть несколько, например: 'Мой дом на Советской' или 'Моя работа в подземелье'.<br>
Это удобно, если Вы заказываете в разные места или Вашей учётной записью пользуются несколько человек, можно переключаться между ними для автозаполения формы заказа.
"></i>
            <a href="{{ path('irmag_profile_order_profiles') }}" class="btn btn-link btn-sm pull-right btn-sm-right">
                настроить
                <i class="fa fa-external-link-square"></i>
            </a>
        </div>
        <div class="panel-body">
            <div class="row">
                {{ form_start(user_order_profile_form) }}

                    <div class="col-xs-12 col-md-9 col-lg-10">
                        {{ form_row(user_order_profile_form.order_profile) }}
                    </div>
                    <div class="col-xs-12 col-md-3 col-lg-2 text-right">
                        {{ form_row(user_order_profile_form.save, { attr: { class: 'btn-success' } }) }}
                    </div>

                {{ form_end(user_order_profile_form) }}
            </div>
        </div>
    </div>
{% endif %}

{{ form_start(form, { attr: { 'novalidate': 'novalidate' } }) }}

    {# Плательщик #}
    <div class="panel order-panel-payer">
        <div class="panel-heading">
            <h3 class="panel-title">Плательщик</h3>
        </div>
        <div class="panel-body">
            <div class="payer-legal-wrapper">
                {{ form_row(form.isPayerLegal) }}
            </div>

            {# минимальная цена заказа для юр.лица #}
            {% set min_price_for_payer_legal = constant('MIN_PRICE_FOR_PAYER_LEGAL', order) %}
            {% if order.isPayerLegal and min_price_for_payer_legal > irmag.basket.data.totalPrice %}
                {% set submit_disable = true %}
                <div class="alert alert-danger">
                    <span class="fa fa-warning fa-fw"></span>
                    Отгрузка юридических лиц осуществляется при заказе от <b>{{ min_price_for_payer_legal }}</b> <i class="fa fa-rub"></i>.
                    Дополните, пожалуйста, заказ на <b>{{ (min_price_for_payer_legal - irmag.basket.data.totalPrice)|number_format }}</b> <i class="fa fa-rub"></i>.
                </div>
            {% endif %}

            {{ form_row(form.payerIndividual.payerUsername) }}

            <div class="row">
                <div class="col-md-6">
                    {#{ form_row(form.payerIndividual.payerTelephone) }#}
                    <div class="form-group{% if (form.payerIndividual.payerTelephone.vars.valid is same as(false)) %} has-error{% endif %}">
                        {{ form_label(form.payerIndividual.payerTelephone) }}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                            {{ form_widget(form.payerIndividual.payerTelephone) }}
                        </div>
                        {{ form_errors(form.payerIndividual.payerTelephone) }}
                    </div>
                </div>
                <div class="col-md-6">
                    {#{ form_row(form.payerIndividual.payerEmail) }#}
                    <div class="form-group{% if (form.payerIndividual.payerEmail.vars.valid is same as(false)) %} has-error{% endif %}">
                        {{ form_label(form.payerIndividual.payerEmail) }}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-at"></i></span>
                            {{ form_widget(form.payerIndividual.payerEmail) }}
                        </div>
                        {{ form_errors(form.payerIndividual.payerEmail) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Реквизиты компании #}
    {% if form.payerLegal is defined %}
        <div class="panel order-panel-payer">
            <div class="panel-heading">
                <h3 class="panel-title">Реквизиты компании</h3>
            </div>
            <div class="panel-body">
                <div class="form-group has-success">
                    <label class="control-label" for="party">
                        <i class="fa fa-search fa-fw"></i>
                        Поиск для автозаполнениея юр.данных
                    </label>

                    <input class="form-control" id="party" placeholder="Начните набирать название, адрес, ИНН или ОГРН">
                </div>

                <div class="alert alert-info">
                    Не забывайте указывать <b>Индекс</b> в адресах.
                    Формат адреса: <i>"Индекс, Область, Город, Улица, Дом"</i>.
                    <br>
                    Формат грузополучателя: <i>"Юридическое наименование. Юридический адрес"</i>.
                    <br>
                    Дополнительно, Вы можете воспользоваться поиском на сайте
                    <a href="https://egrul.nalog.ru/" rel="external" target="_blank">Федеральной налоговой службы</a>.
                </div>

                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.payerLegal.payerLegalAddress) }}
                    </div>
                    <div class="col-md-6">
                        <div class="checkbox text-sm m-0 pull-right">
                            <label>
                                <input type="checkbox" autocomplete="off" id="legal-address-is-eq">
                                Совпадает с юридическим
                            </label>
                        </div>
                        {{ form_row(form.payerLegal.payerLegalActualAddress) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="checkbox text-sm m-0 pull-right">
                            <label>
                                <input type="checkbox" autocomplete="off" id="consignee-address-is-eq">
                                Совпадает с юридическим
                            </label>
                        </div>
                        {{ form_row(form.payerLegal.payerLegalConsigneeAddress) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.payerLegal.payerLegalName) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.payerLegal.payerLegalInn) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.payerLegal.payerLegalKpp) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.payerLegal.payerLegalOgrn) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.payerLegal.payerLegalBik) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.payerLegal.payerLegalRs) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.payerLegal.payerLegalKrs) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.payerLegal.payerLegalRb) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.payerLegal.payerLegalRbCity) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.payerLegal.payerLegalTelephone) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.payerLegal.payerLegalEmail) }}
                    </div>
                </div>

                <div class="alert alert-info">
                    На указанный адрес электронной почты будет выслан счёт для согласования. Заказ будет доставлен в удобное для вас время и дату <b>после оплаты</b>.
                </div>
            </div>
        </div>
    {% endif %}

    {# Способ доставки #}
    <div class="panel order-panel-delivery-method">
        <div class="panel-heading">
            <h3 class="panel-title">Способ доставки</h3>
        </div>
        <div class="panel-body">
            {# Город #}
            {{ form_row(form.deliveryAddress.deliveryCity) }}

            {% if irmag.basket.data.hasOnlyForHome %}
                {% include '@IrmagBasket/helper-element-only-for-home.html.twig' %}
            {% endif %}

            {{ form_errors(form.deliveryMethod) }}
            {{ form_widget(form.deliveryMethod) }}

            {#
                Если способ доставки выбран курьером и у выбраного города установлена
                "Минимальная стоимость для бесплатной доставки", то показывам расчёт бесплатной доставки.
            #}
            {% if order.deliveryMethod and order.deliveryMethod.shortname in ['courier', 'courier_other_cities'] %}
                {% if delivery_city.minPriceForFreeDelivery %}
                    <div class="alert alert-info">
                        <i class="fa fa-truck fa-lg fa-fw"></i>
                        {% if irmag.basket.data.totalPrice >= delivery_city.minPriceForFreeDelivery %}
                            Доставка по сумме заказа будет <b>бесплатной</b>.
                        {% else %}
                            {% set deliveryPrice = delivery_city.deliveryPrice %}
                            Доставка по сумме заказа обойдется Вам в <span class="label label-primary">{{ deliveryPrice }} <i class="fa fa-rub"></i></span>.<br>
                            <small class="text-muted">Для получения бесплатной доставки, вам необходимо дополнить корзину на <b>{{ (delivery_city.minPriceForFreeDelivery - irmag.basket.data.totalPrice)|number_format }}</b> <i class="fa fa-rub"></i>.</small>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}

        </div>
    </div>

    {# Калькулятор #}
    {% if order.deliveryMethod is not empty and order.deliveryMethod.shortname in ['transport_company', 'russian_post'] %}
        <div class="panel order-panel-delivery-calculator">
            <div class="panel-heading">
                <h3 class="panel-title">Расчёт удалённой доставки</h3>
            </div>

            <div class="panel-body pb-15" id="remote-delivery-embed" data-weight="{{ irmag.basket.data.totalWeight }}" data-volume="{{ irmag.basket.data.totalVolume }}" data-delivery-method="{{ order.deliveryMethod.shortname }}">
                {{ render(controller('Irmag\\SiteBundle\\Controller\\DeliveryController::orderAction', {} ,{ weight: irmag.basket.data.totalWeight, volume: irmag.basket.data.totalVolume, deliveryMethod: order.deliveryMethod.shortname })) }}
            </div>

        </div>
    {% endif %}

    {# Адрес доставки #}
    {% set is_selfservice = order.deliveryMethod and 'selfservice' == order.deliveryMethod.shortname %}
    {% set is_region_available = form.deliveryAddress.deliveryDistrict is defined %}
    <div class="panel order-panel-delivery-address">
        <div class="panel-heading">
            <h3 class="panel-title">Адрес {{ is_selfservice ? 'самовывоза' : 'доставки' }}</h3>
        </div>
        <div class="panel-body">
            {# у самовывоза не нужна улица\дом\квартира #}
            <div{% if is_selfservice or delivery_data and delivery_data.deliveryPoint is defined %} class="hidden"{% endif %}>
                <div class="row">
                    {% if is_region_available %}
                        <div class="col-md-6">
                            <div class="form-group{% if form.deliveryAddress.deliveryDistrict.vars.errors|length > 0 %} has-error{% endif %}">
                                {{ form_label(form.deliveryAddress.deliveryDistrict, is_selfservice ? 'form.label.delivery_date_selfservice') }}
                                <div class="input-group cursor-pointer">
                                    <span class="input-group-addon"><i class="fa fa-map-signs"></i></span>
                                    {{ form_widget(form.deliveryAddress.deliveryDistrict) }}
                                </div>
                                {{ form_errors(form.deliveryAddress.deliveryDistrict) }}
                            </div>
                        </div>
                    {% endif %}

                    <div class="{{ is_region_available ? 'col-md-6' : 'col-md-12' }}">
                        {{ form_row(form.deliveryAddress.deliveryStreet) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.deliveryAddress.deliveryHouse) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.deliveryAddress.deliveryApartment) }}
                    </div>
                </div>
            </div>

            {# показываем способы самовывоза #}
            {% if form.selfserviceMethod is defined %}
                {% form_theme form.selfserviceMethod '@IrmagSite/Order/fields_selfserviceMethod.html.twig' %}
                {{ form_row(form.selfserviceMethod) }}
            {% endif %}

            <div class="row">
                {# Дата доставки #}
                <div class="col-md-6">
                    <div class="form-group{% if form.deliveryDate.vars.errors|length > 0 %} has-error{% endif %}">
                        {{ form_label(form.deliveryDate, is_selfservice ? 'form.label.delivery_date_selfservice') }}
                        <div class="input-group cursor-pointer">
                            <span class="cursor-pointer input-group-addon"><i class="fa fa-calendar"></i></span>
                            {{ form_widget(form.deliveryDate) }}
                            <span class="input-group-btn">
                                <button class="btn btn-info" id="autopick-date" type="button" title="{{ 'tooltip.autopick_date'|trans({}, 'irmag_site') }}" data-toggle="tooltip" data-html="true"><i class="fa fa-magic fa-fw"></i></button>
                            </span>
                        </div>
                        {{ form_errors(form.deliveryDate) }}
                    </div>
                </div>
                {# Время доставки #}
                <div class="col-md-6">
                    <div class="form-group{% if form.deliveryTime.vars.errors|length > 0 %} has-error{% endif %}">
                        {{ form_label(form.deliveryTime, is_selfservice ? 'form.label.delivery_time_selfservice') }}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                            {{ form_widget(form.deliveryTime) }}
                        </div>
                        {{ form_errors(form.deliveryTime) }}
                    </div>
                </div>

                <div class="col-xs-12">
                    {% if form.deliveryTime.vars.data.shortname is defined and form.deliveryTime.vars.data.shortname == 'fast' %}
                        {% if irmag.basket.data.totalPrice >= delivery_city.minPriceForFreeDelivery %}
                            {% set deliveryPrice = delivery_city.extraPriceForFastDeliveryTime %}
                        {% else %}
                            {% set deliveryPrice = delivery_city.deliveryPrice + delivery_city.extraPriceForFastDeliveryTime %}
                        {% endif %}

                        <div class="alert alert-success">
                            <i class="fa fa-rocket fa-fw"></i>
                            Срочная доставка обойдется Вам в <span class="label label-primary">{{ deliveryPrice }} <i class="fa fa-rub"></i></span>.
                        </div>
                    {% endif %}

                    {% if form.vars.max_transfer_value > 0 %}
                        <div class="alert alert-transfer">
                            <span class="props">
                                <i class="prop-transfer fa fa-fw" data-toggle="tooltip" title="{{ 'element.transfer'|trans({}, 'irmag_site') }}"></i>
                            </span>

                            В вашем заказе есть трансферные товары с доставкой через <b>{{ form.vars.max_transfer_value }}</b> дн.

                            <div class="visible-xs-block mt-10"></div>

                            <a href="{{ path('irmag_basket') }}" class="btn btn-default btn-sm">
                                <i class="fa fa-fw fa-shopping-basket"></i>
                                Перейти в корзину
                            </a>
                        </div>
                    {% endif %}

                    {% if order.deliveryMethod is not empty %}
                        {% if order.deliveryMethod.shortname == 'transport_company' %}
                            <div class="alert alert-info">
                                Дата доставки рассчитывается <b>ориентировочно</b> и зависит от графика работы выбранной транспортной компании.
                            </div>
                        {% elseif order.deliveryMethod.shortname == 'selfservice' and order.selfserviceMethod is not empty %}
                            <div class="alert alert-info">
                                Ожидайте <b>SMS</b> уведомление о готовности Вашего заказа, после чего Вы сможете забрать заказ из пункта самовывоза.
                            </div>
                        {% elseif order.deliveryMethod.shortname == 'courier' %}
                            <div class="alert alert-info">
                                Путевка курьера формируется автоматически, поэтому привезти заказ "к 13.00 ровно" или "после 20:00" мы технически не можем. Ожидайте курьера в указанный вами интервал.
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {# Способ оплаты #}
    <div class="panel order-panel-payment-method">
        <div class="panel-heading">
            <h3 class="panel-title">Способ оплаты</h3>
        </div>
        <div class="panel-body">
            {{ form_errors(form.paymentMethod) }}
            {{ form_widget(form.paymentMethod) }}
        </div>
    </div>

    {# Cмешанный платеж #}
    {% if form.mixedPayment is defined %}
        {% form_theme form.mixedPayment.sumCertificate '@IrmagSite/Default/fields_money_number.html.twig' %}

        <div class="panel order-panel-mixed-payment">
            <div class="panel-heading">
                <h3 class="panel-title">Смешанный платёж</h3>
            </div>
            <div class="panel-body">
                {{ form_widget(form.mixedPayment) }}
                {{ form_errors(form.mixedPayment) }}
            </div>
        </div>
    {% endif %}

    {# Комментарий к заказу #}
    <div class="panel order-panel-comment">
        <div class="panel-heading">
            <h3 class="panel-title">Комментарий к заказу</h3>
        </div>
        <div class="panel-body">
            {{ form_row(form.deliveryAddress.deliveryComment, { label: false }) }}
        </div>
    </div>

    {# Способ доставки чека #}
    {# Для юр.лиц с расчетным счетом не показываем #}
    {% if not isPayerLegal or (isPayerLegal and order.paymentMethod is null or order.paymentMethod.shortname != 'legal_rs') %}
        <div class="text-center mt-20">
            {{ form_widget(form.checkDeliveryMethod) }}
            {{ form_errors(form.checkDeliveryMethod) }}
        </div>
    {% endif %}

    {# Соглашение об обработке персональных данных #}
    <div class="text-center mt-20">
        {{ form_widget(form.isAgreementAccepted) }}
        {{ form_errors(form.isAgreementAccepted) }}
    </div>

    {# submit btn #}
    {% set submit_btn_text = order.paymentMethod and order.paymentMethod.shortname in ['online', 'apple_pay', 'android_pay']
        ? 'Оплатить и отправить заказ'
        : 'Отправить заказ'
    %}

    <div class="text-center">
        <h3 class="mb-20">
            {% if deliveryPrice is defined or post_delivery_data.price is defined or delivery_data.cost is defined %}

                {% if deliveryPrice is not defined %}
                    {% if post_delivery_data.price is defined %}
                        {% set deliveryPrice = post_delivery_data.price %}
                    {% elseif delivery_data.cost is defined %}
                        {% set deliveryPrice = delivery_data.cost|round %}
                    {% endif %}
                {% endif %}

                Общая стоимость с учетом доставки: <b><span id="total-tip">{{ (irmag.basket.data.totalPrice + deliveryPrice)|number_format }}</span> <i class="fa fa-rub"></i></b>
            {% else %}
                Общая стоимость: <b><span id="total-tip">{{ irmag.basket.data.totalPrice|number_format }}</span> <i class="fa fa-rub"></i></b>
            {% endif %}
        </h3>

        <button class="btn btn-success btn-lg send-order"{% if submit_disable %} disabled{% endif %}
            onclick="if ('undefined' !== typeof yaCounter{{ metrics.ya_id }}) yaCounter{{ metrics.ya_id }}.reachGoal('send_order');">
            <i class="fa fa-check-circle fa-fw"></i> {{ submit_btn_text }}
        </button>
    </div>

    {% if form._token is defined %}
        {{ form_row(form._token) }}
    {% endif %}

{{ form_end(form, { 'render_rest': false }) }}
